
<!DOCTYPE html>
<html lang="en">

<head>

    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>평택대학교 게임 스쿨에 오신 걸 환영합니다.</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/hanna.css">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
   <link rel="stylesheet" type="text/css" href="/css/gamepagestylesheet.css">
   
   <style>
       hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
    }
    hr.style17:after {
    	content: '§';
    	display: inline-block;
    	position: relative;
    	top: -14px;
    	padding: 0 10px;
    	background: #f0f0f0;
    	color: #8c8b8b;
    	font-size: 18px;
    	-webkit-transform: rotate(60deg);
    	-moz-transform: rotate(60deg);
    	transform: rotate(60deg);
    }
   </style>

</head>

<body style="background-image:url('http://cfs2.blog.daum.net/upload_control/download.blog?fhandle=MEFMbTBAZnMyLmJsb2cuZGF1bS5uZXQ6L0lNQUdFLzAvMTguanBnLnRodW1i&filename=18.jpg');">

 <%=render :partial =>"game_page/fixed_bar" %>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('http://fmh.kr/files/attach/images/1648539/517/875/001/cd63a72398ab4c6cc9a8c6497895a841.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <div class="site-heading">
                       
                        <h1><font1>대 / 진 / 표</font1></h1>
                        <hr>
                        <span class="subheading"><font1>자신의 상대팀을 확인하세요</font1></span>
                      
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h4 class="section-heading">롤 대회 대진표 입니다.</h4>
                    
                    <h5>1위.병빠기와 아이들</h5>
                    <h5>2위.TIP+</h5>
                    <h5>3위.그리워하면</h5>
                    <h5>4위.언젠가 만나게되는</h5>
                    <h5>5위.어느 영화와 같은 일들이</h5>
                     <a href="/freematch/loldetailrank" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">크게보기</a>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
               
                    <img class="img-responsive" src="/imgs/대진표.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    <div class="content-section-b"><br><hr class="style17"><br>

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h4 class="section-heading">피파온라인3 대회 대진표 입니다.</h4>
                    
                    <h5>1위.병빠기와 아이들</h5>
                    <h5>2위.TIP+</h5>
                    <h5>3위.그리워하면</h5>
                    <h5>4위.언젠가 만나게되는</h5>
                    <h5>5위.어느 영화와 같은 일들이</h5>
                     <a href="/freematch/loldetailrank" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">크게보기</a>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
               
                    <img class="img-responsive" src="/imgs/대진표.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    
    <div class="content-section-b"><br><hr class="style17"><br>

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h4 class="section-heading">하스스톤 대회 대진표 입니다.</h4>
                    
                    <h5>1위.병빠기와 아이들</h5>
                    <h5>2위.TIP+</h5>
                    <h5>3위.그리워하면</h5>
                    <h5>4위.언젠가 만나게되는</h5>
                    <h5>5위.어느 영화와 같은 일들이</h5>
                     <a href="/freematch/loldetailrank" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">크게보기</a>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
               
                    <img class="img-responsive" src="/imgs/대진표.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div><br><hr class="style17"><br>
    
      <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/clean-blog.min.js"></script>

</body>

</html>