<!DOCTYPE html>
<html>
<body>
<div class="row">
<div class="col-md-5"></div>
<div class="col-md-2">
<table style="width:100%">
<tr>
    <td>순위</td>
    <td>팀명</td>		
    <td>포인트</td>
  </tr>
  <tr>
    <td>1</td>
    <td>TIP+</td>		
    <td>500</td>
  </tr>
  <tr>
    <td>2</td>
    <td>이병호</td>		
    <td>344</td>
  </tr>
  <tr>
    <td>3</td>
    <td>병빠기</td>		
    <td>343</td>
  </tr>
</table>
</div>
<div class="col-md-5"></div>
</div>

</body>
</html>
