font1{
          font-family: 'Jeju Gothic', serif;
      }
font2{
          font-family: 'Hanna', serif;
      }
font3{
          font-family: 'Hanna', serif;
          font-size:21px;
      }
      
body {
              padding:0;
              margin:0;
 
              background-image: url('http://www.ucorean.com/files/attach/images/3959561/691/787/008/peaceful_summer_day-1920x1080.jpg');
              width: 100%; 
              height: 100%; 
              overflow: hidden; 
              background-position: 0 0; 
              background-repeat: no-repeat; 
              background-attachment: fixed; 
              background-size: cover;
              position: relative;
              overflow-y: auto; 
          }
  input#round{

width:70px; /*same as the height*/
height:50px; /*same as the width*/
background-color:#8287E8;
border:1px solid gray; /*same colour as the background*/
color:white;
font-size:12px;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
/*give the button a small drop shadow*/
-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
input#round:hover{
background:#B2B1E1;
border:1px solid gray;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}
          