   
   <style>
   #layer_fixed
{
    
   
    width:100%;
   
    
    position:fixed;
    top:0px;
    left:0px;
}
   </style>
  
   
   
   
   <div id="layer_fixed">
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   
     <ul class="nav navbar-nav navbar-left">
            
                <li >
                    <a href="/game_page/main"><font size="4px"><font1>Home</font1></font></a>
                </li>
                <li>
                    <a href="/home/participation"><font size="4px"><font1>로그인</font1></font></a>
                </li>
                <li>
                    <a href="about.html"><font size="4px"><font1>로그아웃</font1></font></a>
                </li>
                <li>
            
            </ul>
           
            <ul class="nav navbar-nav navbar-right">
            
                
                <li>
                    <a href="/home/participation"><font size="4px"><font1>팀 등록</font1></font></a>
                </li>
                <li>
                    <a href="about.html"><font size="4px"><font1>대전신청</font1></font></a>
                </li>
                <li>
                    <a href="/freeboard/freeboards"><font size="4px"><font1>게시판</font1></font></a>
                </li>
                <li>
                    <a href="contact.html" ><font size="4px"><font1>랭킹보기</font1></font></a>
                </li>
                 <li>
                    <a href="contact.html" ><font size="4px"><font1>대진표</font1></font></a>
                </li>
            </ul>
        </div>
        </div>