
<!DOCTYPE html>
<html lang="en">

<head>

    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Sample Post</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/hanna.css">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
   <link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>

<body style="background-image:url('http://selfland.com/home/upload/images/10/1072194960.jpg');">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">GameSchool</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="padding-top:1px; padding-bottom:1px; background:rgba(80,80,80,0.7); align:center">
                
                    <li >
                        <a href="index.html"><font size="4px"><font1>Home</font1></font></a>
                    </li>
                    <li>
                        <a href="/home/participation"><font size="4px"><font1>팀 등록</font1></font></a>
                    </li>
                    <li>
                        <a href="about.html"><font size="4px"><font1>대전신청</font1></font></a>
                    </li>
                    <li>
                        <a href="/freeboard/freeboards"><font size="4px"><font1>게시판</font1></font></a>
                    </li>
                    <li>
                        <a href="contact.html" ><font size="4px"><font1>랭킹보기</font1></font></a>
                    </li>
                     <li>
                        <a href="contact.html" ><font size="4px"><font1>대진표</font1></font></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/main_back.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <div class="site-heading">
                       
                        <h1>Welcome to GameSchool</h1>
                        <hr class="small">
                        <span class="subheading">아래의 자세한 내용을 확인해주세요</span>
                       
                    </div>
                </div>
            </div>
        </div>
    </header>
    
     <center>
    <div class="row">
  <div class="col-xs-18 col-md-12"></div>
  
  <div class="container">
  <h2>오늘의 매치!</h2>
  <div class="panel panel-info">
    <div class="panel-heading"><font2>Match</font2></div>
    <div class="panel-body" style="font-family: 'Hanna', serif;">Panel Content</div>
   
  </div>
</div>
</div></center>
<br><br><br><br>
    

   <div class="row">
    <div class="col-sm-3 col-md-3"></div>
  <div class="col-sm-4 col-md-2">
    <div class="thumbnail"  style="height:500px">
      <img src="http://news.cdn.leagueoflegends.com/public/images/gnr/img/Wallpaper_Gnar.jpg" alt="...">
      <div class="caption">
        <h3>공지사항</h3>
         <font1 style="align:left">1.일단 완성하자</font1><br>
        <font1>2.화이팅</font1><br>
       
      </div>
    </div>
     <center><p><a href="#" class="btn btn-primary" role="button"><font2>Detail</font2></a></center>
  </div>
  
 
  <div class="col-sm-4 col-md-2">
    <div class="thumbnail"  style="height:500px">
      <img src="http://news.cdn.leagueoflegends.com/public/images/gnr/img/Wallpaper_Gnar.jpg" alt="...">
      <div class="caption">
        <h3>New Team</h3>
        <font1>1.병빠기와 아이들</font1><br>
        <font1>2.TIP+</font1><br>
        
      </div>
    </div>
    <center><p><a href="#" class="btn btn-primary" role="button"><font2>Detail</font2></a></center>
  </div>
  
   <div class="col-sm-4 col-md-2">
    <div class="thumbnail" style="height:500px">
      <img src="http://news.cdn.leagueoflegends.com/public/images/gnr/img/Wallpaper_Gnar.jpg" alt="...">
      <div class="caption">
        <h3>TOP 5 Team</h3>
        <font2>1.이병호</font2><br>
        <font2>2.TIP+</font2><br>
         <font1>3.병빠기와 아이들</font1><br>
       
      </div>
    </div>
     <center><p><a href="#" class="btn btn-primary" role="button"><font2>Detail</font2></a></center>
  </div>
<div class="col-sm-3 col-md-3"></div>
</div>


  <br><br><br><br>
  
  
    
    

   
   

   
    
    <!-- Footer -->
    <footer>
        
                    <p class="copyright text-muted">완성하자</p>
             
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/clean-blog.min.js"></script>

</body>

</html>