font1{
          font-family: 'Jeju Gothic', serif;
      }
font2{
          font-family: 'Hanna', serif;
      }
font3{
          font-family: 'Hanna', serif;
          font-size:14px;
      }
      
body {
              padding:0;
              margin:0;
              background-image: url('');
              width: 100%; 
              height: 100%; 
              overflow: hidden; 
              background-position: 0 0; 
              background-repeat: no-repeat; 
              background-attachment: fixed; 
              background-size: cover;
              position: relative;
              overflow-y: auto; 
        }
 
          