# ALWAYS_SEND_UNMAPPED_KEY
# Stunt Rider 3d Racing

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (74,86)
Right	= Tap (92,86)
Up	= Tap (10,86)
Space	= Tap (93,62)


[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Space	= SSpace

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Up
B	= Space

[OpenSensor]
Mode	= TapD
A	= Left	SLeft
B	= Up	SUp
C	= Right	SRight
D	= Space	SSpace

[Strings]
SLeft	= Flip Up
SRight	= Flip Down
SUp	= Speed
SSpace	= Jump