# Candy Transport

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

#Left	= Tilt Absolute (0,-20) Return
#Right	= Tilt Absolute (0,20) Return
Up	= Tap (80,86)
Down	= Tap (20,86)

[Guidance]


Up	= SUp
Down	= SDown

[Gamepad]

Hat_Left = Down
Hat_Right	= Up
A	= Down
B	= Up


[Strings]

SUp	= Speed
SDown	= Reverse
