# ALWAYS_SEND_UNMAPPED_KEY
# Stick Tennis

[Origin]
Author	= Adi
Rating	= 4.5

[Keys]
Up	= Swipe Up
Down	= Swipe Down
Left	= Swipe Left
Right	= Swipe Right

[Guidance]
Up	= SStraight
Left	= SLeft
Right	= SRight


[GamePad]
Hat_Up			= Up
Hat_Down		= Down
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Up		= Up
LeftStick_Down		= Down
LeftStick_Left		= Left
LeftStick_Right		= Right



[Strings]
SStraight		= Straight
SLeft	= Left Shot
SRight	= Right Shot

