# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Practice Cricket
#

[Origin]
Author 				= Aditya
Rating 				= 3.6

[Keys]
Up 				= Tap (41,51)
Down 				= Tap (42,72)


[GamePad]
A 				= Down
B 				= Up

[Guidance]
Up				= Attack
Down				= Defense

[OpenSensor]
Mode 				= TapB
A 				= Up			STap1
B 				= Down			STap2


[Strings]
STap1 				= Attack
STap2 				= Defense
	
