# ALWAYS_SEND_UNMAPPED_KEY
# Alien invasion(shoot)
[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (15,72)
Right	= Tap (30,72)

[Guidance]

Left	= Move Left
Right	= Move Right

[Gamepad]

LeftStick_Left		= Left
LeftStick_Right	= Right
Hat_Right	= Right
Hat_Left	= Left

[OpenSensor]

Mode	= ModeB
A	= Left	SLeft
B	= Right	SRight

[Strings]

SLeft	= Move Left
SRight	= Move Right

