# ALWAYS_SEND_UNMAPPED_KEY
# Atv Extreme Winter Free

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Up	= Tap (95,64)
Down	= Tap (94,86)
Left	= Tap (5,64)
Right	= Tap (5,86)


[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A = Down
B = Up

[Guidance]

Left	= Flip Back
Right	= Flip Front
Up	= Speed
Down	= Back

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Up	SUp
D	= Down	SDown

[Strings]

SLeft	= Backward
SRight	= Forward
SUp	= Flip Front
SDown	= Flip Back
