# ALWAYS_SEND_UNMAPPED_KEY
# Jetpack Candyman

[Origin]

Author	= Harsh
Rating	= 4.0
Build	= 1.0.52
Version	= 3.0
[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Up	= Swipe Up
[Guidance]

Left	= Move Left
RIght	= Move Right
Up	= Move Up

[Gamepad]

LeftStick	= Tilt
Hat_Left	= Left
Hat_Right	= Right
A	= Up
[OpenSensor]

Mode	= TiltTapA
A	= Up	SUp
Tilt	= STilt

[Strings]

STilt	= Tilt to move
SUp	= Move Up
