# ALWAYS_SEND_UNMAPPED_KEY
# Clear Vision 17+

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Up	= Tilt Absolute (20,0) Return
Down	= Tilt Absolute (-20,0) Return
Space	= Tap (8,85)
Z	= Tap (23,88)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Down	= Down
LeftStick_Right	= Right
LeftStick_Up	= Up

Hat_Left		= Left
Hat_Down	= Down
Hat_Up		= Up
Hat_Right		= Right

B		= Z
A		= Space

[Guidance]

Left	= Left
Right	= Right
Up	= Up
Down	= Down
Space	= Shoot
Z	= Reload

[OpenSensor]

Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Z	SZ

[Strings]
STilt	= Tilt to move
SSpace	= Shoot
SZ	= Reload