# ALWAYS_SEND_UNMAPPED_KEY
#
# Pocket fleet Multiplayer
#


[Origin]
Author 				= Aditya
Rating 				= 4.6

[Keys]
Left				= Tilt Absolute (0,-45) Return
Right				= Tilt Absolute (0,45)  Return
Space				= Tap (85,56)
Up 				= Tap (11,79)
X				= Tap (87,77)

[Guidance]
Left				= Move Left
Right				= Move Right
Space				= Bullet
Up 				= Speed
X				= Rocket
Z				= Bullet
LeftStick				= Lean

[GamePad]
A 				= Z
B				= X
Hat_Left 				= Left
Hat_Right 			= Right
Hat_Up 				= Up

LeftStick				= Tilt

[OpenSensor]
Mode 				= TiltTapC
Tilt 				= STilt
A 				= Up   	STap
B				= X	STap2
C				= Z	STap3

[Strings]
STilt 				= Tilt To Move
STap 				= Speed
STap2				= Rocket
STap3				= Bullets
 