# ALWAYS_SEND_UNMAPPED_KEY
# Water Racing

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (4,87)
Right	= Tap (18,87)
Up	= Tap (97,87)
Down	= Tap (81,87)

[Guidance]

Left	= Flip Up
Right	= Flip Down
Up	= Speed
Down	= Brake

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A		= Down
B		= Up

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Up	SUp
C	= Right	SRight
D	= Down	SDown

[Strings]
SLeft	= Flip Up
SRight	= Flip Down
SUp	= Speed
SDown	= Brake