# ALWAYS_SEND_UNMAPPED_KEY
# Godzilla - Openbox Games

[Origin]

Author	= Harsh
Rating	= 3.6

[Keys]

Up	= Tap (89,59)
Down	= Tap (89,81)
Space	= Tap (78,71)

[Guidance]

Up	= SUp
Down	= SDown
Space	= SSpace

[Gamepad]

LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Down	= Down
Hat_Up	= Up

A	= Space

[OpenSensor]

Mode	= TapC
A	= Space	SSpace
B	= Up	SUp
C	= Down	SDown

[Strings]
SSpace	= Shoot
SUp	= Move Up
SDown	= Move Down