# ALWAYS_SEND_UNMAPPED_KEY
# Car Racing

[Origin]

Author	= Harsh
Rating	= 3.6

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Up	= Tap (96,86)
Down	= Tap (3,88)

[Guidance]
Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right

A	= Down
B	= Up

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Up	SUp
C	= Right	SRight
D	= Down	SDown

[Strings]
SLeft	= Move Left
SRight	= Move Right
SUp	= Speed
SDown	= Brake