# ALWAYS_SEND_UNMAPPED_KEY
# Racing Tank

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (7,50)
Right	= Tap (80,50)
Space	= Tap (57,92)
Z	= Tap (93,87)
Up	= Tap (75,92)

[Guidance]

Left	= SLeft
Right	= SRight
Space	= SSpace
Z	= SZ
Up	= SUp

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Z
B	= Space
X	= Up

[Strings]
SSpace	= Shoot
SLeft	= Move Left
SRight	= Move Right
SZ	= Brake
