# ALWAYS_SEND_UNMAPPED_KEY
#Gunman Clive

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (7,83)
Right	= Tap (17,83)
Up	= Tap (12,74)
Down	= Tap (12,93)

Space	= Tap (81,86)
Z	= Tap (91,87)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left		= Left
Hat_Down		= Down
Hat_Up		= Up
Hat_Right		= Right

A		= Z
B		= Space

[Guidance]

Left	= Move Back
Right	= Move Forward
Up	= Move Up
Down	= Move Down
Space	= Shoot
Z	= Jump

[OpenSensor]

Mode	= Touch1TapB
Area1	= (7,74,10,19)	SArea1
A	= Space	SSpace
B	= Z	SZ

[Strings]

SArea1	= Tap to move
SSpace	= Shoot
SZ	= Jump
