# ALWAYS_SEND_UNMAPPED_KEY
# Helium Boy

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (7,83)
Right	= Tap (17,83)
Up	= Tap (12,74)
Down	= Tap (12,93)
Z	= Tap (81,87)
Space	= Tap (92,86)

[Guidance]
Left	= Move left
Right	= Move right
Up	= Move up
Down	= Move down
Space	= Jump
Z	= Pump

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up		= Up
Hat_Down	= Down
Hat_Left		= Left
Hat_Right		= Right

A		= Space
B		= Z

[OpenSensor]

Mode	= Touch1TapB
Area1	= (7,74,10,19)	SArea1
A	= Space	SSpace
B	= Z	SZ

[Strings]

SArea1	= Tap to move
SSpace	= Jump
SZ	= Pump
