# ALWAYS_SEND_UNMAPPED_KEY
﻿# Tappy Run Xmas Christmas Game

[Origin]
Author      	= Harsh
Rating		= 4.0

[Keys]

Space		= Tap
Up	= Swipe Up
Down	= Swipe Down

[Gamepad]
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up	= Up
Hat_Down	= Down


A		= Space

[Guidance]
Up	= Move Up
Down	= Move Down
Space		= Jump

[OpenSensor]

Mode		= Touch1
Area1		= (0,0,100,100) 	SArea1

[Strings]

SArea1		= Move Up & Down, Jump