# ALWAYS_SEND_UNMAPPED_KEY
# Extreme Bike Trip

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (10,84)
Right	= Tap (90,84)

[Guidance]

Left	= Flip Up
Right	= Flip Down

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

[OpenSensor]

Mode	= TapB
A	= Left	SLeft
B	= Right	SRight

[Strings]
SLeft	= Flip Up
SRight	= Flip Down