# ALWAYS_SEND_UNMAPPED_KEY
# Extreme Roadtrip 2

[origin]
Author	= Chirag
Rating	= 4.0

[keys]
Left	= Tap (10,87)
Right	= Tap (90,87)
Space	= Tap (50,30)

[Guidance]
Left	= Flip Back
Right	= Flip Front
Space	= Nitro

[Gamepad]

Hat_Left		= Left
LeftStick_Left	= Left

A		= Space

Hat_Right		= Right
LeftStick_Right	= Right

[OpenSensor]
Mode	= TapC
A	= Space		SBoost
B	= Right		SFlip1
C	= Left		SFlip


[strings]
SFlip = Flip Back
SFlip1 = Flip Front
SBoost = Nitro
