# ALWAYS_SEND_UNMAPPED_KEY
# Stick Top Sniper

[Origin]

Author	= Mapping Manager
Rating	= 4.3

[Keys]

A	= Tap (7,88)

[Guidance]

A	= SA

[Gamepad]

A	= A

[OpenSensor]


[Strings]

SA	= Shoot
