# ALWAYS_SEND_UNMAPPED_KEY
#
# Zen Pinball HD
#
[Origin]
Author = Harsh
Rating	= 4.0

[Keys]

Left	= Tap (20,75)
Right	= Tap (70,75)

[Guidance]

Left		= SLeft
Right		= SRight


[Gamepad]
Hat_Left		= Left
Hat_Right		= Right
LeftStick_Left	= Left
LeftStick_Right	= Right


[OpenSensor]
Mode	= TapB

A	= Right	SRight
B	= Left	SLeft
[Strings]
SLeft		= Left 
SRight		= Right  
