# ALWAYS_SEND_UNMAPPED_KEY
# Dante Zombieventure

[Origin]

Author	= Adi
Rating	= 4.0

[Keys]

Right	= Tap (22,87)
Left	= Tap (09,88)
Up	= Tap (09,70)
Space	= Tap (82,85)
Z	= Tap (90,63)


[Guidance]
Left	= Move Left
Right	= Move Right
Space	= Attack
Z	= Air Strike
Up	= Grab

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right
X		= Z
Hat_Left		= Left
Hat_Right		= Right
A		= Up
B		= Space
