# ALWAYS_SEND_UNMAPPED_KEY
# Monster Wheels: Kings of Crash

[Origin]
Author 				= Harsh
Rating				= 4.0

[Keys]

Left 				= Tap (6,73)
Right 				= Tap (20,86)
Space 				= Tap (89,82)


[Guidance]

Right				= SRight
Left  				= SLeft
Space 				= SSpace

[GamePad]
LeftStick_Left 			= Left
LeftStick_Right 			= Right

Hat_Left 			= Left
Hat_Right 			= Right

A 				= Space


[OpenSensor]
Mode = TapC
A 				= Left   	 SLeft
C 				= Right  	 SRight
B 				= Space   	 SSpace

[Strings]
SLeft				= Flip Up
SRight 				= Flip Down
SSpace				= Boost