# ALWAYS_SEND_UNMAPPED_KEY
﻿
# Circus Trainer

[Origin]
Author      	= Harsh
Rating		= 3.7

[Keys]

Space		= Tap

[Gamepad]

A		= Space

[Guidance]

Space		= Jump

[OpenSensor]

Mode		= TapA
A		= Space	SArea1

[Strings]

SArea1		= Jump