# ALWAYS_SEND_UNMAPPED_KEY
# Dead Rider

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Down	= Tap (4,88)
Up	= Tap (18,88)
Left	= Tap (81,88)
Right	= Tap (96,88)
Space	= Tap (50,87)


[Guidance]

Left	= Lean Up
Right	= Lean Down
Up	= Speed
Down	= Brake
Space	= Driver reverse

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left	= Left
Hat_Up	= Up
Hat_Down	= Down
Hat_Right	= Right

LeftButton	= Space
RightButton	= Space
A		= Up
B		= Down

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Up	SUp
D	= Down	SDown

[Strings]

SLeft	= Brake
SRight	= Speed
SUp	= Lean Up
SDown	= Lean Down