# ALWAYS_SEND_UNMAPPED_KEY
#
# Robbery Bob
#

[Origin]
Author 			= Chirag
Rating 			= 4.6

[Keys]
Z 			= Tap (85,73)
X 			= Tap (93,13)
Space 			= Tap (85,73)
Enter 			= Tap (93,13)


[OpenSensor]
Mode 			= Touch1TapB
Area1 			= (3,51,24,44)		SArea
A 			= Enter			SLoot
B 			= Space			SSprint

[Strings]
SArea 			= Tap To Move
SLoot 			= Tap To Loot
SSprint 		= Tap To Sprint
