# ALWAYS_SEND_UNMAPPED_KEY
#
# The Dark Knight Rises
#


[Origin]
Author = Chirag
Rating = 5.0

[Keys]
Up		= Key Up
Down	 	= Key Down
Right		= Key Right
Left		= Key Left
Space 		= Tap (93,74)
Z 	 	= Tap (84,60) 
X 	 	= Tap (86,92)
C		= Tap (94,57)


[Guidance]
Left 		= SLeft
Right 		= SRight
Up 		= SUp
Down 		= SDown
Space 		= SHit
Z 		= SJump
X 		= SShoot

[GamePad]
LeftStick_Left 	= Left
LeftStick_Right = Right
LeftStick_Up 	= Up
LeftStick_Down 	= Down
Hat_Left 	= Left
Hat_Right 	= Right
Hat_Up 		= Up
Hat_Down 	= Down
A 		= Space
B 		= X
LeftButton 	= Z
RightButton 	= C

[OpenSensor]
Mode 		= Touch1TapC
Area1 		= (6,59,13,24)	STouch
A 		= Z
B 		= Space
C 		= X


[Strings]
STouch          = Touch To Move
SLeft 		= Move Left
SRight 		= Move Right
SUp 		= Move Up
SDown 		= Move Down
SJump 		= Jump
SShoot 		= Shoot
SHit 		= Hit