# ALWAYS_SEND_UNMAPPED_KEY
#
# Stunt Car Challenge
#

[Origin]
Author 				= Kunal
Rating 				= 4.0

[Keys]
Left 				= Tap (12,62)
Right 				= Tap (88,62)
Up 				= Tilt Absolute (0,-25) Return
Down 				= Tilt Absolute (0,25) Return
Space				= Tap (9,33)

[Guidance]
Left 				= Move Left
Right 				= Move Right
Up 				= Flip Up
Down 				= Flip Down
Space				= Nitro

[GamePad]
LeftStick_Left 			= Left
LeftStick_Right 			= Right
LeftStick_Up 			= Up
LeftStick_Down 			= Down
Hat_Left 				= Left
Hat_Right 				= Right
Hat_Up 				= Up
Hat_Down 			= Down
A				= Space
B				= Right
LeftButton			= Left
RightButton			= Right

[OpenSensor]
Mode 				= TiltTapC
Tilt 				= STilt
A				= Space			SNitro		
B 				= Right			SRight
C 				= Left			SLeft

[Strings]
SLeft 				= Move Backward
SRight 				= Move Forward
SNitro				= Nitro
STilt				= Tilt to Flip