# ALWAYS_SEND_UNMAPPED_KEY
# EPOCH

[Origin]
Author	= Deepika
Rating	= 4.5

[Keys]
Up	= Swipe Up
Down	= Swipe Down
Left	= Swipe Left
Right	= Swipe Right
Space	= Tap (91,9)

[Guidance]
Up	= SJump
Down	= SSlide
Left	= STurnLeft
Right	= STurnRight
Space	= SGranade

[GamePad]
Hat_Up			= Up
Hat_Down		= Down
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Up		= Up
LeftStick_Down		= Down
LeftStick_Left		= Left
LeftStick_Right		= Right

A	= Space
B	= Space

[Strings]

SJump		= Jump
SSlide		= Slide
STurnLeft	= Turn Left
STurnRight	= Turn Right
SMoveLeft	= Move Left
SMoveRight	= Move Right

[Strings.nb_NO]
STilt		= Vippe å Gå til Venstre / Høyre
SArea1		= Dra for å Slå / Hoppe / Skyv
SJump		= Hoppe
SSlide		= Skyv
STurnLeft	= Ta til Venstre
STurnRight	= Ta til Høyre
SMoveLeft	= Flytte til Venstre
SMoveRight	= Flytte til Høyre
