# ALWAYS_SEND_UNMAPPED_KEY
# Bus Parking Simulator 3D

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (15,78)
Right	= Tap (32,78)
Up	= Tap (88,80)
Down	= Tap (76,80)
Space	= Tap (88,41)

[Guidance]

Left	= Move Left
Right	= Move RIght
Up	= Speed
Down	= Reverse
Space	= SSpace

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right
A	= Down
B	= Up
X	= Space

[Strings]
SSpace	= Drive/ Reverse
SLeft	= Move Left
SRight	= Move Right
SDown	= Reverse
SUp	= Speed