# ALWAYS_SEND_UNMAPPED_KEY
#
# Light Shadow Racing Online
#

[Origin]
Author	= Harsh
Build	= 1.0.65
Rating	= 4.5
Version	= 1.0.1
[Keys]
Space	= Tap (74,95)
Up	= Tap (91,62)
Z	= Tap (25,95)

[Guidance]
Space	= SShiftUp
Z	= STurbo
Up	= SThrottle

[GamePad]
Hat_Up		= Up
LeftStick_Up	= Up

A	= Space
B	= Z

[OpenSensor]
Mode	= TapC
A	= Z		STurbo
B	= Space		SThrottle
C	= Up		SShiftUp


[Strings]
SThrottle	= Throttle
STurbo		= Turbo
SShiftUp		= Gear Up