# ALWAYS_SEND_UNMAPPED_KEY
# Homerun Battle 3D 

[Origin]
Author	= Harsh
Rating	= 2.0

[Keys]

Left	= Tilt Absolute (0,-20)
Right	= Tilt Absolute (0,20)
Up	= Tilt Absolute (20,0)
Down	= Tilt Absolute (-20,0)
Space	= Tap

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left		= Left
Hat_Right		= Right
Hat_Down		= Down
Hat_Up		= Up
A		= Space
B		= Space
LeftButton	= Space
RightButton	= Space

[opensensor]
Mode	= TiltTapA
Tilt	= STilt
A	= Space		SSpace

[Strings]
STilt	= Tilt to lean
SSpace	= Shoot	

