# ALWAYS_SEND_UNMAPPED_KEY
# School Driving 3D

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Up	= Tap (95,85)
Down	= Tap (83,87)
Space	= Tap (94,33)
Z	= Tap (5,23)

[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown
Space	= SSpace
Z	= SZ

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right

A	= Down
B	= Up
X	= Space
Y	= Z

[OpenSensor]

Mode	= TiltTapD
Tilt	= STilt
A	= Up	SUp
B	= Down	SDown
C	= Space	SSpace
D	= Z	SZ
[Strings]

SLeft	= Move Left
SRight	= Move Right
STilt	= Tilt to move
SUp	= Speed
SDown	= Brake
SSpace	= Drive/ Reverse
SZ	= Headlight