# ALWAYS_SEND_UNMAPPED_KEY
# Island Racer Lite

[Origin]
Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return
Space	= Tap (77,74)
Up	= Tap (92,74)
Down	= Tap (6,74)

[Guidance]
Left	= Move left
Right	= Move right
Up	= Speed
Down	= Reverse
Space	= Brake


[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A		= Space
B		= Up
X		= Down

[OpenSensor]
Mode	= TiltTapC
Tilt	= STilt
A	= Space	SSpace
B	= Down	SDown
C	= Up	SUp

[Strings]
STilt	= Tilt to move
SUp	= Speed
SDown	= Reverse
SSpace	= Brake