# ALWAYS_SEND_UNMAPPED_KEY

#Beyond Ynth HD

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (9,54)
Right	= Tap (89,54)
Space	= Tap (89,24)
Z	= Tap (10,24)

[Guidance]

Left	= Move Back
Right	= Move Forward
Space	= Right Jump
Z	= Left Jump

[Gamepad]

LeftStick_Left	 = Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A		= Z
B		= Space

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Space	SSpace
D	= Z	SZ

[Strings]

SLeft	= Move Back
SRight	= Move Forward
SSpace	= Right Jump
SZ	= Left Jump