# ALWAYS_SEND_UNMAPPED_KEY
#
# Gear Jack Black Hole
#

[Origin]
Author	= Harsh
Rating 			= 4.5

[Keys]
Up 			= Tap (88,80)
Down 			= Tap (7,82)
Space		= Tap (94,63)

[Guidance]
Up 			= SUp
Down		= SDown
Space	= SSpace

[GamePad]

B	= Up
A	= Down
X	= Space

[OpenSensor]

Mode = TapC
A 			= Up		SUp
B 			= Down	SDown
C	= Space	SSpace

[Strings]
SSpace	= Slow
SUp	= Jump
SDown	= Roll