# ALWAYS_SEND_UNMAPPED_KEY

# Maze 3D
[Origin]

Author 			= Samyak
Rating 			= 4.0

[Keys]
Right			= Tap (93,77)
Left			= Tap (78,77)
Up			= Tap (85,60)
Down			= Tap (85,90)

[GamePad]

Hat_Left		= Left
Hat_Right		= Right
Hat_Up			= Up
Hat_Down		= Down

LeftStick_Left		= Left
LeftStick_Right		= Right
LeftStick_Up		= Up
LeftStick_Down		= Down

[Guidance]

Down			= SDown
Left			= SLeft
Right			= SRight
Up			= SUp

[OpenSensor]
Mode 			= TapD
A 			= Up		SUp
B			= Left		SLeft
C			= Right		SRight
D			= Down		SDown

[Strings]
SDown			= Move  Down
SUp			= Move Up
SRight			= Move Right
SLeft			= Move Left
