# ALWAYS_SEND_UNMAPPED_KEY

# Daredevil Stunt Rider MTB BMX

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (77,85)
Right	= Tap (92,85)
Up	= Tap (7,58)
Down	= Tap (7,85)


[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Down
B	= Up

[OpenSensor]
Mode	= TapD
A	= Left	SLeft
B	= Up	SUp
C	= Right	SRight
D	= Down	SDown

[Strings]
SLeft	= Move Left
SRight	= Move Right
SUp	= Speed
SDown	= Brake