# ALWAYS_SEND_UNMAPPED_KEY
﻿# Dr Parkingpro

[Origin]
Author = Aditya
Rating	= 4.5

[Keys]
Up				= Tap (5,60)
Down				= Tap (5,90)
Space				= Tap (93,31)

[GamePad]
A 				= Space
Hat_Down			= Down
Hat_Up 				= Up
LeftStick_Down 			= Down
LeftStick_Up 			= Up

[Guidance]
Up				= Accelerate
Down				= Brake
Space				= Gear

[Opensensor]
Mode				= Touch1TapC
Area1				= (76,59,24,41)		Sarea
A				= Up			Sup
B				= Down			Sdown
C				= Space			Sgear

[Strings]
Sarea				= Steer
Sup				= Accelarate
Sdown				= Brake
Sgear				= Gear
