# ALWAYS_SEND_UNMAPPED_KEY
﻿# Renault truck racing

[Origin]
Author			= Aditya
Rating			= 4.5

[Keys]
Left			= Tilt Absolute (0,-45) Return
Right			= Tilt Absolute (0,45)  Return
Down			= Tap (9,84)
Up			= Tap (93,85)
Z			= Tap (9,55)

[Gamepad]
LeftStick_Left		= Left
LeftStick_Right		= Right
A			= Down
B			= Up
X			= Z
Hat_Left			= Left
Hat_Right			= Right


[Guidance]
Left			= Left
Right			= Right
Up			= Speed
Down			= Brake / Back
Z			= Zoom

[Opensensor]

Mode			= TiltTapC
Tilt			= STilt
A			= Down		SA
B			= Up		SB
C			= Z		SZ
[Strings]
STilt			= Tilt to Move
SA			= Brake/ Back
SB			= Speed
SZ			= Zoom