# ALWAYS_SEND_UNMAPPED_KEY
# Gravity Guy 2

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Space	= Tap (93,90)
Z	= Tap (6,90)

[Guidance]

Space	= Lift Up
Z	= Boost

[Gamepad]

A	= Z
B	= Space

[OpenSensor]

Mode	= TapB
A	= Space	SSpace
B	= Z	SZ

[Strings]

SSpace	= Lift Up
SZ	= Boost