# ALWAYS_SEND_UNMAPPED_KEY
# Super Cricket

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (16,62)
Right	= Tap (77,62)

[Gamepad]

LeftButton	= Left
RightButton	= Right

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A		= Left
B		= Right

[Guidance]

Left	= Shoot Left
Right	= Shoot Right

[OpenSensor]

Mode	= TapB
A	= Left	SLeft
B	= Right	SRight

[Strings]

SLeft	= Shoot Left
SRight	= Shoot Right 

