# ALWAYS_SEND_UNMAPPED_KEY
# Zombie runaway

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (48,87)
Right	= Tap (90,87)
Space	= Tap (69,87)
Up	= Tap (69,87)


[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
Hat_Left		= Left
Hat_Right		= Right
Hat_Up		= Up
LeftButton	= Left
RightButton	= Right

A		= Space
B		= Space

[Guidance]

Left	= Move left
Right	= Move right
Space	= Jump

[OpenSensor]

Mode	= TapC
A	= Space	SSpace
B	= Left	SLeft
C	= Right	SRight

[Strings]

SLeft	= Left
SRight	= Right
SSpace	= Jump

