# ALWAYS_SEND_UNMAPPED_KEY
# Stick Skater

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Right	= Tap (10,86)
Up	= Tap (88,86)
Space	= Tap (88,86)

[Gamepad]

LeftStick_Right	= Right
LeftStick_Up	= Up

Hat_Right		= Right
Hat_Up		= Up

A		= Up
B		= Right

LeftButton	= Right
RightButton	= Up

[Guidance]

Right	= Speed
Up	= Jump

[OpenSensor]

Mode	= TapB
A	= Right	SRight
B	= Up	SUp

[Strings]

SRight	= Speed
SUp	= Jump