# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Balance Ball Labyrinth 
#

[Origin]
Author	= Samyak Ranjan
Rating	= 4.2

[Guidance]
LeftStick	= SMove

[GamePad]
Tilt_PitchMax	= 15
Tilt_RollMax	= 15
LeftStick	= Tilt

[OpenSensor]
Mode	= Tilt
Tilt	= STilt

[Strings]
SMove	= Move
STilt	= Tilt to Move
