# ALWAYS_SEND_UNMAPPED_KEY

# Super Stickman Survival

[Origin]

Author	= Adi
Rating	= 4.0

[Keys]
Space	= Tap (86,90)
Left	= Tap (4,91)
Right	= Tap (15,91)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right


Hat_Left		= Left
Hat_Right		= Right



A		= Space

[Guidance]

Left	= Left
Right	= Right
Space	= Attack

[OpenSensor]

Mode	= TapC
A	= Space	SSpace
B	= Right	SRight
C	= Left	SLeft	

[Strings]

SLeft	= Left
SRight	= Right
SSpace	= Attack
