# ALWAYS_SEND_UNMAPPED_KEY
﻿# Hanuman

[Origin]
Author	= Samyak Ranjan
Rating	= 3.0

[Keys]
Up	= Tap (10,82)
Space	= Tap (87,83)

[Guidance]
Up	= SUp
Space	= SAttack

[GamePad]
Hat_Up			= Up

LeftStick_Up		= Up

LeftButton		= Up
RightButton		= Space

A			= Space

[OpenSensor]
Mode	= TapB	
A	= Up		SUp
B	= Space		SAttack

[Strings]
SAttack = Attack
SUp	= Fly Up
