# ALWAYS_SEND_UNMAPPED_KEY
# Hockey Showdown

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return
Up	= Swipe Up

[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp

[Gamepad]

LeftStick	= Tilt

Hat_Left		= Left
Hat_Right		= Right

A	= Up

[OpenSensor]

Mode	= TiltTapA
Tilt	= STilt
A	= Up	SUp

[Strings]

STilt	= Tilt to move
SLeft	= Move Left
SRight	= Move Right
SUp	= Shoot
