# ALWAYS_SEND_UNMAPPED_KEY
# Voodoo Whisperer CE (Full)

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

X = Swipe Up (20,50); Swipe Down (60,20)
Z  = Swipe Down (20,50); Swipe Up (60,20)

[Guidance]

X	= Zoom Out
Z	= Zoom In

[Gamepad]

A	= X
B 	= Z

[OpenSensor]

Mode	= TapB
A	= X		SX
B	= Z		SZ	

[Strings]
SX	= Zoom Out
SZ	= Zoom In
