# ALWAYS_SEND_UNMAPPED_KEY
# Samurai vs Zombies 

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (12,46)
Right	= Tap (89,46)
X	= Tap (82,90)
Z	= Tap (6,90)
A	= Tap (17,91)
Space	= Tap (93,90)
S	= Tap (28,90)	
D	= Tap (39,90)


[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= A
Hat_Down	= S
Hat_Up	= A
Hat_Left	 = Left
Hat_Right	 = Right
Hat_Down	= S
A	 = Space
B	 = X
X	 = Z
Y	= D

LeftButton	= S
RightButton	= D

[Guidance]

Left	= Move Back
Right	= Move Forward
X	= Light Power
Z	= Farmer
Space	= Sword
A	= Sword Warrior
D	= Bowman
S	= Spear Warrior