# ALWAYS_SEND_UNMAPPED_KEY
# Golfy Bird

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (6,86)
Right	= Tap (92,86)

[Guidance]

Left	= SLeft
Right	= SRight

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right	 = Right


[OpenSensor]

Mode	= TapB
A	= Left	SLeft
B	= Right	SRight

[Strings]
SLeft	= Move Left
SRight	= Move Right