# ALWAYS_SEND_UNMAPPED_KEY
# Bank Rush

[Origin]
Author 				= Harsh
Rating				= 4.0

[Keys]
Space				= Tap (8,87)
Z		= Tap (91,87)
[Guidance]
Space	= SSpace
Z	= SZ
[GamePad]
A	= Z
B	= Space

[Strings]
SSpace	= Boost
SZ	= Go