# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# BMX Boy
#

[Origin]
Author			= Harsh
Rating			= 4.0

[Keys]
Right			= Tap (18,85)
Space			= Tap (80,85)

[Guidance]
Right			= SPedal
Space			= SJump

[GamePad]
B			= Space
A			= Right


[OpenSensor]
Mode			= TapB
A			= Right		SPedal
B			= Space		SJump

[Strings]
SPedal			= Speed
SJump			= Jump

[Strings.nb_NO]
SPedal			= Gå
SJump			= Hoppe
