# ALWAYS_SEND_UNMAPPED_KEY
# Zombie Killer

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (8,84)
Right	= Tap (29,83)
Space	= Tap (91,83)
X	= Tap (69,84)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
Hat_Left		= Left
Hat_Right		= Right

A		= X
B		= Space

[Guidance]

Left	= Move Back
Right	= Forward
Space	= Shoot 
X	= Punch

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Space	SSpace
D	= X	SX

[Strings]

SLeft	= Left
SRight	= Right
SSpace	= Shoot
SX	= Punch
