# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Bike Racing 2
#

[Origin]
Author			= Harsh
Rating			= 4.0
Build	= 1.0.65
Version	= 1.0.0

[Keys]
Right			= Tap (8,84)
Space			= Tap (88,84)

[Guidance]
Right			= SPedal
Space			= SJump

[GamePad]
B			= Space
A			= Right


[OpenSensor]
Mode			= TapB
A			= Right		SPedal
B			= Space		SJump

[Strings]
SPedal			= Speed
SJump			= Jump

[Strings.nb_NO]
SPedal			= Gå
SJump			= Hoppe
