# ALWAYS_SEND_UNMAPPED_KEY
#
# Drag Racing
#

[Origin]
Author	= David Reese
Rating	= 4.5

[Keys]
Space	= Tap (90,40)
Up	= Tap (80,75)
Down	= Tap (20,75)
A	= Tap (15,40)

[Guidance]
Space	= SThrottle
A	= STurbo
Up	= SShiftUp
Down	= SShiftDown

[GamePad]
Hat_Up		= Up
LeftStick_Up	= Up

Hat_Down	= Down
LeftStick_Down	= Down

A	= Space
B	= A

[OpenSensor]
Mode	= TapD
A	= A		STurbo
B	= Space		SThrottle
C	= Up		SShiftUp
D	= Down		SShiftDown

[Strings]
SThrottle	= Throttle
STurbo		= Turbo
SShiftUp		= Gear Up
SShiftDown	= Gear Down

[Strings.zh_CN]
SThrottle	= 油门
STurbo		= 爆发
SShiftUp		= 加速
SShiftDown	= 减速

