# ALWAYS_SEND_UNMAPPED_KEY
# SoldierRun

[Origin]
Author	= Harsh
Rating	= 4.0

[Keys]
Up	= Swipe Up
Down	= Swipe Down
Left	= Swipe Left
Right	= Swipe Right
Z	= Tilt Absolute (0,-45) Return
X	= Tilt Absolute (0,45) Return

[Guidance]
Up	= SJump
Down	= SSlide
Left	= STurnLeft
Right	= STurnRight
Z	= SMoveLeft
X	= SMoveRight

[GamePad]
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Left		= Left
LeftStick_Right		= Right

LeftButton		= Z
RightButton		= X
A			= Up
B			= Down


[OpenSensor]
Mode	= TiltTouch1	
Tilt	= STilt
Area1	= (0,33,100,33)		SArea1

[Strings]
STilt		= Tilt to Move Left/Right
SArea1		= Swipe to Turn/Jump/Slide
SJump		= Jump
SSlide		= Slide
STurnLeft		= Turn Left
STurnRight	= Turn Right
SMoveLeft	= Move Left
SMoveRight	= Move Right

