# ALWAYS_SEND_UNMAPPED_KEY
#
# Antonio World
#

[Origin]

Author	= Harsh
Ratings	= 3.8

[Keys]

Left	= Tap (6,71)
Right	= Tap (21,71)
Up	= Tap (90,68)

[Gamepad]

LeftStick_Right	= Right
LeftStick_Left	= Left

Hat_Left		= Left
Hat_Right		= Right
A		= Up

[Guidance]

Right	= Move Forward
Up	= Jump
Left	= Move Back

[OpenSensor]

Mode	= TapC
A	= Up	SUp
C	= Right	SRight
B	= Left	SLeft 

[Strings]
SUp	= Jump
SRight	= Move Forward
SLeft	= Move Back