# ALWAYS_SEND_UNMAPPED_KEY
#
# Ace of the Luftwaffe
#

[Origin]
Author = Harsh
Rating = 4.5

[Keys]

Right = Swipe Right
Left = Swipe Left
Up = Swipe Up
Down = Swipe Down
Space = Tap

[Guidance]
Right = Move Right
Left = Move Left
Up = Move Up
Down = Move Down
Space = Shoot

[GamePad]
LeftStick_Left = Left
LeftStick_Right = Right
LeftStick_Up = Up
LeftStick_Down = Down
Hat_Left = Left
Hat_Right = Right
Hat_Up = Up
Hat_Down = Down
A = Space

[OpenSensor]
Mode = Touch1
Area1 = (0,0,100,100)    SArea


[Strings]
SArea	 = Swipe To Move