# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Kung Fu Do Fighting
#

[Origin]
Author	= Samyak Ranjan
Rating	= 4.0

[Keys]
Enter	= Tap(91,65)

[Guidance]
Enter	= SKick

[OpenSensor]
Mode	= Touch1TapA
Area1	= (10,89,27,65)	SArea1

A	= Enter		SKick

[Strings]
SArea1		= Touch to Move

SKick		= Kick