# ALWAYS_SEND_UNMAPPED_KEY
# Ninjammin

[Origin]

Author	= Harsh
Rating	= 3.4

[Keys]

Left	= Tap (5,84)
Right	= Tap (18,84)
Up	= Tap (85,79)
Down	= Tap (85,93)

[Guidance]

Left	= Move Left
Right	= Move Right
Up	= Jump
Down	= Move Down

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Down	= Down
LeftStick_Up	= Up

Hat_Left		= Left
Hat_Right		= Right
Hat_Down	= Down
Hat_Up		= Up


[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Down	SDown
D	= Up	SUp

[Strings]

SUp	= Jump
SDown	= Down
SLeft	= Move Left
SRight	= Move Right
