# ALWAYS_SEND_UNMAPPED_KEY
﻿# Brave Trials

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Space	= Tap (92,81)
Z	= Tap (79,81)
X	= Tap (79,61)
C	= Tap (92,59)
Left	= Tap (7,74)
Right	= Tap (23,74)
Up	= Tap (15,58)
Down	= Tap (15,83)

[Guidance]

Up	= Move Up
Down	= Move Down
Left	= Move Left
Right	= Move Right
Space	= Attack
Z	= Power1
X	= Power2
C	= Power3