# ALWAYS_SEND_UNMAPPED_KEY
#Acceler8 Pro

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return
Down	= Tap (5,84)
Up	= Tap (93,84)
Space	= Tap (93,84)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left		= Left
Hat_Right		= Right
Hat_Down		= Down
Hat_Up		= Up

A		= Space
B		= Down

LeftButton	= Down
RightButton	= Space

[Guidance]

Down	= Backward
Space	= Speed
Left	= Move Left
Right	= Move Right

[OpenSensor]

Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Down	SDown

[Strings]
STilt	= Tilt to move left & right
SSpace	= Speed
SDown	= Back

