# ALWAYS_SEND_UNMAPPED_KEY
# Downhill Champion Lite

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]
Left	= Tap (5,89)
Right	= Tap (94,89)
Up	= Tilt Absolute (-45,0) Return
Down	= Tilt Absolute (45,0) Return

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down
Hat_Left		= Left
Hat_Right		= Right
Hat_Up		= Up
Hat_Down		= Down
A		= Right
B		= Left

LeftButton	= Left
RightButton	= Right

[Guidance]

Left	= Brake
Right	= Speed
Up	= Lean Forward
Down	= Lean Backward

[OpenSensor]

Mode	= TiltTapB
Tilt	= STilt
A	= Left	SLeft
B	= Right	SRight

[Strings]

STilt	= Tilt to lean
SLeft	= Brake
SRight	= Speed