# ALWAYS_SEND_UNMAPPED_KEY
#
# Sonic 4 Episode 2  
#

[Origin]
Author 			= Chirag
Rating 			= 4.0

[Keys]
Down			= Tap (13,88)
Right 			= Tap (18,78)
Up 			= Tap (13,71)
Left 			= Tap (8,79)
Space 			= Tap (88,79)
X			= Tap (72,79)



[Guidance]
Left 			= SLeft
Right 			= SRight
Up 			= SUp
Down 			= SDown
Space 			= SJump
X			= SHit


[GamePad]
LeftStick_Left 		= Left
LeftStick_Right 	= Right
LeftStick_Up 		= Up
LeftStick_Down 		= Down
Hat_Left 		= Left
Hat_Right 		= Right
Hat_Up 			= Up
Hat_Down 		= Down

LeftButton 		= Left
RightButton 		= Right
A 			= Space
B			= X


[OpenSensor]
Mode 			= Touch1TapB
Area1			= (8,71,10,17)		STouch
A 			= Space			SJump
B			= X			SHit

[Strings]
STouch			= Touch To Move
SLeft 			= Left
SRight 			= Right
SUp 			= Up
SDown 			= Down
SJump			= Jump
SHit			= Hit