# ALWAYS_SEND_UNMAPPED_KEY
# Line Runner 2

[origin]
Author	= Deepika
Rating	= 4.6

[keys]
Space	= Tap (5,95)
Up	= Tap (95,95)

[guidance]
Space	= Slide
Up	=  Jump

[gamepad]
Hat_Up		= Up
LeftStick_Up	= Up
A		= Up
Hat_Down	= Space
LeftStick_Down	= Space
B		= Space
LeftButton	= Space
RightButton	= Up

[opensensor]
Mode	= TapB
A	= Space		Slide
B	= Up		Jump
