# ALWAYS_SEND_UNMAPPED_KEY

# Drift For Fun

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (6,87)
Right	= Tap (92,87)

[Guidance]

Left	= SLeft
Right	= SRight


[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right


[OpenSensor]
Mode	= TapB
B	= Left	SLeft
A	= Right	SRight

[Strings]
SLeft	= Move Left
SRight	= Move Right