# ALWAYS_SEND_UNMAPPED_KEY
#Mad Skills Motocross

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (88,91)
Right	= Tap (95,79)
Up	= Tap (5,91)
Down	= Tap (5,70)

[Guidance]
Left	= Lean Up
Right	= Lean Down
Up	= Speed
Down	= Brake

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A		= Down
B		= Up

[OpenSensor]
Mode	= TapD
A	= Left	SLeft
B	= Up	SUp
C	= Right	SRight
D	= Down	SDown

[Strings]
SLeft	= Lean Up
SRight	= Lean Down
SUp	= Speed
SDown	= Brake
