# ALWAYS_SEND_UNMAPPED_KEY
#  lego joniors create & cruise  

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Space	= Tap (91,87)

[Guidance]

Space	= Speed

[Gamepad]

A	= Space

[OpenSensor]

Mode	= TapA
A	= Space	SSpace

[Strings]

SSpace	= Speed