# ALWAYS_SEND_UNMAPPED_KEY
#
# Boulder Dash
#

[Origin]
Author 				= Kunal
Rating 				= 4.0

[Keys]
Left 				= Tap (4,85)
Right 				= Tap (15,85)
Up 				= Tap (10,75)
Down 				= Tap (10,91)
Space 				= Tap (95,89)

[Guidance]
Left 				= SLeft
Right 				= SRight
Up 				= SUp
Down 				= SDown
Space 				= SSpace


[GamePad]
LeftStick_Left 			= Left
LeftStick_Right 		= Right
LeftStick_Up 			= Up
LeftStick_Down 			= Down
Hat_Left 			= Left
Hat_Right 			= Right
Hat_Up 				= Up
Hat_Down 			= Down
A 				= Space
B				= Space
LeftButton			= Space
RightButton			= Space
B				= Space

[OpenSensor]
Mode				= Touch1TapA
Area1				= (2,59,21,38)  SArea1 
A				= Space 	SSpace

[Strings]
SLeft 				= Move Left
SRight 				= Move Right
SUp 				= Move Up
SDown 				= Move Down
SSpace 				= Pick
SArea1				= Touch To Move
