# ALWAYS_SEND_UNMAPPED_KEY
# Trial Xtreme 2 Winter

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Right 	= Tilt Absolute (0,20) Return
Left	= Tilt Absolute (0,-20) Return
Space	= Tap (8,78)
Down	= Tap (76,78)
Up	= Tap (89,76)

[Gamepad]

LeftStick		= Tilt

Hat_Left		= Left
Hat_Right		= Right
Hat_Up		= Space 

A		= Down
B		= Up

[Guidance]

Down	= Brake
Up	= Go
Left	= Flip Up
Right	= Flip Down
Space	= Jump

[OpenSensor]

Mode	= TiltTapC
Tilt	= STilt
A	= Space	SSpace
B	= Up	SUp
C	= Down SDown	

[Strings]

SDown	= Brake
SUp	= Go
SSpace	= Jump
STilt	= Tilt to lean