# ALWAYS_SEND_UNMAPPED_KEY

# Another World

[Origin]
Author	= Samyak Ranjan
Rating	= 4.0

[Keys]
Left	= Swipe Left
Right	= Swipe Right
Up	= Swipe Up
Down	= Swipe Down
Space	= Tap (85,95)


[Guidance]
Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown
Space	= SAttack

[GamePad]
Hat_Left		= Left
Hat_Right		= Right
Hat_Up			= Up
Hat_Down		= Down

LeftStick_Left		= Left
LeftStick_Right		= Right
LeftStick_Up		= Up
LeftStick_Down		= Down

A			= Space

[OpenSensor]
Mode	= Touch1TapA
Area1	= (0,33,100,33)		SArea1
A	= Space

[Strings]
SLeft		= Move Left
SRight		= Move Right
SUp		= Jump
SDown		= Crouch
SAttack 	= Attack