# ALWAYS_SEND_UNMAPPED_KEY
# Polara

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]
Space			= Tap (84,80)
Z			= Tap (8,80)
Up			= Tap (84,80)
Left			= Tap (8,80)

[Gamepad]
Hat_Left		= Z
Hat_Up			= Space
A			= Space
B			= Z

[Guidance]

Space			= Jump
Z			= Change color

[OpenSensor]

Mode			= TapB
A			= Z		SZ
B			= Space 	SSpace

[Strings]

SSpace			= Jump
SZ			= Change color
