# ALWAYS_SEND_UNMAPPED_KEY
# F001

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Space	= Tap (92,88)

[Guidance]

Space	= Speed/Brake

[Gamepad]

A		= Space

[OpenSensor]

Mode	= TapA
A	= Space	SSpace

[Strings]

SSpace	= Speed Or Brake
