# ALWAYS_SEND_UNMAPPED_KEY
# Speedway Masters Lite

[Origin]
Author	= Harsh
Rating	= 3.7

[Keys]
Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return
Space	= Tap (80,80)

[Guidance]
Left	= Move Left
Right	= Move Right
Space	= SSpace

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Space
[OpenSensor]
Mode	= TiltTapA
Tilt	= STilt
A	= Space	SSpace

[Strings]
STilt	= Tilt to move
SSpace	= Reverse
