# ALWAYS_SEND_UNMAPPED_KEY
#
# Nutty Fluffies Rollercoaster
#

[Origin]
Author 				= Aditya
Rating 				= 4

[Keys]
Left 				= Swipe Left
Right 				= Swipe Right

[Guidance]

Left	= Move Left
Right	= Move Right

[GamePad]


Hat_Left 				= Left
Hat_Right 			= Right


[OpenSensor]
Mode 				= TapB
A 				= Left			STap1
B 				= Right			STap2


[Strings]
STap1 				= Swipe Left
STap2 				= Swipe Right
	
