# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Gravity Guy Paid
#

[Origin]
Author 			= Kunal
Rating 			= 4.5

[Keys]
Left 			= Tap (3,6)
Right 			= Tap (3,94)
Space 			= Tap

[Guidance]
Right 			= SSlow
Left 			= SProtect
Space 			= SChange

[GamePad]
A 			= Space
B 			= Left
X		= Right
[OpenSensor]
Mode 			= TapC
A 			= Space		SChange
B			= Right		SSlow
C 			= Left	SProtect


[Strings]

SChange 			= Change Position
SSlow 			= Slow Motion
SProtect 			= Shield

