# ALWAYS_SEND_UNMAPPED_KEY
#
# Jetpack Joyride
#

[Origin]
Author	= Harsh
Rating	= 5.0

[Keys]
Space	= Tap

[Guidance]
Space	= SBoost

[GamePad]
A		= Space

[OpenSensor]
Mode	= TapA
A	= Space		SBoost

[Strings]
SBoost		= Boost

[Strings.nb_NO]
SBoost		= Gå

[Strings.zh_CN]
SBoost		= 爆发
