# ALWAYS_SEND_UNMAPPED_KEY
# Angry Birds Space Premium

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Down = Swipe Up (10,80); Swipe Down (80,30)
Up  = Swipe Down (10,80); Swipe Up (80,30)

[Guidance]

Down	= SDown
Up	= SUp

[Gamepad]

A	= Down
B 	= Up

[OpenSensor]

Mode	= TapB
A	= Down	SDown
B	= Up	SUp

[Strings]
SUp	= Zoom Out
SDown	= Zoom In

[Strings.zh_CN]
SDown	= 放大
SUp	= 缩小
