# ALWAYS_SEND_UNMAPPED_KEY
﻿# HitWicketCricket Aussie League

[Origin]
Author				= Aditya
Rating				= 4.3

[Keys]
Space				= Tap
Z				= Tap (4,67)

[Gamepad]
A				= Space
B				= Z
LeftButton			= Z
LeftStick_Left			= Z
LeftStick_Right			= Space
Hat_Left				= Z
Hat_Right				= Space

[Guidance]
Space				= Perform Action
Z				= Power Up

[Opensensor]
Mode				= TapB
A				= Space			Stap
B				= Z			Stap2

[Strings]
Stap				= Perform Action
Stap2				= Power Up