# ALWAYS_SEND_UNMAPPED_KEY
# Custom Car Drift Import Racing

[Origin]
Author	= Harsh
Rating	= 3.8

[Keys]
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (29,90)
Down	= Tap (8,90)


[Guidance]
Left		= SSteerLeft
Right		= SSteerRight
Space		= SSpace
Down		= SDown

[GamePad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right	= Right


A		= Down
B		= Space


[OpenSensor]
Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Down	SDown

[Strings]
STilt		= Move Left/Right
SSteerLeft	= Move Left
SSteerRight	= Move Right
SSpace		= Speed
SDown		= Reverse