# ALWAYS_SEND_UNMAPPED_KEY
# Best Park in the Universe

[Origin]

Author	= Harsh
Rating	= 4.3

[Keys]

Right	= Swipe Right
Space	= Swipe Right (60,50); Swipe Left (50,60)

[Guidance]

Right	= SRight
Space	= SSpace

[Gamepad]

A	= Right
B	= Space


[OpenSensor]

Mode	= TapB
A	= Right	SRight
B	= Space	SSpace

[Strings]
SRight	= Attack
SSpace	= Super Power