# ALWAYS_SEND_UNMAPPED_KEY
﻿# Fall Down 2

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Tilt Absolute (-45,0) Return
Right	= Tilt Absolute (45,0) Return

[Guidance]
Left	= Move Left
Right	= Move Right

[Gamepad]
LeftButton	= Left
RightButton	= Right

LeftStick_Left	= Left
LeftStick_Left	= Right

Hat_Left	= Left
Hat_Right	= Right

A	= Left
B	= Right

[OpenSensor]

Mode	= Tilt
Tilt	= STilt

[Strings]

STilt	= Tilt to move Left & Right