# ALWAYS_SEND_UNMAPPED_KEY
#
# Planet Descent
#

[Origin]
Author 		= Chirag
Rating 		= 4.5

[Keys]
Left 		= Tap (8,86)
Right 		= Tap (20,86)
Space 		= Tap (91,86)
Up 		= Tap (91,86)
Down 		= Tap (80,86)
Enter 		= Tap (80,86)

[Guidance]
Left 		= SLeft
Right 		= SRight
Space 		= SJump
Up 		= SJump
Down 		= SPick
Enter 		= SPick

[GamePad]
LeftStick_Left 	= Left
LeftStick_Right = Right
LeftStick_Up 	= Up
LeftStick_Down 	= Down
Hat_Left 	= Left
Hat_Right 	= Right
Hat_Up 		= Up
Hat_Down 	= Down
LeftButton 	= Left
RightButton 	= Right
A 		= Up
B 		= Down

[OpenSensor]
Mode 		= TapD
A 		= Left		SLeft
B 		= Right		SRight
C 		= Up		SJump
D 		= Down		SPick

[Strings]
SLeft 		= Left
SRight 		= Right
SJump 		= Jump
SPick 		= Pick Up