# ALWAYS_SEND_UNMAPPED_KEY
﻿# 3D Hunting African Outpost

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Space	= Tap (5,75)
Z	= Tap (11,9)

[Guidance]

Space	= Shoot
Z	= Zoom

[OpenSensor]

Mode	= Touch1TapB
Area1	= (0,0,100,100)	 SArea1
A	= Space		SSpace
B	= Z	SZ

[Strings]

SArea1	= Touch to move
SSpace	= Shoot
SZ	= Zoom in/out