# ALWAYS_SEND_UNMAPPED_KEY
#
# Wave Blazer Lite
#

[Origin]
Author 				= Chirag
Rating 				= 4.5

[Keys]
Left 				= Tilt Absolute (0,-45) Return
Right 				= Tilt Absolute (0,45) Return
Up 				= Tap (97,17)
Down 				= Tap (3,17)

[Guidance]
Left 				= SLeft
Right 				= SRight
Up 				= SAuto
Down 				= SRes

[GamePad]
LeftStick		= Tilt
A 				= Down
B 				= Up

[OpenSensor]
Mode 				= TiltTapB
Tilt 				= STilt
A 				= Down			SRes
B 				= Up 			SAuto

[Strings]
SRes 				= Respan
SAuto 				= Auto Pilot
SLeft 				= Move Left
SRight 				= Move Right
STilt				= Tilt to move 
