# ALWAYS_SEND_UNMAPPED_KEY
# Armageddon Squadron Lite


[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tilt Absolute (0,-120) Return
Right	= Tilt Absolute (0,120) Return
Up	= Tilt Absolute (-120,0) Return
Down	= Tilt Absolute (120,0) Return
Space	= Tap (95,51)
Z	= Tap (97,5)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left	= Left
Hat_Down	= Down
Hat_Up		= Up
Hat_Right	= Right

A		= Space
B		= Z

LeftButton	= Z
RightButton	= Space

[Guidance]

Left	= Move left
Right	= Move Right
Up	= Move Up
Down	= Move Down
Space	= Firing
Z	= Misile

[OpenSensor]

Mode	= TiltTapB
Tilt	= STilt
A	= Space		SSpace
B	= Z		SZ

[Strings]

STilt	= Tilt to Steer
SSpace	= Shoot
SZ	= Misile
