# ALWAYS_SEND_UNMAPPED_KEY
# Mountain ATV - Motocross game
[Origin]

Author	= Harsh
Rating	= 3.7

[Keys]

Right	= Tap (35,80)
Left	= Tap (19,80)
Z	= Tap (65,76)
Space	= Tap (82,76)


[Guidance]
Left	= Lift Back
Right	= Lift Forward
Space	= Speed
Z	= Brake

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right
A		= Z
B		= Space

[OpenSensor]
Mode	= TapD
A	= Space	SSpace
B	= Z	SZ
C	= Left	SLeft
D	= Right	SRight

[Strings]
SSpace	= Speed
SZ	= Brake
SLeft	= Lift Up
SRight	= Lift Down