# ALWAYS_SEND_UNMAPPED_KEY
# Extreme Space Motocross 2
[Origin]

Author	= Harsh
Rating	= 3.7

[Keys]


Z	= Tap (19,80)
Space	= Tap (82,76)
Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return
Up	= Tilt Absolute (-45,0) Return
Down	= Tilt Absolute (45,0) Return

[Guidance]
Up	= Flip Up
Down	= Flip Down
Left	= Lift Forward
Right	= Lift Back
Space	= Speed
Z	= Brake

[Gamepad]
LeftStick	= Tilt

Hat_Up	= Up
Hat_Down	= Down
Hat_Left		= Left
Hat_Right		= Right
A		= Z
B		= Space

[OpenSensor]
Mode	= TiltTapD
Tilt	= STilt
A	= Space	SSpace
B	= Z	SZ
C	= Left	SLeft
D	= Right	SRight

[Strings]
STilt	= Tilt to Flip
SSpace	= Speed
SZ	= Brake
SLeft	= Lift Down
SRight	= Lift Up