# ALWAYS_SEND_UNMAPPED_KEY
#
# Iron Man Escape
#

[Origin]
Author 			= Harsh
Rating 			= 4.0

[Keys]
Space 			= Tap

[Guidance]
Space 			= SChange

[GamePad]
A 			= Space

[OpenSensor]
Mode 			= TapA
A 			= Space		SChange


[Strings]

SChange 		= Change Position

