# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Major Mayhem
#

[Origin]
Author	= Samyak Ranjan
Rating	= 4.0

[Keys]
A	= Tap (5,92)
S	= Tap (12,93)
D	= Tap (19,93)
F	= Tap (26,93)
Space	= Tap (88,95)	 

[Guidance]
A	= SPowerA
S	= SPowerB
D	= SPowerC
F	= SPowerD
Space	= SJump

[GamePad]
RightButton	= Space
A		= A
B		= S
X		= D
Y		= F

Hat_Up		= Space

LeftStick_Up	= Space

[OpenSensor]
Mode	= TapE
A	= A		SPowerA
B	= Space		SJump
C	= S		SPowerB
D	= D		SPowerC
E	= F		SPowerD

[Strings]
SPowerA	= Power A
SPowerB	= Power B
SJump	= Jump
SPowerC = Power C
SPowerD	= Power D