# ALWAYS_SEND_UNMAPPED_KEY
# Drift X

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (6,86)
Down	= Tap (76,85)
Up	= Tap (89,78)

[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown
Space	= SSpace

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right

A	= Down
B	= Up
X	= Space

[OpenSensor]
Mode	= TiltTapC
Tilt	= STilt
A	= Space	SSpace
B	= Up	SUp
C	= Down	SDown

[Strings]
STilt	= Tilt to move
SLeft	= Move Left
SRight	= Move Right
SUp	= Speed
SDown	= Reverse
SSpace	= Handbrake