# ALWAYS_SEND_UNMAPPED_KEY
# RASH RACE 3D

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (88,82)
Down	= Tap (10,85)


[Guidance]

Left	= SLeft
Right	= SRight
Space	= SSpace
Down	= SDown

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right

A	= Down
B	= Space

[OpenSensor]

Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Down	SDown

[Strings]
SSpace	= Speed
SDown	= Reverse
STilt	= Tilt to Move
SLeft	= Move Left
SRight	= Move Right