# ALWAYS_SEND_UNMAPPED_KEY
# Robot Unicorn Attack 2

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Space	= Tap (8,90)
Down	= Tap (89,90)

[Guidance]

Space	= SSpace
Down	= SDown

[Gamepad]

A	= Down
B	= Space

[OpenSensor]

Mode	= TapB
A	= Space	SSpace
B	= Down	SDown

[Strings]

SSpace	= Jump
SDown	= Dash