# ALWAYS_SEND_UNMAPPED_KEY
# Swordigo

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (6,84)
Right	= Tap (16,84)
Up	= Tap (93,83)
Space	= Tap (83,85)
Z	= Tap (93,68)


[Guidance]

Left	= Move Back
Right	= Move Forward
Space	= Attack
Up	= Jump
Z	= Power

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Space
B	= Up
X	= Power
[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Space	SSpace
C	= Right	SRight
D	= Up	SUp

[Strings]
SSpace	= Attack
SUp	= Jump
SLeft	= Move Back
SRight	= Move Forward