# ALWAYS_SEND_UNMAPPED_KEY
# Kids Toy Car - ABC

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Right	= Tap (80,60)
Left	= Tap (10,60)

[Guidance]

Right	= SRight
Left	= SLeft

[Gamepad]

Hat_Right	= Right
LeftStick_Right	= Right
Hat_Left	= Left
LeftStick_Left	= Left


[Strings]

SRight	= Move Right
SLeft	= Move Left
