# ALWAYS_SEND_UNMAPPED_KEY
﻿# Scuba Steve Full Free

[Origin]
Author      	= Harsh
Rating		= 4.0

[Keys]

Space		= Tap

[Gamepad]

A		= Space

[Guidance]

Space		= SSpace

[OpenSensor]

Mode		= TapA
A		= Space	SSpace

[Strings]
SSpace	= Fly