# ALWAYS_SEND_UNMAPPED_KEY
# Raging Thunder

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tilt Absolute (0,-10) Return
Right	= Tilt Absolute (0,10) Return
Space	= Tap (1,40)
Z	= Tap (99,41)


[Gamepad]

LeftStick		= Tilt
Hat_Left		= Left
Hat_Right	 	= Right

A		= Space
B		= Z

[Guidance]

Left	= SLeft
Right	= SRight
Space	= SSpace
Z	= SZ

[OpenSensor]

Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Z	SZ
[Strings]
SZ	= Tackling
SLeft	= Move Left
SRight	= Move Right
SSpace	= Boost

[Strings.zh_CN]
SZ	= 装备
SLeft	= 向左
SRight	= 向右
SSpace	= 爆发