# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Sniper
#


[Origin]
Author 				= Aditya
Rating 				= 4.0

[Keys]
Left 				= Tilt Absolute (0,-45) Return
Right 				= Tilt Absolute (0,45)  Return
Up				= Tilt Absolute (45,0)	  Return
Down 				= Tilt Absolute (-45,0) Return
Space				= Tap (79,87)
X				= Tap


[GamePad]
Hat_Left 				= Left
Hat_Right 			= Right
Hat_Up				= Up
Hat_Down			= Down
A 				= Space
B 				= X
LeftStick_Left			= Left
LeftStick_Right			= Right
LeftStick_Up			= Up
LeftStick_Down			= Down
LeftButton			= X
RightButton			= Space

[Guidance]
Left 				= Left
Right 				= Right
Up				= Up
Down 				= Down
Space				= Fire
X				= Zoom


[OpenSensor]
Mode 				= TiltTapB
Tilt 				= STilt
A 				= X		STap
B				= Space		STap2

[Strings]
STilt 				= Tilt To Move
STap 				= Zoom
STap2				= Fire
 