# ALWAYS_SEND_UNMAPPED_KEY
# Cubed Rally Redline

[Origin]

Author	= Aditya
Rating	= 3.9

[Keys]

Left	= Tap (10,50)
Right	= Tap (90,50)

[Guidance]

Left	= Move Left
Right	= Move Right
