# ALWAYS_SEND_UNMAPPED_KEY
# Super Motor - Racing Moto

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Tap (74,89)
Right	= Tap (89,89)
Up	= Tap (24,89)
Down	= Tap (10,89)

[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Down
B	= Up

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Up	SUp
C	= Right	SRight
D	= Down	SDown

[Strings]
SUp	= Speed
SDown	= Reverse
SLeft	= Flip Up
SRight	= Flip Down