# ALWAYS_SEND_UNMAPPED_KEY
# Voxel Rush: Free Racing Game

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return

[Guidance]

Left	= Move Left
Right	= Move Right

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right

[OpenSensor]

Mode	= Tilt
Tilt	= STilt

[Strings]
STilt	= Tilt to move