# ALWAYS_SEND_UNMAPPED_KEY
# Crazy Running

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Swipe Left
Right	= Swipe Right
Up	= Swipe Up
Down	= Swipe Down
Z	= Tilt Absolute (0,20)
X	= Tilt Absolute (0,-20)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up		= Up
Hat_Down		= Down
Hat_Left		= Left
Hat_Right		= Right

LeftButton	= X
RightButton	= Z

[Guidance]

Up	= SJump
Down	= SSlide
Left	= STurnLeft
Right	= STurnRight
X	= SMoveLeft
Z	= SMoveRight

[OpenSensor]

Mode	= TiltDGesture
Tilt	= STilt
Up	= Up		SUp
Down	= Down		SDown
Left	= Left		SLeft
Right	= Right		SRight

[Strings]

STilt		= Tilt to Move Left/Right
SJump		= Jump
SSlide		= Slide
STurnLeft		= Turn Left
STurnRight	= Turn Right
SMoveLeft	= Move Left
SMoveRight	= Move Right