# ALWAYS_SEND_UNMAPPED_KEY
# Hungry Shark Evolution

[Origin]
Author	= Aditya
Rating	= 4.0

[Keys]
W	= SwipeHold Up	(40,50)
S	= SwipeHold Down (40,50)
A	= SwipeHold Left (40,50)
D	= SwipeHold Right (40,50)
Up	= Tap


[Guidance]
W	= Sup
A	= Sleft
S	= Sdown
D	= Sright
Up	= Sboost

[Strings]
Sup	= Move up
Sdown	= Move Down
Sright	= Move Right
Sleft	= Move Left
Sboost	= Boost