# ALWAYS_SEND_UNMAPPED_KEY
# Trial Xtreme 3

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Right 	= Tilt Absolute (0,20) Return
Left	= Tilt Absolute (0,-20) Return
Space	= Tap (91,85)
Down	= Tap (75,89)
Up	= Tap (6,88)

[Gamepad]

LeftStick		= Tilt

Hat_Up		= Up
Hat_Left		= Left
Hat_Right		= Right

A		= Space
B		= Down
X		= Up
[Guidance]

Down	= Brake
Up	= Jump
Left	= Flip Up
Right	= Flip Down
Space	= Go

[OpenSensor]

Mode	= TiltTapC
Tilt	= STilt
A	= Space	SSpace
B	= Up	SUp
C	= Down 	SDown	

[Strings]

SDown	= Brake
SUp	= Jump
SSpace	= Go
STilt	= Tilt to lean