# ALWAYS_SEND_UNMAPPED_KEY
# Red Riding Hood Run

[Origin]
Author 				= Harsh
Rating				= 4.0

[Keys]
Up 				= Tap (15,86)
Down	= Tap (89,86)
[Guidance]
Up 				= SUp
Down	= SDown

[GamePad]
LeftStick_Up	= Up
LeftStick_Down	= Down
Hat_Down	= Down
Hat_Up	= Up

[Strings]
SUp 				= Move Up
SDown		= Move Down
