# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Funny Jump
#

[Origin]
Author = Adi
Rating  = 4.5

[Keys]
Up		= Tap	


[Guidance]
Up		= Sbounce

[GamePad]
B		= Up
LeftStick_Up 	= Up
Hat_Up 		= Up


[Strings]
Sbounce	= Jump