# ALWAYS_SEND_UNMAPPED_KEY
﻿# Space Jump
#


[Origin]
Author 				= Harsh
Rating 				= 4.0

[Keys]
Left 				= Tilt Absolute (0,20) Return
Right 				= Tilt Absolute (0,-20) Return

[GamePad]
Hat_Left 			= Left
Hat_Right 			= Right
LeftStick			= Tilt
LeftButton 			= Left
RightButton 			= Right
A 				= Left
B 				= Right

[Guidance]
Left				= Left
Right				= Right

[OpenSensor]
Mode 				= Tilt
Tilt 				= STilt

[Strings]
STilt 				= Tilt To Move
