# ALWAYS_SEND_UNMAPPED_KEY
# Crazy Jump

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Space	= Tap
Up	= Tap

[Gamepad]

LeftStick_Up	= Up
LeftButton	= Up
Hat_Up		= Up
RightButton	= Up
A		= Up
B		= Up

[Guidance]
Space	= Jump

[OpenSensor]

Mode	= TapA
A	= Space	SSpace

[Strings]

SSpace	= Tap to jump
