# ALWAYS_SEND_UNMAPPED_KEY
﻿# Forbidden Brakes

[Origin]
Author				= Harsh
Rating				= 4.5

[Keys]
Left				= Tap (5,91)
Right				= Tap (95,91)
Space				= Tap (98,12)

[GamePad]
LeftButton 			= Left
RightButton 			= Right
A 				= Space
B				= Space
Hat_Left 				= Left
Hat_Right 			= Right
Hat_Up				= Space
LeftStick_Up			= Space
LeftStick_Left 			= Left
LeftStick_Right 			= Right

[Guidance]
Left				= Turn Left
Right				= Turn Right
Space				= Reset


[OpenSensor]
Mode 				= TapC
C				= Left			SLeft
B 				= Right			SRight
A 				= Space			SReset

[Strings]

SLeft	= Turn Left
SRight	= Turn Right
SReset	= Reset
