# ALWAYS_SEND_UNMAPPED_KEY
#
# Speed Hiker
#

[Origin]
Author			= Harsh
Rating			= 4.0

[Keys]
Space			= Tap (90,49)
Up 			= Tap

[Guidance]
Space			= SSpace
Up			= SUp
[GamePad]

A			= Space
B			= Up

[OpenSensor]
Mode			= TapB
A			= Space		SSpace
B	= Up	SUp


[Strings]

SUp				= Hold/ Release
SSpace		= Boost