# ALWAYS_SEND_UNMAPPED_KEY
# Aqua Frenzy 

[Origin]

Author	= Harsh
Rating	= 3.5

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (54,96)

[Guidance]
Left	= Move Left
Right	= Move Right
Space	= Blow

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right

A		= Space

[OpenSensor]

Mode	= TiltTapA
Tilt	= STilt
A	= Space	SSpace

[Strings]
STilt	= Tilt to move
SSpace	= Blow