# ALWAYS_SEND_UNMAPPED_KEY
# ManuGanu

[Origin]

Author		= Harsh
Rating		= 4.5

[Keys]

Up		= Tap (89,83)
Down		= Swipe Down
Right		= Tap (10,82)

[Gamepad]

A		= Down
B		= Up
LeftStick_Right	= Right
Hat_Right		= Right

[Guidance]


Up		= Jump
Right		= Move/ Stop
Down		= Slide

[OpenSensor]
Mode		= TapD
C		= Right	SRight
A		= Up	SJump
B		=  Down	SSlide	

[Strings]

SRight		= Move/Stop
SSlide 		= Slide
SJump		= Jump
