# ALWAYS_SEND_UNMAPPED_KEY
# Hill Climb Truck Race

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Up	= Tap (80,85)
Down	= Tap (16,85)

[Guidance]

Up	= Gas
Down	= Brake

[Gamepad]

A	= Down	
B	= Up

[OpenSensor]

Mode	= TapB
A	= Up	SUp
B	= Down	SDown

[Strings]
SUp	= Gas
SDown	= Brake