# ALWAYS_SEND_UNMAPPED_KEY
﻿# Ninja Slash! Runner

[Origin]
Author      	= Harsh
Rating		= 4.0
Build	= 1.0.52
Version	= 3.4
[Keys]

Space		= Tap (5,92)

[Gamepad]

A		= Space

[Guidance]

Space		= Jump

[OpenSensor]

Mode		= TapA
A		= Space	SArea1

[Strings]

SArea1		= Jump