# ALWAYS_SEND_UNMAPPED_KEY
#

# Powerboat Racing 3D
#


[Origin]

Author = Harsh

Rating = 3.7

[Keys]

Up = Tap (95,30)

Down = Tap (6,89)

Left = Tilt Absolute (0,-45) Return

Right = Tilt Absolute (0,45) Return

[Guidance]

Left = Move Left

Right = Move Right

Up = Boost

Down = Brake

[GamePad]

LeftStick = Tilt

Hat_Left = Left
Hat_Right = Right

A = Down
B = Up

[OpenSensor]

Mode = TiltTapB
Tilt = STilt

A = Down 	SBrake

B = Up		SBoost


[Strings]


STilt = Tilt To Move

SBoost = Boost

SBrake = Brake


