# ALWAYS_SEND_UNMAPPED_KEY
# Zombie Truck Race Multiplayer

[Origin]
Author	= Harsh
Rating	= 3.9

[Keys]
Left	= Tap (6,85)
Right	= Tap (27,85)
Up	= Tap (72,85)
Down	= Tap (91,85)

[Guidance]
Left	= Flip Up
Right	= Flip Down
Up	= Speed
Down	= Reverse

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A	= Down
B	= Up

[OpenSensor]
Mode	= TapD
A	= Left	SLeft
B	= Up	SUp
C	= Down	SDown
D	= Right	SRight

[Strings]
SLeft	= Flip Up
SRight	= Flip Down
SUp	= Speed
SDown	= Reverse
