# ALWAYS_SEND_UNMAPPED_KEY
# Colosseum  

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (11,81)
Right	= Tap (18,81)
Space	= Tap (85,90)
Z	= Tap (88,77)
A	= Tap (81,77)
X	= Tap (78,90)


[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Sword
Z	= Knife
A	= Katana
X	= Mace

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A		= Space
B		= Z
X		= A
Y		= X

LeftButton	= Space
RightButton	= X




