# ALWAYS_SEND_UNMAPPED_KEY
# Dirt Bike Motocross Rally

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Tilt Absolute (0,-15) Return
Right	= Tilt Absolute (0,15) Return
Space	= Tap (90,83)
Down	= Tap (9,83)

[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Speed
Down	= Brake

[Gamepad]
LeftStick	= Tilt

Hat_Left	=  Left
Hat_Right		= Right

A		= Down
B		= Space

[OpenSensor]
Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Down	SDown

[Strings]
STilt	= Tilt to move
SSpace	= Speed
SDown	= Brake