# ALWAYS_SEND_UNMAPPED_KEY
# Ultra Police Hot Pursuit 3D

[Origin]

Author	= Harsh
Rating	= 3.5

[Keys]

Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return

Space	= Tap (90,80)
Down	= Tap (15,80)

[Guidance]
Left	= Flip Up
Right	= Flip Down
Space	= Speed
Down	= Brake

[Gamepad]
LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right
A	= Down
B	= Space
[OpenSensor]
Mode	= TiltTapB
Tilt	= STilt
A	= Down	SDown
B	= Space	SSpace

[Strings]
STilt	= Tilt to flip
SDown	= Brake
SSpace	= Speed