# ALWAYS_SEND_UNMAPPED_KEY

# 4x4 Off-Road Rally 3

[Origin]

Author	= Harsh
Rating	= 3.8
Build	= 1.0.65
Version	= 1.9
[Keys]
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Up	= Tap (91,74)
Down	= Tap (74,74)
D	= Tap (93,49)
R	= Tap (93,40)
P	= Tap (93,31) 
Space	= Tap (79,68)

[Guidance]
Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown
D	= SD
Space	= SSpace
R	= SR
P	= SP

[Gamepad]


LeftStick	= Tilt
Hat_Left	= Left
Hat_Right		= Right
Hat_Down	= Down
Hat_Up	= Up
A	= Space
B	= D
X	= R
Y	= P
[Strings]

SRight	= Power
SUp	= Speed
SDown	= Brake
SP	= Parking
SR	= Reverse
SSpace	= Handbrake
SD	= Drive