# ALWAYS_SEND_UNMAPPED_KEY
﻿# Gun

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Space	= Tap (94,79)
Up	= Tap (5,31)
Down	= Tap (5,10)

[OpenSensor]

Mode	= Touch1TapC
Area1	= (1,69,10,22)	SArea1
A	= Space	SSpace
B	= Up	SUp
C	= Down	SDown

[Strings]
SArea1	= Touch to move
SSpace	= Shoot
SUp	= Zoom In
SDown	= Zoom Out
