# ALWAYS_SEND_UNMAPPED_KEY
#
# Firefly Runner
#

[Origin]
Author = Harsh
Rating = 4.0

[Keys]
Up		 = Tap (10,50)
Space 	= Tap (80,50)


[Guidance]
Space	= SSpace
Up 	= SUp


[GamePad]
A	= Space
B	= Up

[OpenSensor]
Mode = TapB
A	= Up	SUp
B	= Space	SSpace

[Strings]
SUp	= Fly
SSpace	= Shoot