# ALWAYS_SEND_UNMAPPED_KEY
# Racer

[Origin]

Author	= Mapping Manager
Rating	= 3.7

[Keys]

B	= Tap (87,86)
A	= Tap (15,89)
Right	= Tilt Absolute (0,20) Return
Left	= Tilt Absolute (0,-20) Return

[Guidance]

B	= SB
A	= SA
LeftStick	= SLeftStick
Right	= SRight
Left	= SLeft

[Gamepad]

B	= B
A	= A
LeftStick	= Tilt
Hat_Right	= Right
Hat_Left	= Left

[OpenSensor]


[Strings]

SB	= Speed
SA	= Reverse
SLeftStick	= Tilt To Move
SRight	= Move Right
SLeft	= Move Left
