# ALWAYS_SEND_UNMAPPED_KEY
#
# Monster Buster
#

[Origin]

Author = Aditya
Rating = 4.0

[Keys]

Space	= Tap (91,87)

[Guidance]

Space 	= SFire

[GamePad]

A	= Space

[OpenSensor]

Mode	= Touch1TapA
Area1	= (0,70,17,27)	Sarea
A	= Space		SFire

[Strings]

Sarea	= Swipe to move
SFire	= Fire

[Strings.zh_CN]

Sarea	= 滑动以移动
SFire	= 开火