# ALWAYS_SEND_UNMAPPED_KEY
# Raging Thunder Lite

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (1,40)
Z	= Tap (99,41)


[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right


Hat_Left		= Left
Hat_Right		= Right

A		= Space
B		= Z

[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Boost
Z	= Tackling

[OpenSensor]

Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Z	SZ

[Strings]
STilt	= Tilt to move
SSpace	= Boost
SZ	= Tackling