# ALWAYS_SEND_UNMAPPED_KEY
# Bubble Trouble

[Origin]
Author 				= Harsh
Rating				= 4.0

[Keys]
Right 				= Tap (22,89)
Left 				= Tap (7,89)
Space	= Tap (92,84)

[Guidance]

Right				= SRight
Left  				= SLeft
Space	= SSpace

[GamePad]
LeftStick_Left 			= Left
LeftStick_Right 			= Right

Hat_Left 			= Left
Hat_Right 			= Right
A	= Space


[OpenSensor]
Mode = TapC
A 				= Space	SSpace
B 				= Right  	 SRight
C	= Left	SLeft

[Strings]
SLeft				= Move Left
SRight 				= Move Right
SSpace	= Shoot