# ALWAYS_SEND_UNMAPPED_KEY
# 3D Monster Truck Jam

[Origin]

Author	= Harsh
Ratings	= 3.5

[Keys]

Space	= Tap (82,88)
Down	= Tap (17,88)

[Guidance]
Space	= Speed
Down	= Brake

[Gamepad]
A	= Down
B	= Space

[OpenSensor]
Mode	= TapB
A	= Space	SSpace
B	= Down	SDown

[Strings]
SSpace	= Speed
SDown	= Brake