# ALWAYS_SEND_UNMAPPED_KEY
#
# Earn to Die
#

[Origin]

Author	= Harsh
Ratings	= 4.5

[Keys]

Up	= Tap (85,88)
Space	= Tap (94,76)
Left	= Tap (5,75)
Right	= Tap (17,88)

[Gamepad]

LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Left	= Left

Hat_Up		= Up
Hat_Left		= Left
Hat_Right		= Right
Hat_Down		= Space

A		= Up
B		= Space

LeftButton	= Space
RightButton	= Up

[Guidance]

Right	= Flip Front
Space	= Boost
Up	= Speed
Left	= Flip Back

[OpenSensor]

Mode	= TapD
A	= Left	SDown
C	= Right	SUp
B	= Space	SSpace
D	= Up	SRight 

[Strings]

SRight	= Speed
SSpace	= Boost
SUp	= Flip Front
SDown	= Flip Back
