# ALWAYS_SEND_UNMAPPED_KEY
﻿# Ninja Rush

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]
Left	= Swipe Left
Right	= Swipe Right
Space	= Tap (70,78)
Up	= Tap


[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
Hat_Left		= Left
Hat_Right		= Right

A		= Space
B		= Up

LeftButton	= Space
RightButton	= Up

[Guidance]

Space	= Shoot
Up	= Jump
Left	= Slow
Right	= Speed

[OpenSensor]

Mode	= TapD
A	= Up	SUp
B	= Space	SSpace
C	= Left	SLeft
D	= Right	SRight

[Strings]
SUp	= Jump
SSpace	= Shoot
SLeft	= Slow
SRight	= Speed