# ALWAYS_SEND_UNMAPPED_KEY
# Little truck in action

[Origin]
Author	= Harsh
Rating	= 4.5

[Keys]
Left	= Swipe Left
Right	= Swipe Right

[Guidance]
Left	= STurnLeft
Right	= STurnRight

[GamePad]
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Left		= Left
LeftStick_Right		= Right

[OpenSensor]

Mode	= Touch1
Area1	= (0,33,100,33)		SArea1

[Strings]

SArea1		= Swipe to Turn
STurnLeft		= Turn Left
STurnRight	= Turn Right
