# ALWAYS_SEND_UNMAPPED_KEY
# Motorbike Lite

[Origin]
Author	= Harsh
Ratings	= 3.9

[Keys]
Left	= Tap (8,73)
Right	= Tap (21,73)
Up	= Tap (92,73)
Down	= Tap (77,73)

[Guidance]
Left	= Flip Up
Right	= Flip Down
Up	= Speed
Down	= Brake/ Back

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Down
B	= Up

[OpenSensor]
Mode	= TapD
A	= Left	SLeft
B	= Up	SUp
C	= Right	SRight
D	= Down	SDown

[Strings]
SUp	= Speed
SDown	= Brake/Back
SLeft	= Flip Up
SRight	= Flip Down