# ALWAYS_SEND_UNMAPPED_KEY
#
# Mars Smash - Running Game
#

[Origin]
Author 			= Harsh
Rating 			= 3.5

[Keys]
Up 			= Tap (10,90)
Space 			= Tap (88,90)

[Guidance]
Up 			= SUp
Space 			= SSpace

[GamePad]
A 			= Space
B 			= Up

[OpenSensor]
Mode = TapB
A 			= Up		SUp
B 			= Space		SSpace

[Strings]
SUp	= Jump
SSpace	= Fire