# ALWAYS_SEND_UNMAPPED_KEY
# Reckless Racing HD

[Origin]

Author	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (8,84)
Right	= Tap (28,84)
Down	= Tap (71,86)
Up	= Tap (71,86)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Right		= Right
Hat_Left		= Left
Hat_Up		= Up
Hat_Down		= Down

A		= Up

[Guidance]

Left	= Move Left
Right	= Move Right
Down	= Back/Brake
Up	= Back/Brake

[OpenSensor]

Mode	= TapC
A	= Up	SUp
B	= Right	SRight
C	= Left 	SLeft

[Strings]

SLeft	= Left
SRight	= Right
SUp	= Back/Brake
