# ALWAYS_SEND_UNMAPPED_KEY
# Deer Hunter Challenge

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Space	= Tap (40,60)
Z	= Tap (4,91)
X	= Tap (49,71)

[Guidance]

Space	= Shoot
Z	= Zoom
X	= Steady

[OpenSensor]

Mode	= Touch1TapC
Area1	= (0,0,100,100)	 SArea1
A	= Space		SSpace
B	= Z	SZ
C	= X	SX
[Strings]

SArea1	= Touch to move
SSpace	= Shoot
SZ	= Zoom in/out
SX	= Steady