# ALWAYS_SEND_UNMAPPED_KEY
# 3D Motocross Bike: Industrial

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Right 	= Tap (23,86)
Left	= Tap (6,86)
Space	= Tap (14,67)
Down	= Tap (91,73)
Up	= Tap (91,90)

[Gamepad]
LeftStick_Up	= Space
LeftStick_Left	= Left
LeftStick_Right	= Right
Hat_Left		= Left
Hat_Right		= Right
Hat_Up		= Space

A		= Down
B		= Up

[Guidance]

Down	= Brake
Up	= Speed
Left	= Flip Up
Right	= Flip Down
Space	= Jump
