# ALWAYS_SEND_UNMAPPED_KEY
#
# Pocket Racing
#

[Origin]
Author 				= Harsh
Rating 				= 3.8


[Keys]
Left 				= Tap (25,87)
Right 				= Tap (93,84)


[GamePad]
A 				= Left
B 				= Right
LeftButton 			= Left
RightButton 			= Right
Hat_Left 			= Left
Hat_Right 			= Right
LeftStick_Left 			= Left	
LeftStick_Right 		= Right

[Guidance]
Left				= Left
Right				= Right


[OpenSensor]
Mode 				= TapB
A 				= Left			SLeft
B 				= Right			SRight

[Strings]
SLeft 				=  Left
SRight 				=  Right
	
