# ALWAYS_SEND_UNMAPPED_KEY
﻿# Final Freeway R2

[origin]
Author	= David Reese
Rating	= 4.0

[keys]
Up	= Tap (93,80)
Down	= Tap (7,80)
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return

[guidance]
LeftStick	= SSteer
Left		= SSteerLeft
Right		= SSteerRight
Up		= SGas
Down		= SBrake

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left	 = Left
Hat_Right	 = Right
Hat_Up	= Up
Hat_Down	= Down

LeftButton	= Left
RightButton	= Right

A		= Up
B		= Down

[opensensor]
Mode	= TiltTapB
Tilt	= STilt
A	= Down		SBrake
B	= Up		SGas

[Strings]
STilt		= Tilt to Steer
SSteerLeft	= Steer Left
SSteerRight	= Steer Right
SGas		= Gas
SBrake		= Brake
