# ALWAYS_SEND_UNMAPPED_KEY
# 空间猎人

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

A	= Tap (5,66)
D	= Tap (14,66)
W	= Tap (8,61)
S	= Tap (8,71)
O	= Tap (95,69)
H	= Tap (82,72)
J	= Tap (89,72)
K	= Tap (91,60)
L	= Tap (97,59)

[Guidance]

A =左移 
D =右移
W =上移 
S =下移 
O =攻击 
H =生命 
J =技能1
K =技能2
L =技能3

[Gamepad]

LeftStick_Left	= A
LeftStick_Right	= D
LeftStick_Up	= W
LeftStick_Down	= S

Hat_Left	= A
Hat_Right	= D
Hat_Up	= W
Hat_Down	= S
LeftButton	= L

A	= J
B	= O
X	= K
Y	= H

