# ALWAYS_SEND_UNMAPPED_KEY
# Speed up car driving 3D

[Origin]

Author = Kunal
Rating = 4.0

[Keys]

Space 			= Tap
Left 			= Tilt Absolute (0,-20) Return
Right 			= Tilt Absolute (0,20) Return

[Guidance]

Space 			= SSpeed
Left 			= SLeft
Right 			= SRight

[GamePad]

Tilt_RollZero	= 0
Tilt_RollMax	= 35
LeftStick	= Tilt

Hat_Left 			= Left
Hat_Right 		= Right
A			= Space

[OpenSensor]

Mode 			= TapC
C 			= Left		SLeft
B 			= Right		SRight
A 			= Space		SSpeed

[Strings]

SLeft 			= Move Left
SRight 			= Move Right
SSpeed 			= Speed

