# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Formula MicroGp
#

[Origin]
Author 				= Aditya
Rating 				= 3.9

[Keys]
Left 				= Tap (12,80) 
Right 				= Tap (88,80)
Up 				= Tap (93,21)
Space				= Tap (93,21)

[GamePad]
LeftButton 			= Left
RightButton 			= Right
A 				= Up
B				= Up
Hat_Left 			= Left
Hat_Right 			= Right
Hat_Up 				= Space
LeftStick_Left 			= Left
LeftStick_Right 		= Right
LeftStick_Up 			= Space

[Guidance]
Left				= Left
Right				= Right
Up				= Boost
Space				= Boost


[OpenSensor]
Mode 				= TapC
A 				= Space			SBoost
B 				= Right			SRight
C 				= Left			SLeft


[Strings]
SBoost 				= Boost
SLeft 				= Left
SRight 				= Right

