# ALWAYS_SEND_UNMAPPED_KEY
# Oriental City 

[Origin]

Author	= Harsh
Rating	= 4.0
Version	= 1.9.3
Build	= 1.0.52
[Keys]

Down = Swipe Up (20,50); Swipe Down (60,20)
Up = Swipe Down (20,50); Swipe Up (60,20)

[Guidance]

Down	= SDown
Up	= SUp

[Gamepad]

A	= Down
B 	= Up

[OpenSensor]

Mode	= TapB
A	= Up	SUp
B	= Down	SDown

[Strings]
SDown	= Zoom Out
SUp	= Zoom In

[Strings.zh_CN]
SDown	= 放大
SUp	= 缩小
