# ALWAYS_SEND_UNMAPPED_KEY
﻿# Draw Rider +

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Down	= Tap (11,86)
Up	= Tap (11,62)
Left	= Tap (69,89)
Right	= Tap (85,87)


[Guidance]

Left	= Lean Up
Right	= Lean Down
Up	= Speed
Down	= Brake

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A		= Up
B		= Down


[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Down	SDown
D	= Up	SUp

[Strings]

SUp	= Speed
SDown	= Brake
SLeft	= Lean Up
SRight	= Lean Down
