# ALWAYS_SEND_UNMAPPED_KEY
#
# Zeronia 5
#

[Origin]
Author 			= Chirag
Rating 			= 4.6

[Keys]
Space 			= Tap (92,87)

[Guidance]
Space 			= SShoot

[GamePad]
A 			= Space
LeftButton 		= Space
RightButton 		= Space

[OpenSensor]
Mode 			= Touch1TapA
Area1 			= (0,42,33,58) 		STouchArea
A 			= Space 		SShoot

[Strings]
STouchArea 		= Touch To Move
SShoot 			= Hit