# ALWAYS_SEND_UNMAPPED_KEY
# The Rats of Mechanicsburg

[Origin]

Author	= Harsh
Rating	= 4.3

[Keys]

Left	= Tap (5,91)
Right	= Tap (21,91)
Up	= Tap (95,91)
Space	= Tap (79,91)

[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Space	= SSpace

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A		= Space
B	= Up

[OpenSensor]
Mode	= TapD
A	= Left	SLeft
B	= Up	SUp
C	= Right	SRight
D	= Space	SSpace

[Strings]
SLeft	= Move Back
SRight	= Move Forward
SUp	= Jump or Throw
SSpace	= Pick