# ALWAYS_SEND_UNMAPPED_KEY
# Reckless Racing

[Origin]

Author	= Harsh
Rating	= 4.2

[Keys]

Left	= Tap (8,85)
Right	= Tap (29,86)
Space	= Tap (71,86)
Down	= Tap (71,86)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right


A		= Space


[Guidance]

Left	= Move left
Right	= Move Right
Space	= Brake/Back

[OpenSensor]

Mode	= TapC
A	= Space	SSpace
B	= Right	SRight
C	= Left	SLeft

[Strings]

SLeft	= Left
SRight	= Right
SSpace	= Brake/Back