# ALWAYS_SEND_UNMAPPED_KEY
﻿# Billabong Surf Trip

[Origin]

Author	 = Harsh
Rating	= 3.9


[OpenSensor]

Mode	= Touch2
Area1	= (2,57,21,37)	SArea1
Area2	= (77,57,20,37)	SArea2

[Strings]

SArea1	= Touch to move