# ALWAYS_SEND_UNMAPPED_KEY
﻿# Jelly Car 3

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Tap (6,51)
Right	= Tap (90,56)
Space	= Tap (50,50)
Up	= Tilt Absolute (0,-30) Return
Down	= Tilt Absolute (0,30) Return

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up		= Up
Hat_Down		= Down
Hat_Left		= Left
Hat_Right		= Right

A		= Space
B		= Space
LeftButton	= Left
RightButton	= Right

[Guidance]

Left	= Move Back
Right	= Move Forward
Up	= Flip Up
Down	= Flip Down
Space	= Zoom 

[OpenSensor]

Mode	= TiltTapC
Tilt	= STilt
A	= Left	SLeft
B	= Right	SRight
C	= Space	SSpace

[Strings]

STilt	= Tilt to Lean
SSpace	= Car Zoom in/out
SLeft	= Move Back
SRight	= Move Forward