# ALWAYS_SEND_UNMAPPED_KEY
#
# Space Hero
#

[Origin]
Author 			= Harsh
Rating 			= 4.0
Build	= 1.0.65
Version	= 4.0

[Keys]
Space			= Tap 
Z	= Tap (41,92)

[Guidance]
Space 			= SJump
Z	= SZ
[GamePad]
A 			= Space
B	= Z
[OpenSensor]
Mode 			= TapB
A 			= Space		SJump
B 			= Z	SZ

[Strings]
SJump 			= Jump
SZ	= Power
