# ALWAYS_SEND_UNMAPPED_KEY
# StreetBall Free

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Space	= Tap (96,92)
Z	= Tap (88,93)

[Guidance]

Space	= Shoot
Z	= Pass

[OpenSensor]

Mode	= Touch1TapB
Area1	= (1,81,9,16)	SArea1
A	= Space	SSpace
B	= Z	SZ

[Strings]

SArea1	= Touch to move
SSpace	= Shoot
SZ	= Pass