# ALWAYS_SEND_UNMAPPED_KEY
# Final Fantasy ll

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (15,70)
Right	= Tap (31,70)
Up	= Tap (23,57)
Down	= Tap (23,83)
Space	= Tap (80,69)

[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown
Space	= SSpace

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up	= Up
Hat_Down	 = Down
Hat_Left	= Left
Hat_Right		= Right

A	= Space

[Strings]
SLeft	= Move Left
SRight	= Move Right
SUp	= Move Up
SDown	= Move Down
SSpace	= Action