# ALWAYS_SEND_UNMAPPED_KEY

# Trial Xtreme 4

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (7,82)
Right	= Tap (22,82)
Up	= Tap (7,59)
Down	= Tap (77,82)
Space	= Tap (91,82)


[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown
Space	= SSpace

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left	= Left
Hat_Right		= Right
Hat_Up	= Up
Hat_Down	= Down

A		= Space

[Strings]
SLeft	= Move Left
SRight	= Move Right
SUp	= Jump
SDown	= Brake
SSpace	= Drive