# ALWAYS_SEND_UNMAPPED_KEY
# Zombie Frontier 2: Survive

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Space	= Tap (85,75)
S 	= Tap (90,10)
A	= Tap (69,10)
X 	= Tap (51,10)
Z 	= Tap (95,55)

[Guidance]

S	= Change Gun
A	= Bomb
X	= Health
Z	= Reload
Space	= Shoot

[Gamepad]

A		= Space
B		= Z
X		= A
Y		= X

Hat_Up		= S