# ALWAYS_SEND_UNMAPPED_KEY
#
# Vampire Rush
#

[Origin]
Author	= Aditya
Rating	= 5.0

[Keys]
Space	= Tap

[Guidance]
Space	= SBoost

[GamePad]
A		= Space

[OpenSensor]
Mode	= TapA
A	= Space		SBoost

[Strings]
SBoost		= Change Position
