# ALWAYS_SEND_UNMAPPED_KEY
# League Of Evil 

[Origin]

Author	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (8,87)
Right	= Tap (28,88)
Up	= Tap (90,88)
Space	= Tap (75,88)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up

Hat_Left	= Left
Hat_Right	= Right
Hat_Up		= Up

A		= Space
B		= Up
LeftButton	= Space
RightButton	= Up

[Guidance]

Left	= Back
Right	= Forward
Up	= Jump
Space	= Shoot

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
C	= Up	SJump
B	= Right	SRight
D	= Space	SFire

[Strings]

SLeft	= Left
SRight	= Right
SJump	= Jump
SFire	= Shoot