# ALWAYS_SEND_UNMAPPED_KEY
# Air Penguin

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tilt Absolute (-20,0) Return
Right	= Tilt Absolute (20,0) Return
Up	= Tilt Absolute (0,-20) Return
Down	= Tilt Absolute (0,20) Return

[Guidance]

Left	= Move Left
Right	= Move Right
Up	= Move Up
Down	= Move Down

[Gamepad]

LeftStick_Up	= Up
LeftStick_Down	= Down
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Up	= Up
Hat_Down		= Down
Hat_Right		= Right
Hat_Left		= Left

LeftButton	= Left
RightButton	= Right

[OpenSensor]

Mode	= Tilt
Tilt 	= STilt

[Strings]
STilt	= Tilt to lean

