# ALWAYS_SEND_UNMAPPED_KEY
# Construction City

[Keys]
W = SwipeHold Up (88,81)
S = SwipeHold Down (88,81)
A = SwipeHold Left (88,81)
D = SwipeHold Right (88,81)
X = Tap (95,50)
R = Tap (5,67)
E = Tap (6,50)
Left	= Tap (6,88)
Right	= Tap (20,88)

[Guidance]
W	= Move Up
S	= Move Down
A	= Move Left
D	= Move Right
X	= Grab
R	= Put down
E	= Lift up
Left	= Go left
Right	= Go Right





