# ALWAYS_SEND_UNMAPPED_KEY
# Super Adventurer

[Origin]

Author	= Mapping Manager
Rating	= 3.4

[Keys]

Right	= Tap (29,94)
Left	= Tap (8,93)
Up	= Tap (90,93)
Space	= Tap (94,74)

[Guidance]

Right	= SRight
Left	= SLeft
Up	= SUp
Space	= SSpace

[Gamepad]

Hat_Right	= Right
LeftStick_Right	= Right
Hat_Left	= Left
LeftStick_Left	= Left
B	= Up
A	= Space

[OpenSensor]


[Strings]

SRight	= Move Right
SLeft	= Move Back
SUp	= Jump
SSpace	= Fire
