# ALWAYS_SEND_UNMAPPED_KEY
﻿# Brave Stickman Gold Chase

[Origin]
Author      	= Harsh
Rating		= 4.0

[Keys]

Space		= Tap

[Gamepad]

A		= Space

[Guidance]

Space		= Jump

[OpenSensor]

Mode		= TapA
A		= Space	SArea1

[Strings]

SArea1		= Jump