# ALWAYS_SEND_UNMAPPED_KEY
# Highway Smash Cop Rider

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (6,91)
Right	= Tap (20,91)
Up	= Tap (93,89)
Down	= Tap (85,91)
Space	= Tap (95,73)

[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown
Space	= SSpace

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Down
B	= Up
X	= Space

[Strings]
SLeft	= Move Left
SRight	= Move Right
SUp	= Speed
SDown	= Brake
SSpace	= Nitro