# ALWAYS_SEND_UNMAPPED_KEY
﻿# Stick Swing

[origin]
Author	= Deepika
Rating	= 4.5

[keys]
Space	= Tap

[guidance]
Space	= Release Rope

[Gamepad]
A		= Space


[OpenSensor]
Mode	= TapA
A	=	Space	SArea1

[Strings]
SArea1		= Release Rope
