# ALWAYS_SEND_UNMAPPED_KEY

# Dead Route

[Origin]
Author	= Harsh
Rating	= 4.0

[Keys]
Up	= Swipe Up
Down	= Swipe Down
Left	= Swipe Left
Right	= Swipe Right
Space	= Tap
Z	= Tap (5,89)
X	= Tap (93,89)

[Guidance]
Up	= SJump
Down	= SReload
Left	= SMoveLeft
Right	= SMoveRight
Space	= SSpace
Z	= SZ
X	= SX

[GamePad]
Hat_Up			= Up
Hat_Down		= Down
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Up		= Up
LeftStick_Down		= Down
LeftStick_Left		= Left
LeftStick_Right		= Right

A			= Z
B			= Space
X		= X

[OpenSensor]
Mode	= Touch1TapC
Area1	= (0,33,100,33)		SArea1
A	= Space			SSpace
B	= Z	SZ
C	= X	SX

[Strings]
SArea1		= Swipe To Perform
SJump		= Jump
SReload		= Reload
SMoveLeft	= Move Left
SMoveRight	= Move Right
SSpace		= Shoot
SX		= Bomb
SZ	= Health
