# ALWAYS_SEND_UNMAPPED_KEY
#
# Moto Mania
#

[Origin]
Author = Harsh
Rating = 3.5

[Keys]
Left	= Tilt Absolute (0,-10) Return
Right 	= Tilt Absolute (0,10) Return
Up 	= Tap (94,85)


[Guidance]
Left 	= SLeft
Right	 = SRight
Up 		= SUp


[GamePad]
LeftStick	= Tilt

Hat_Left		 = Left
Hat_Right		 = Right


A 		= Up

[OpenSensor]
Mode = TiltTapA
Tilt = STilt
A = Up	SUp

[Strings]
STilt = Tilt To Move
SLeft = Move Left
SRight = Move Right
SUp = Boost
