# ALWAYS_SEND_UNMAPPED_KEY
# Meganoid

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Right	= Tap (15,86)
Left	= Tap (6,87)
Space	= Tap (95,86)
Up	= Tap (92,86)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
Hat_Left		= Left
Hat_Right		= Right
A		= Space
B		= Space
Hat_Up		= Space
LeftStick_Up	= Space
LeftButton = Left
RightButton = Right


[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Jump

[OpenSensor]

Mode	= TapC
A	= Space	SSpace
B	= Right	SRight
C	= Left 	SLeft

[Strings]

SLeft	= Left
SRight	= Right
SSpace	= Jump	
