# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Mini Golf Games 3D
#

[Origin]
Author 				= Aditya
Rating 				= 3.5

[Keys]
Space 				= Tap (85,85)


[OpenSensor]
Mode 				= Touch1TapA
Area1 				= (8,33,52,31)			STouchArea
A 				= Space 			STap


[Strings]
STouchArea 			= Swipe For Angle 
STap 				= Shoot 
