# ALWAYS_SEND_UNMAPPED_KEY
# Shiva: The Time Bender

[Origin]

Author	= Harsh
Rating	= 4.3

[Keys]

Left	= Tap (12,52)
Right	= Tap (81,52)
Space	= Tap (49,89)

[Guidance]

Left	= Jump
Right	= Attack
Space	= Reverse

[Gamepad]
A	= Right
B	= Left
X	= Space

[OpenSensor]
Mode	= TapC
A	= Right	SRight
B	= Left	SLeft
C	= Space	SSpace

[Strings]
SRight	= Attack
SLeft	= Jump
SSpace	= Reverse