# ALWAYS_SEND_UNMAPPED_KEY
# Captain America

[Origin]

Author	= Harsh
Rating	= 4.5

[Keys]

Left	= Swipe Left
Right	= Swipe Right
Up	= Swipe Up
Down	= Swipe Down
Space	= Tap (8,85)

[Guidance]
Left	= Move Left
Right	= Move Right
Up	= Jump
Down	= Slide
Space	= Shoot

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up	= Up
Hat_Down	= Down
Hat_Left	= Left
Hat_Right		= Right

A		= Space
B		= Space

LeftButton	= Left
RightButton	= Right

[OpenSensor]

Mode	= Touch1TapA
Area1	= (0,33,100,33)	SArea
A	= Space		SSpace

[Strings]

SSpace	= Shoot
SArea	= Touch to move 
