# ALWAYS_SEND_UNMAPPED_KEY
#
# LINE COOKIE RUN
#

[Origin]
Author 			= Harsh

Rating 			= 4.0


[Keys]

Up 			= Tap (9,87)

Down 			= Tap (91,87)


[Guidance]

Up 			= SUp

Down		= SDown


[GamePad]

A 			= Down

B 			= Up


[OpenSensor]


Mode = TapB

A 			= Up		SUp

B 			= Down	SDown


[Strings]


SUp	= Jump

SDown	= Slide