# ALWAYS_SEND_UNMAPPED_KEY
# Nyanko Ninja

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Space	= Tap (93,86)
Z	= Tap (66,86)
X	= Tap (79,86)
Up	= Tap (15,55)

[Guidance]

Space	= SSpace
Z	= SZ
X	= SX
Up	= SUp

[Gamepad]

LeftStick_Up	= Up
Hat_Up	= Up

A	= X
B	= Space
X	= Z

[OpenSensor]
Mode	= TapD
A	= Space	SSpace
B	= Up	SUp
C	= Z	SZ
D	= X	SX

[Strings]
SSpace	= Attack
SUp	= Jump
SZ	= Health
SX	= Fire