# ALWAYS_SEND_UNMAPPED_KEY
﻿# Bumper Tank Battle

[Origin]

Author      	= Aditya
Rating		= 3.6

[Keys]

Left	= Tap (20,50)
Right	= Tap (80,50)

[Gamepad]
Hat_Left	= Left
Hat_Right	= Right
A		= Left
B		= Right

[Guidance]

Left		= Left
Right		= Right

