# ALWAYS_SEND_UNMAPPED_KEY
# Classic Car Driver Simulator

[Origin]
Author	= Harsh
Rating	= 3.9

[Keys]
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (86,86)
Down	= Tap (12,86)


[Guidance]
Left		= SSteerLeft
Right		= SSteerRight
Space		= SSpace
Down	= SDown

[GamePad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right	= Right

A		= Down
B		= Space


[OpenSensor]
Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Down	SDown

[Strings]
STilt		= Move Left/Right
SSteerLeft	= Move Left
SSteerRight	= Move Right
SSpace		= Speed
SDown		= Brake