# ALWAYS_SEND_UNMAPPED_KEY
# Cordy Sky

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (35,56)
Z	= Tap (65,21)

[Guidance]
Right 			= Move Right
Left 			= Move Left
Space 			= Jump
Z	=	Power

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A		= Space
B		= Z

LeftButton	= Left
RightButton	= Right


[OpenSensor]

Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Z	SZ
[Strings]

STilt	= Tilt to move left & right
SSpace	= Tap to jump
SZ	= Power