# ALWAYS_SEND_UNMAPPED_KEY
# Alien Swarm

[Origin]

Author = Kunal
Rating	= 4.5

[Keys]
Left	= Tap (15,93)
Right	= Tap (49,93)
Space   	= Tap (83,85)
Up      	= Tap (83,85)

[Guidance]
Space	= SFire
Right	= SRight
Left	= SLeft

[Gamepad]
A 		= Space
LeftStick_Up 	= Space 
Hat_Up		= Space

LeftStick_Left 	= Left 
Hat_Left		= Left

LeftStick_Right	= Right 
Hat_Right		= Right
LeftButton	= Left
RightButton	= Right
B		= Space


[OpenSensor]
Mode	= TapC
B	= Right		SRight
A	= Space		SFire
C 	= Left		SLeft

[Strings]
SFire		= Fire
SRight		= Move Right
SLeft		= Move Left
