# ALWAYS_SEND_UNMAPPED_KEY
# Crazy Truck

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (92,62)
Right	= Tap (92,88)
Up	= Tap (6,88)
Down	= Tap (6,62)

[Guidance]

Left	= Flip Up
Right	= Flip Down
Up	= Speed
Down	= Back

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right



Hat_Left		= Left
Hat_Right		= Right

A		= Down
B		= Up


[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Up	SUp
D	= Down	SDown

[Strings]

SUp	= Speed
SDown	= Back
SLeft	= Flip Up
SRight	= Flip Down