# ALWAYS_SEND_UNMAPPED_KEY
# Action Blox Full Free

[Origin]
Author	= Harsh
Rating	= 4.5

[Keys]
Up	= Swipe Up
Down	= Swipe Down
Left	= Swipe Left
Right	= Swipe Right
Z = Swipe Up (20,50); Swipe Down (60,20)
X = Swipe Down (20,50); Swipe Up (60,20)

[Guidance]
Up	= SUp
Down	= SDown
Left	= STurnLeft
Right	= STurnRight
Z	= SZ
X	= SX
[GamePad]
Hat_Up			= Up
Hat_Down		= Down
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Up		= Up
LeftStick_Down		= Down
LeftStick_Left		= Left
LeftStick_Right		= Right
A	= Z
B	= X
[OpenSensor]

Mode	= Touch1TapB
Area1	= (0,33,100,33)		SArea1
A	= Z	SZ
B	= X	SX
[Strings]
SArea1		= Swipe to Turn/Jump/Slide
STurnLeft		= Turn Left
STurnRight	= Turn Right
SUp	= Move Up
SDown	= Move Down
SZ	= Zoom Out
SX	= Zoom In