# ALWAYS_SEND_UNMAPPED_KEY
# Deer Hunter 3D

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Space	= Tap 
Z	= Tap (49,66)

[Guidance]

Space	= Shoot
Z	= Steady

[OpenSensor]

Mode	= Touch1TapB
Area1	= (0,0,100,100)	 SArea1
A	= Space		SSpace
B	= Z	SZ
[Strings]

SArea1	= Touch to move
SSpace	= Shoot
SZ	= Steady