# ALWAYS_SEND_UNMAPPED_KEY
# Mini Motor 

[Origin]
 Author	= Harsh
 Rating	= 4.5

[Keys]

Space	= Tap (85,76)


[OpenSensor]

Mode	= Touch1TapA	
Area1	= (8,64,11,22)	SArea1
A	= Space		SSpace

[Strings]

SArea1	= Touch to turn left & right
SSpace	= Nitro
