# ALWAYS_SEND_UNMAPPED_KEY
﻿# Black Bike Race

[Origin]
Author	= Samyak Ranjan
Rating	= 3.0

[Keys]
Left	= Tilt Absolute (0,40) Return
Right	= Tilt Absolute (0,-40) Return
Space	= Tap (7,45)
Enter	= Tap (89,50)

[Guidance]
LeftStick	= SLean
Left		= SLeanLeft
Right		= SLeanRight
Space		= SBrake
Enter		= SAccelerate

[GamePad]
Tilt_RollMax	= 40
LeftStick	= Tilt

Hat_Left	= Left
LeftButton	= Left

Hat_Right	= Right
RightButton	= Right

A		= Enter
B		= Space

[OpenSensor]
Mode	= TiltTapB
Tilt	= STilt
A	= Space		SBrake
B	= Enter		SAccelerate

[Strings]
STilt		= Tilt to Lean
SLean		= Lean
SLeanLeft	= Lean Left
SLeanRight	= Lean Right
SAccelerate	= Accelerate
SBrake		= Brake