# ALWAYS_SEND_UNMAPPED_KEY
# Super Stunt Car : Offroad

[Origin]

Author	= Harsh
Rating	= 3.6

[Keys]
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (3,39)

[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Restart

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Space

[OpenSensor]
Mode	= TiltTapA
Tilt	= STilt
A	= Space	SSpace

[Strings]
STilt	= Tilt to move
SSpace	= Restart
