# ALWAYS_SEND_UNMAPPED_KEY
# SD???? ?????????? ??????

[Origin]

[Keys]

Up	= Swipe Up (50,0)
Down	= Swipe Down (50,98)

[Gamepad]

LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up	= Up
Hat_Down	= Down

A	= Down
B	= Up

[Guidance]

Up	= Move Up
Down	= Move Down