# ALWAYS_SEND_UNMAPPED_KEY
#
# CSR Classic
#

[Origin]
Author				= Harsh
Rating 				= 4.6

[Keys]
Down 				= Tap (24,84)
Up				= Tap (75,84)
Space 				= Tap (94,61)
Z 				= Tap (7,66)


[Guidance]

Down 				= SGearD
Up				= SGearU
Space 				= SThrottle 
Z				= SNitro

[GamePad]
A 				= Space
LeftStick_Down 			= Down
LeftStick_Up 		= Up
Hat_Up	= Up
Hat_Down	= Down

B 				= Z

[OpenSensor]
Mode 				= TapD
A 				= Space 	SThrottle
B 				= Down		SGearD
C				= Z		SNitro
D 				= Up		SGearU

[Strings]
SThrottle 				= Gas
SGearU 				= Gear Up
SGearD 				= Gear Down
SNitro				= Nitro