# ALWAYS_SEND_UNMAPPED_KEY
#
# Mini Army
#

[Origin]
Author 					= Chirag
Rating 					= 4.0

[Keys]
Left 					= Tap (3,94)
Right 					= Tap (9,94)
Up 					= Tap (97,90)
Down 					= Tap (97,94)

[Guidance]
Up 					= SUp
Down 					= SDown
Left 					= SLeft
Right 					= SRight


[GamePad]
LeftStick_Left 				= Left
LeftStick_Right 			= Right
LeftStick_Up 				= Up
LeftStick_Down 				= Down
Hat_Left 				= Left
Hat_Right 				= Right
Hat_Up 					= Up
Hat_Down 				= Down

[OpenSensor]
Mode 					= TapD
A 					= Left			SLeft
B 					= Up			SUp
C 					= Right			SRight
D 					= Down			SDown

[Strings]
SLeft 					= Move Left
SRight 					= Move Right
SUp 					= Move Up
SDown 					= Move Down