# ALWAYS_SEND_UNMAPPED_KEY
# Gear Jack
[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Up	= Tap (92,85)
Down	= Tap (7,85)
Space	= Tap (95,66)
Z	= Tap (4,66)

[Guidance]

Up	= Jump
Down	= Roll
Space	= Slow
Z	= Play

[Gamepad]

LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up	= Up
Hat_Down	= Down

A		= Down
B		= Up
X		= Space
Y		= Z

[OpenSensor]
Mode	= TapD
A	= Up	SUp
B	= Space	SSpace
C	= Down	SDown
D	= Z	SZ

[Strings]
SUp	= Jump
SDown	= Roll
SSpace	= Slow
SZ	= Play