# ALWAYS_SEND_UNMAPPED_KEY

# Merlins Adventure

[Origin]

Author 			= Samyak
Rating 			= 4.0

[Keys]
Right			= Tap (16,90)
Left			= Tap (7,90)
Space			= Tap (97,90)
Z			= Tap (87,79)


[GamePad]

Hat_Left		= Left
Hat_Right		= Right

LeftStick_Left		= Left
LeftStick_Right		= Right

A 			= Z
B			= Space

[Guidance]

Space 			= SJump
Left			= SLeft
Right			= SRight
Z			= SUnlock

[OpenSensor]
Mode 			= TapD
A 			= Space		SJump
B			= Left		SLeft
C			= Right		SRight
D			= Z		SUnlock

[Strings]
SUnlock			= Unlock Door
SJump			= Jump
SRight			= Right
SLeft			= Left
