# ALWAYS_SEND_UNMAPPED_KEY

# Super Hexagon

[Origin]
Author	= Samyak Ranjan
Rating	= 4.0

[Keys]

Left	= Tap (10,30)
Right	= Tap (90,30)

[Guidance]
Left	= SLeft
Right	= SRight

[GamePad]
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Left		= Left
LeftStick_Right		= Right

[OpenSensor]

Mode	= TapB
A	= Left	SLeft
B	= Right	SRight

[Strings]
SLeft		= Clockwise
SRight		= Anticlockwise