# ALWAYS_SEND_UNMAPPED_KEY
# Cars and Guns 3D

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (11,88)
Right	= Tap (31,88)
Up	= Tap (93,88)
Down	= Tap (77,88)

[Guidance]

Left	= Move Left
Right	= Move Right
Up	= Move Up
Down	= Move Down

[Gamepad]

LeftStick_Left	= Left
LeftStick_Up	= Up
LeftStick_Down	= Down
LeftStick_Right	= Right

Hat_Up	= Up
Hat_Down	= Down
Hat_Left		= Left
Hat_Right		= Right
A		= Up
B		= Down

LeftButton	= Left
RightButton	= Right


[OpenSensor]

Mode	= TapD
A	= Up	SUp
B	= Down	SDown
C	= Left	SLeft
D	= Right	SRight

[Strings]

SUp	= Speed
SDown	= Brake
SLeft	= Move Left
SRight	= Move Right