# ALWAYS_SEND_UNMAPPED_KEY

# Death Biker

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (79,89)
Right	= Tap (93,89)
Up	= Tap (6,89)
Down	= Tap (6,63)


[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Down
B	= Up

[OpenSensor]
Mode	= TapD
A	= Left	SLeft
B	= Up	SUp
C	= Right	SRight
D	= Down	SDown

[Strings]
SLeft	= Flip Up
SRight	= Flip Down
SUp	= Speed
SDown	= Reverse