# ALWAYS_SEND_UNMAPPED_KEY
# BlastPoints

[Origin]

Author	= Harsh
Rating	= 4.5

[Keys]

Left	= Key Left
Up	= Key Up
Down	= Key Down
Right	= Key Right
Space	= Tap (85,74)
A	= Tap (94,67)
S	= Tap (86,61)
Z	= Tap (93,80)
X	= Tap (86,87)

[Guidance]
Left	= Move Left
Right	= Move Right
Up	= Move Up
Down	= Move Down
Space	= Shoot
A	= Rocket
S	= Boost
Z	= Power
X	= Brake

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up 	= Up
LeftStick_Down	= Down

Hat_Up		= Up
Hat_Down	= Down
Hat_Left		= Left
Hat_Right		= Right

LeftButton	= A
RightButton	= S

A		= Space
B		= Z