# ALWAYS_SEND_UNMAPPED_KEY

# I ate colors ...

[Origin]

Author 			= Samyak
Rating 			= 3.0

[Keys]
Space			= Tap (50,50)

[GamePad]

A 			= Space

[Guidance]

Space			= SJump

[OpenSensor]
Mode 			= TapA
A 			= Space		SJump

[Strings]
SJump			= Jump