# ALWAYS_SEND_UNMAPPED_KEY
# MonsterDestroyerQuiggy
[Origin]

Author	= Harsh
Rating	= 3.5

[Keys]
Left	= Swipe Left
Right	= Swipe Right
Space	= Tap (4,31)
Z	= Tap (4,23)

[Guidance]
Left	= Move Left
Right	= Move Right
Space	= Jump
Z	= Shoot

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right
A		= Z
B		= Space

