# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Super Mario Ultimate
#

[Origin]
Author = Chirag
Rating = 4.5


[Keys]
Space = Tap (91,71)
Up = Tap (91,71)
Right = Tap (26,84)
Left = Tap (8,84)
Down = Tap (59,83)
Z = Tap (76,85)
X = Tap (91,71)


[Guidance]
Left = SLeft
Right = SRight
Up = SUp
Down = SDown
Space = SJump
Z = SShoot
X = SJump

[GamePad]
LeftStick_Left = Left
LeftStick_Right = Right
LeftStick_Up = Up
LeftStick_Down = Down
Hat_Left = Left
Hat_Right = Right
Hat_Up = Up
Hat_Down = Down
B = X
A = Z
LeftButton = Left
RightButton = Right


[OpenSensor]
Mode = Touch1TapC
Area1 = (2,73,31,20)	SArea
A = X		SJump
B = Z	 	SShoot
C = Down	SDown



[Strings]
SArea = Touch To Move
SLeft = Left
SRight = Right
SShoot = Shoot
SJump = Jump
SUp = Up
SDown = Down

