# ALWAYS_SEND_UNMAPPED_KEY
# Gun Bros 2

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (5,80)
Right	= Tap (17,80)
Up	= Tap (11,68)
Down	= Tap (11,92)
Space	= Tap (88,79)

[Guidance]

Left	= Move Left
Right	= Move Right
Up	= Move Up
Down	= Move Down
Space	= Shoot

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left	= Left
Hat_Right	= Right
Hat_Up	= Up
Hat_Down	= Down

A	= Space
