# ALWAYS_SEND_UNMAPPED_KEY
# Aby Escape

[Origin]
Author	= Samyak Ranjan
Rating	= 4.6

[Keys]
Up	= Swipe Up
Down	= Swipe Down
Z	= Tilt Absolute (0,-20) Return
X	= Tilt Absolute (0,20) Return

[Guidance]
Up	= SJump
Down	= SSlide

[GamePad]
Hat_Up		= Up
LeftStick_Up	= Up

Hat_Down	= Down
LeftStick_Down	= Down

[OpenSensor]
Mode	= TiltDGesture
Tilt	= STilt
Up	= Up		SJump
Down	= Down		SSlide
[Strings]
STilt		= Tilt to Switch Lanes
SJump		= Jump
SSlide		= Slide