# ALWAYS_SEND_UNMAPPED_KEY
# Massteroid

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return
Up	= Tilt Absolute (45,0) Return
Down	= Tilt Absolute (-45,0) Return

[Guidance]

Left	= Move Left
Right	= Move Right
Up	= Move Up
Down	= Move Down

[Gamepad]

Tilt_RollZero	= 0
Tilt_RollMax	= 35
LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right
Hat_Up		= Up
Hat_Down	= Down


[OpenSensor]

Mode	= Tilt
Tilt	= STilt

[Strings]

STilt	= Tilt to move