# ALWAYS_SEND_UNMAPPED_KEY
#
# Super Jetpack Penguin
#

[Origin]
Author	= Harsh
Rating	= 3.6
Version	= 1.0.5
Build	= 1.0.52

[Keys]
Space	= Tap

[Guidance]
Space	= SSpace

[GamePad]
A		= Space

[OpenSensor]
Mode	= TapA
A	= Space		SSpace

[Strings]
SSpace	= Dive
