# ALWAYS_SEND_UNMAPPED_KEY
# TightRope Walker 3D

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (15,70)
Right	= Tap (49,62)
Space	= Tap (89,53)
Z	= Tap (90,77)

[Guidance]
Left	= Bend
Right	= Go
Space	= Jump
Z	= Balance

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right
Hat_Up	= Space
Hat_Down	= Z

A		= Space
B		= Z

LeftButton	= Left
RightButton	= Right

[OpenSensor]

Mode	= TapD
B	= Left	SLeft
A	= Right	SRight
C	= Space	SSpace
D	= Z	SZ

[Strings]
SLeft	= Bend
SRight	= Go
SSpace	= Jump
SZ	= Balance