# ALWAYS_SEND_UNMAPPED_KEY
# Sniper Shooting Specialists

[Origin]

Author	 = Harsh
Rating	= 3.4

[Keys]

Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return
Up	= Tilt Absolute (45,0) Return
Down	= Tilt Absolute (-45,0) Return
Space	= Tap

[Guidance]

Left	= Move Left
Right	= Move Right
Up	= Move Up
Down	= Move Down
Space	= Shoot
[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right
Hat_Up	= Up
Hat_Down	= Down

A	= Space

[OpenSensor]

Mode	= TiltTapA
Tilt	= STilt
A	= Space	SSpace

[Strings]
STilt	= Tilt to move
SSpace	= Shoot