# ALWAYS_SEND_UNMAPPED_KEY
# Drift Car 3D

[Origin]

Author	= Mapping Manager
Rating	= 4.8

[Keys]

Right	= Tilt Absolute (0,20) Return
Left	= Tilt Absolute (0,-20) Return
B	= Tap (91,67)
A	= Tap (91,87)
Down	= Tap (10,78)

[Guidance]

Right	= SRight
Left	= SLeft
B	= SB
A	= SA
Down	= SDown

[Gamepad]

Hat_Right	= Right
Hat_Left	= Left
B	= B
A	= A
Hat_Down	= Down
LeftStick	= Tilt

[Strings]

SRight	= Move Right
SLeft	= Move Left
SB	= Speed
SA	= Reverse
SDown	= Brake
