# ALWAYS_SEND_UNMAPPED_KEY
﻿
# Formula Racing Game
[Origin]

Author	= Aditya
Rating	= 4.0

[Keys]

Left = Tap (10,86)
Right = Tap (27,86)
Down = Tap (78,86)
Up = Tap (91,86)d
X   = Tap (93,55)

[Guidance]

Down	= SDown
Up	= SUp
Left	= SLeft
Right	= SRight
X	= SNitro

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right
A	= Down
B 	= Up
Hat_Left = Left
Hat_Right = Right
X	= X

[Strings]
SDown	= Reverse/Break
SUp	= Acceleration
SLeft	= Steer Left
SRight	= Steer Right
SNitro	= Nitro

