# ALWAYS_SEND_UNMAPPED_KEY
﻿# Head soccer

[Origin]
Author		= Aditya Singh
Rating		= 3.5

[Keys]
Left		= Tap (9,92)
Right		= Tap (26,92)
Space		= Tap (92,92)
Up		= Tap (92,92)
Z		= Tap (71,92)
X		= Tap (55,92)

[Gamepad]
LeftStick_Left 			= Left
LeftStick_Right 		= Right 
Hat_Left 			= Left
Hat_Right 			= Right 

A 				= Z
X	 			= X
B 				= Up

[Guidance]
Left		= Left
Right		= Right
Space		= Jump
Up		= Jump
Z		= Kick
X		= Power

[Opensensor]
Mode		= TapD
A 				= Left   	SLeft
B 				= Right 	SRight
C 				= Up		SUp
D 				= Z		SDown	

[Strings]
SLeft		= Left
SRight		= Right
SUp		= Jump
SDown		= Power

