# ALWAYS_SEND_UNMAPPED_KEY
﻿# FingerBoard Skateboard Classic

[Origin]

Author	= Harsh
Rating	= 3.8

[OpenSensor]

Mode	= Touch1
Area1	= (0,0,100,100) 	SArea1

[Strings]

SArea1	= Touch to move