# ALWAYS_SEND_UNMAPPED_KEY
# Retro future racing

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (10,50)
Right	= Tap (80,50)
Space	= Tap (13,90)

[Guidance]

Left	= SLeft
Right	= SRight
Space	= SSpace

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Space

[OpenSensor]

Mode	= TapC
A	= Space	SSpace
B	= Left	SLeft
C	= Right	SRight

[Strings]
SSpace	= Boost
SLeft	= Move Left
SRight	= Move Right
