# ALWAYS_SEND_UNMAPPED_KEY
[keys]

Q	= Tilt Absolute (-45,-45)
W	= Tilt Absolute (-45,0)
E	= Tilt Absolute (-45,45)

A	= Tilt Absolute (0,-45)
S	= Tilt Absolute (0,0)
D	= Tilt Absolute (0,45)

Z	= Tilt Absolute (45,-45)
X	= Tilt Absolute (45,0)
C	= Tilt Absolute (45,45)

[gamepad]
LeftStick	= Tilt

[opensensor]
Mode	= Tilt
