# ALWAYS_SEND_UNMAPPED_KEY
#
# The Bard's Tale
#

[Origin]
Author 		= Chirag
Rating 		= 4.5

[Keys]
Up		= Key Up
Down	 	= Key Down
Right	 	= Key Right
Left	 	= Key Left
Space 		= Tap (94,90)
Z 		= Tap (94,76)
X 		= Tap (5,58)
C 		= Tap (50,80)

[Guidance]
X 		= SViolen
Z 		= SShield
Space 		= SHit
C 		= SSpeak
Left 		= SLeft
Right 		= SRight
Up 		= SUp
Down 		= SDown


[GamePad]
LeftStick_Left 	= Left
LeftStick_Right = Right
LeftStick_Up 	= Up
LeftStick_Down 	= Down
Hat_Left 	= Left
Hat_Right 	= Right
Hat_Up 		= Up
Hat_Down 	= Down
A 		= Space
B 		= Z
LeftButton 	= X
RightButton 	= C


[Strings]
SLeft 		= Move Left
SRight 		= Move Right
SUp 		= Move Up
SDown 		= Move Down
SSpeak 		= Speak
SHit 		= Hit
SShield 	= Shield
SViolen 	= Violen

