# ALWAYS_SEND_UNMAPPED_KEY
# Banana Kong

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Down	= Swipe Down
Right	= Swipe Right
Space	= Tap

[Guidance]

Down	= SDown
Right	= SRight
Space	= SSpace

[Gamepad]

LeftStick_Up	= Right

Hat_Up	= Right

A	= Down
B	= Space

[OpenSensor]
Mode	= TapC
A	= Space	SSpace
B	= Down	SDown
C	= Right	SRight

[Strings]
SSpace	= Jump
SDown	= Move Down
SRight	= Boost   