# ALWAYS_SEND_UNMAPPED_KEY

# School Bus Driving 3D

[Origin]
Author	= Samyak Ranjan
Rating	= 4.0

[Keys]
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Up	= Tap (91,68)
Down	= Tap (91,85)
Space	= Tap (10,78)

[Guidance]
Left	= SLeft
Right	= SRight
Space	= SBrake
Up	= SAccelerate
Down	= SReverse

[GamePad]
Hat_Left		= Left
Hat_Right		= Right

LeftStick	= Tilt
A			= Down
B			= Up
X			= Space

[OpenSensor]
Mode	= TiltTapC
A	= Space	SBrake
B	= Up	SUp
C	= Down	SReverse

[Strings]
SLeft		= Move Left
SRight		= Move Right
SBrake		= Brakes
SAccelerate	= Accelerate
SReverse	= Reverse
STilt		= Tilt to Move