# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Devil Ninja 
#

[Origin]
Author	= Harsh
Rating	= 4.0

[Keys]
Space	= Tap (87,88)
X	= Tap (73,75)
Up	= Tap (12,88)

[Guidance]
Space	= SSpace
X	= SX
Up	= SUp

[GamePad]
A		= Space
B		= Up
X		= X

[OpenSensor]

Mode	= TapC
A	= Space	SSpace
B	= Up	SUp
C	= X	SX

[Strings]
SSpace	= Attack
SUp	= Jump
SX	= Power