# ALWAYS_SEND_UNMAPPED_KEY

# Transformer:Ride Of Extinction

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Up	= Tap (88,75)
Space	= Tap (10,75)

[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Space	= SSpace

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right

A	= Space
B	= Up

[OpenSensor]

Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Up	SUp

[Strings]

SLeft	= Move Left
SRight	= Move Right
STilt	= Tilt to move
SUp	= Boost
SSpace	= Missile