# ALWAYS_SEND_UNMAPPED_KEY
#
# Dragon And Dracula : Platformer
#

[Origin]
Author 			= Chirag
Rating 			= 4.5


[Keys]
Left			= Tap (6,65)
Right   			= Tap (19,65)
Up			= Tap (11,48)
Down			= Tap (11,75)
Space 			= Tap (93,54)


[Guidance]
Left 			= SLeft
Right 			= SRight
Up 			= SUp
Down 			= SDown
Space 			= SJump

[GamePad]
LeftStick_Left 		= Left
LeftStick_Right 	= Right
LeftStick_Up 		= Up
LeftStick_Down 		= Down
Hat_Left 		= Left
Hat_Right 		= Right
Hat_Up 			= Up
Hat_Down 		= Down
A 			= Space
B			= Space
[OpenSensor]
Mode 			= Touch1TapA
Area1 			= (0,34,32,55) 		STouch
A 			= Space			SJump

[Strings]
STouch			= Touch To Move
SJump 			= Jump
SLeft 			= Move Left
SRight 			= Move Right
SUp 			= Move Up
SDown 			= Move Down