# ALWAYS_SEND_UNMAPPED_KEY
# Samurai vs Zombies Defense 2

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (12,46)
Right	= Tap (89,46)
X	= Tap (80,92)
Z	= Tap (6,90)
A	= Tap (17,91)
Space	= Tap (95,92)
S	= Tap (28,92)	
D	= Tap (39,92)


[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= A
LeftStick_Down	= D

Hat_Up	= A
Hat_Left	 = Left
Hat_Right	 = Right
Hat_Down	= D

A	 = Space
B	 = X
X	 = Z
Y	 = S

LeftButton	= S
RightButton	= D

[Guidance]

Left	= Move Back
Right	= Move Forward
X	= Light Power
Z	= Farmer
Space	= Sword
A	= Sword Warrior
D	= Bowman
S	= Spear Warrior