# ALWAYS_SEND_UNMAPPED_KEY
# Toon Warz

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Space	= Tap (61,43)
Z	= Tap (69,29)
X	= Tap (30,23)

[Guidance]

Space	= Shoot
Z	= Jump
X	= Change the weapon

[OpenSensor]

Mode	= Touch1TapC
Area1	= (29,31,12,21)	SArea1
A	= Space		SSpace
B	= Z		SZ
C	= X		SX

[Strings]

SArea1		= Tap to move
SSpace		= Shoot
SZ		= Jump
SX		= Change the weapon

