# ALWAYS_SEND_UNMAPPED_KEY
# Reckless Gateway Free

[Origin]

Author	= Harsh
Rating	= 4.2

[Keys]

Left	= Tap (11,84)
Right	= Tap (88,84)
Space	= Tap (94,59)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A		= Space

[Guidance]
Left	= Move left
Right	= Move Right
Space	= Power

[OpenSensor]

Mode	= TapC
A	= Space	SSpace
B	= Right	SRight
C	= Left	SLeft

[Strings]

SLeft	= Left
SRight	= Right
SSpace	= Boost/Power