# ALWAYS_SEND_UNMAPPED_KEY
﻿# Tiny Robots

[Origin]
Author	= Samyak
Rating	= 3.0

[Keys]
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (40,50)

[Guidance]
Left		= SLeanLeft
Right		= SLeanRight
Space		= SPower

[GamePad]
Tilt_RollZero	= 0
Tilt_RollMax	= 20
LeftStick	= Tilt

Hat_Left	= Left
LeftButton	= Left

Hat_Right	= Right
RightButton	= Right

A		= Space
B		= Space

[OpenSensor]
Mode	= TiltTapA
Tilt	= STilt
A	= Space		SPower

[Strings]
STilt		= Tilt to Lean
SLeanLeft	= Lean Left
SLeanRight	= Lean Right
SPower		= Charge