# ALWAYS_SEND_UNMAPPED_KEY
# Thunder Rider

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Up	= Tilt Absolute (20,0) Return
Down	= Tilt Absolute (-20,0) Return


[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Up	= Up
Hat_Right		= Right
Hat_Down	= Down