# ALWAYS_SEND_UNMAPPED_KEY
#
# Run Like Hell
#

[Origin]
Author 			= Chirag
Rating 			= 4.5

[Keys]
Up 			= Tap (92,90)
Down 			= Tap (72,92)
Right 			= Tap (8,93)
Space 			= Tap (92,90)

[Guidance]
Up 			= SJump
Space 			= SJump
Right 			= SBoost
Down 			= SSlide


[GamePad]
LeftStick_Up 		= Up
LeftStick_Down 		= Down

Hat_Up 			= Up
Hat_Down 		= Down

A			= Right

[OpenSensor]
Mode 			= TapC
A 			= Right			SBoost
B 			= Up			SJump
C 			= Down			SSlide

[Strings]
SBoost 			= Boost
SJump 			= Jump
SSlide 			= Slide