# ALWAYS_SEND_UNMAPPED_KEY
# Tiny Comet

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Up	= Tilt Absolute (20,0) Return
Down	= Tilt Absolute (-20,0) Return

[Guidance]

Up	= Move Up
Down	= Move Down

[Gamepad]

LeftStick	= Tilt

Hat_Up		= Up
Hat_Down	= Down
[OpenSensor]

Mode	= Tilt
Tilt	= STilt

[Strings]

STilt	= Tilt to move

