# ALWAYS_SEND_UNMAPPED_KEY

# Worms 3

[Origin]
Author	= Samyak Ranjan
Rating	= 4.0

[Keys]

Left	= Tap (4,75)
Right	= Tap (19,75)
Up	= Tap (11,62)
Down	= Tap (11,86)
Space	= Tap (34,86)
Z	= Tap (79,86)
X	= Tap (93,65)
C	= Tap (93,87)


[Guidance]
Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown
Space	= SGun
Z	= SBomb
X	= SJumpLeft
C	= SJumpRight

[GamePad]
Hat_Left		= Left
Hat_Right		= Right
Hat_Up			= Up
Hat_Down		= Down

LeftStick_Left		= Left
LeftStick_Right		= Right
LeftStick_Up		= Up
LeftStick_Down		= Down

A			= X
B			= C
X			= Z

[Strings]
SGun		= Weapon Change
SBomb		= Attack
SJumpLeft	= Jump Left
SJumpRight	= Jump Right
SLeft		= Move Left
SRight		= Move Right
SUp		= Move Up
SDown		= Move Down