# ALWAYS_SEND_UNMAPPED_KEY
# Dragon Storm

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Right 	= Tap (73,72)
Left	= Tap (25,72)
Space	= Tap (50,62)
Z	= Tap (50,80)
X	= Tap (92,59)
C	= Tap (6,59)

[Gamepad]
Hat_Left	= Left
Hat_Right	= Right

A	= Space
B	= X
X	= C
Y	= Z

[Guidance]

Left	= Attack Left
Right	= Attach Right
Space	= Power 1
Z	= Power 2
X	= Health
C	= Power
