# ALWAYS_SEND_UNMAPPED_KEY
# Spider VS Stickaman

[Origin]

Author	= Harsh
Rating	= 3.5

[Keys]

Right	= Swipe Right (46,53)

[Guidance]

Right	= SRight

[Gamepad]

A	= Right

[OpenSensor]

Mode	= TapA
A	= Right	SRight

[Strings]
SRight	= Attack