# ALWAYS_SEND_UNMAPPED_KEY
#
# Fast & Furious 6
#


[Origin]
Author = Chirag
Rating = 5.0

[Keys]
Space = Tap (8,52)
Z = Tap (80,86)
X = Tap (12,82)

[Guidance]
Space = SNitro
Z = SLaunch
X = SDrift


[GamePad]
Hat_Up = X
A = Space
B = Z

[OpenSensor]
Mode = Touch1TapC
Area1 = (87,59,7,29)	SGear
A = Z      SLaunch
B = Space   SNitro
C = X 	SDrift

[Strings]
SLaunch = Launch
SNitro = Nitro
SDrift = Drift
SGear = Gear