# ALWAYS_SEND_UNMAPPED_KEY
﻿# Moy Cartoon World

[Origin]

Author      	= Harsh
Rating		= 3.9

[Keys]

Space		= Tap

[Gamepad]

A		= Space

[Guidance]

Space		= Hold to Fly

[OpenSensor]

Mode		= TapA
A		= Space	SArea1

[Strings]

SArea1		= Hold to Fly