# ALWAYS_SEND_UNMAPPED_KEY
#
# Bike Xtreme
#

[Origin]
Author = Chirag
Rating = 4.0


[Keys]
Up = Tap (74,53)
Down = Tap (20,53)
Left = Tilt Absolute (0,-25) Return
Right = Tilt Absolute (0,25) Return


[Guidance]
Left = SLeft
Right = SRight
Up = SUp
Down = SDown


[GamePad]
LeftStick_Left = Left
LeftStick_Right = Right

A = Down
B = Up


[OpenSensor]
Mode = TiltTapB
Tilt = STilt
A = Down	SDown
B = Up		SUp


[Strings]
STilt = Tilt To Flip
SUp = Gas
SDown = Brake
SLeft = Tilt Left
SRight = Tilt Right
