# ALWAYS_SEND_UNMAPPED_KEY
# One Button Sports

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Space	= Tap (92,87)

[Guidance]

Space	= Tap 

[Gamepad]

A	= Space

[OpenSensor]

Mode	= TapA
A	= Space	SSpace

[Strings]

SSpace	= Tap 