# ALWAYS_SEND_UNMAPPED_KEY
# Caligo Chaser

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (6,78)
Right	= Tap (22,78)
Up	= Tap (14,63)
Down	= Tap (14,89)
Z	= Tap (88,84)
X	= Tap (94,62)

[Gamepad]

Hat_Left	 = Left
Hat_Down	 = Down
Hat_Right	 = Right
Hat_Up	 = Up

A	 = Z
B	 = X

[Guidance]

Left	= Move left
Right	= Move Right
Up	= Move up
Down	= Move Down
A	= Attack
B	= Charge Gauntlet 




[OpenSensor]


Mode	= Touch1TapB

Area1	= (0,56,29,44)	SArea1

A	= Z	 SShoot

B	= X	 Sprint



[Strings]

SArea1	 = Touch to Move

SShoot	 = Attack
Sprint	 = Hold to charge gauntlet