# ALWAYS_SEND_UNMAPPED_KEY
﻿# Crossy Road

[Origin]

Author	= Aditya
Rating	= 4.7

[Keys]

Left = Swipe Left
Right = Swipe Right
Up = Tap
Down = Swipe Down

[Guidance]

Up	= SUp
Left	= SLeft
Right	= SRight
Down	= SDown

[Gamepad]

B 	= Up
Hat_Left = Left
Hat_Right = Right
Hat_Up	= Up
Hat_Down	= Down
A	= Down

[Strings]
SUp	= Forward
SLeft	= Go Left
SRight	= Go Right
SDown	= Go Back


