# ALWAYS_SEND_UNMAPPED_KEY
#
# bruce lee enter the game
#

[Origin]
Author = Harsh
Rating = 4.0

[Keys]
Left 	= Tap (10,70)
Right 	= Tap (80,70)
Down	= Swipe Down
Up	= Swipe Up
Z	= Swipe Left
X	= Swipe Right
[Guidance]

Left 	= SLeft
Right 	= SRight
Up	= SUp
Down	= SDown
Z	= SZ
X	= SX
[GamePad]

LeftStick_Left 	= Left
LeftStick_Right 	= Right
Hat_Left 		= Left
Hat_Right 	= Right

A		= Up
B	= Down
X	= X
Y	= Z
[Strings]
SLeft = Left
SRight = Right
SUp	= Attack 1
SDown	= Attack 2
SZ	= Attack 3
SX	= Attack 4