# ALWAYS_SEND_UNMAPPED_KEY
#
# Bombergeddon Free
#

[Origin]
Author 			= Harsh
Rating 			= 4.5


[Keys]
Left			= Tap (3,82)
Right   			= Tap (19,82)
Up			= Tap (11,68)
Down			= Tap (11,93)
Space 			= Tap (93,85)


[Guidance]
Space 			= SBomb
Left 			= SLeft
Right 			= SRight
Up 			= SUp
Down 			= SDown

[GamePad]
LeftStick_Left 		= Left
LeftStick_Right		= Right
LeftStick_Up 		= Up
LeftStick_Down 		= Down
Hat_Left 		= Left
Hat_Right 		= Right
Hat_Up 			= Up
Hat_Down 		= Down

A 			= Space

[OpenSensor]
Mode 			= Touch1TapA
Area1 			= (0,58,23,39) 		STouch
A 			= Space			SBomb

[Strings]
STouch			= Touch To Move
SBomb 			=  Bomb
SLeft 			= Move Left
SRight 			= Move Right
SUp 			= Move Up
SDown 			= Move Down