# ALWAYS_SEND_UNMAPPED_KEY
#
# Mario Parody
#

[Origin]
Author 				= Chirag
Rating 				= 4.7

[Keys]
Left 				= Tap (3,90)
Right 				= Tap (10,90)
Up 				= Tap (91,90)
Space 				= Tap (96,90)

[Guidance]
Left 				= SLeft
Right 				= SRight
Up 				= SUp
Space 				= SFire


[GamePad]
LeftStick_Left 			= Left
LeftStick_Right 		= Right
LeftStick_Up 			= Up
Hat_Left 			= Left
Hat_Right 			= Right
Hat_Up 				= Up
LeftButton 			= Left
RightButton 			= Right
A				= Up
B				= Space

[OpenSensor]
Mode 				= TapD
A 				= Left		SLeft
B 				= Right		SRight
C 				= Space		SFire
D 				= Up		SUp

[Strings]
SLeft 				= Left
SRight 				= Right
SUp 				= Jump
SFire 				= Fire