# ALWAYS_SEND_UNMAPPED_KEY
# Tank Hero

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Space	= Tap
Z	= Tap (5,17)

[Guidance]

Space	= Shoot
Z	= Missile

[Gamepad]

A	= Z
B	= Space

[OpenSensor]
Mode	= Touch1TapB
Area1	= (4,59,19,36)	SArea
A	= Space		SSpace
B	= Z		SZ

[Strings]

SArea	= Touch to move
SSpace	= Shoot
SZ	= Missile