# ALWAYS_SEND_UNMAPPED_KEY

# Super Cat's World

[Origin]
Author	= Samyak Ranjan
Rating	= 3.5

[Keys]

Left	= Tap (9,83)
Right	= Tap (20,83)
Space	= Tap (90,83)

[Guidance]
Left	= SLeft
Right	= SRight
Space	= SJump

[GamePad]
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Left		= Left
LeftStick_Right		= Right

A			= Space

[OpenSensor]
Mode	= TapC
A	= Left	SLeft
B	= Right	SRight
C	= Space	SJump

[Strings]
SLeft		= Move Left
SRight		= Move Right
SJump		= Jump