# ALWAYS_SEND_UNMAPPED_KEY
#
# The Impossible Game
#
[Origin]
Author 		= Chirag
Rating 		= 4.3


[Keys]
Space 		= Tap
Left 		= Tap (45,87)
Right		= Tap (60,87)
Up 		= Tap
Down 		= Tap


[Guidance]
Space 		= SJump
Left 		= SFlag
Right 		= SRemove


[GamePad]
LeftButton 	= Space
Hat_Up 		= Space
LeftStick_Up 	= Space
A 		= Space
B		= Right
RightButton	= Left

[OpenSensor]
Mode 		= TapC
A 		= Space	SJump
B 		= Right 	SRemove
C 		= Left	SFlag 


[Strings]
SJump = Jump
SRemove = Remove Flag
SFlag = Put Flag