# ALWAYS_SEND_UNMAPPED_KEY
# Monkey Boxing

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Space	= Tap (90,88)
Z	= Tap (10,88)

[Guidance]

Space	= SSpace
Z	= SZ

[Gamepad]

A	= Z
B	= Space

[OpenSensor]

Mode	= TapB
A	= Space	SSpace
B	= Z	SZ

[Strings]

SSpace	= Punch
SZ	= Defend