# ALWAYS_SEND_UNMAPPED_KEY
﻿# Draw Rider +

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Down	= Tap (80,85)
Up	= Tap (92,85)
Right	= Tap (20,85)
Left	= Tap (7,85)


[Guidance]

Left	= Lean Down
Right	= Lean Up
Up	= Speed
Down	= Brake

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Down	= Down
LeftStick_Up	= Up

Hat_Left		= Left
Hat_Right		= Right
Hat_Down	 = Down
Hat_Up		= Up

LeftButton	= Left
RightButton	= Right
A		= Up
B		= Down


[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Down	SDown
D	= Up	SUp

[Strings]

SUp	= Speed
SDown	= Brake
SLeft	= Lean Up
SRight	= Lean Down
