# ALWAYS_SEND_UNMAPPED_KEY
﻿# Death racing 2:desert

[Origin]
Author	= Harsh
Rating	= 4.0

[Keys]
Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return
Up	= Tap (90,55)
Space	= Tap (47,57)

[Guidance]
Left		= SSteerLeft
Right		= SSteerRight
Up		= SGas
Space		= SSiren

[GamePad]
Tilt_RollMax	= 35
LeftStick		= Tilt

Hat_Left		= Left
Hat_Right		= Right
A		= Up
B		= Space

[OpenSensor]
Mode		= TiltTapB
Tilt		= STilt
A		= Up		SGas
B		= Space		SSiren

[Strings]
STilt		= Tilt to Steer
SSteer		= Steer
SSteerLeft	= Steer Left
SSteerRight	= Steer Right
SGas		= Gas
SSiren		= Siren