# ALWAYS_SEND_UNMAPPED_KEY
# Battle Run

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Space	= Tap (9,90)
Up	= Tap 
Z	= Tap (9,62)

[Guidance]

Up	= Jump
Space	= Power
Z	= Ride

[Gamepad]

Hat_Up		= Up
LeftStick_Up	= Up

A		= Space
B		= Up
X		= Z

[OpenSensor]

Mode	= TapC
A	= Up	SUp
B	= Space	SSpace
C	= Z	SZ

[Strings]
SUp	= Jump
SSpace	= Power
SZ	= Ride