# ALWAYS_SEND_UNMAPPED_KEY
# Howzzat! Sachin Cricket Quiz

[Origin]
Author				= Aditya Singh
Rating				= 3.0

[Keys]
A				= Tap (16,38)
S				= Tap (34,38)
D				= Tap (13,43)
F				= Tap (39,43)

[Gamepad]
A				= F
X				= A
B				= S
Y				= D

[Guidance]
X				= A
B				= B
Y				= C
A				= D

[Opensensor]
Mode				= TapD
A				= A		St1
B				= S		St2
C				= D		St3
D				= F		St4

[Strings]
St1				= A
St2				= B
St3				= C
St4				= D
