# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Ground Effect Pro HD
#

[Origin]
Author 			= Chirag
Rating 			= 4.4

[Keys]
Left 			= Tilt Absolute (0,-60) Return
Right 			= Tilt Absolute (0,60) Return
Up 			= Tap (91,84)
Down 			= Tap (74,84)


[Guidance]
Left 			= SLeft
Right 			= SRight
Up 			= SAcc
Down 			= SBrake

[GamePad]
LeftStick_Left 		= Left
LeftStick_Right		= Right
Hat_Left 		= Left
Hat_Right 		= Right
Hat_Up 			= Up
Hat_Down 		= Down
LeftStick_Up 		= Up
LeftStick_Down 		= Down
A 			= Down
Y 			= Up
X 			= Left
B 			= Right
LeftButton 		= Left
RightButton 		= Right

[OpenSensor]
Mode 			= TiltTapB
Tilt 			= STilt
A 			= Down 		SBrake
B 			= Up 		SAcc

[Strings]
SBrake 			= Brake
SAcc 			= Speed
SLeft 			= Move Left
SRight 			= Move Right
STilt			= Tilt To Move 