# ALWAYS_SEND_UNMAPPED_KEY
# Blocky Roads

[Origin]

Author	= Harsh
Ratings	= 3.7

[Keys]


Up	= Tap (10,75)
Down	= Tap (90,80)


[Gamepad]

A		= Down
B		= Up

[Guidance]


Up	= Speed
Down	= Brake

[OpenSensor]

Mode	= TapB
A	= Down	SDown
B	= Up 	SUp

[Strings]

SDown	= Brake
SUp	= Speed