# ALWAYS_SEND_UNMAPPED_KEY
# Tower Defense
# ALWAYS_SEND_UNMAPPED_KEY

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

A	= Tap (5,4)
S	= Tap (15,5)
Z	= Tap (6,93)
X	= Tap (93,4)


[Guidance]
A	= Pause
S	= Speed
Z	= Tip
X	= Setting

[Gamepad]

A	= S	
B	= A
X	= Z
Y	= X

[OpenSensor]

Mode	= TapD
A	= S	SS
B	= A	SA
C	= Z	SZ
D	= X	SX

[Strings]
SS	= Speed
SA	= Pause
SZ	= Tip
SX	= Setting
