# ALWAYS_SEND_UNMAPPED_KEY
#
# Fast Ball 2
#

[Origin]
Author 			= Harsh
Rating 			= 4.0

[Keys]
Up 			= Tap
Space 			= Tap

[Guidance]
Up 			= SJump
Space 			= SJump

[GamePad]
A 			= Space

[OpenSensor]
Mode 			= TapA
A 			= Space		SJump

[Strings]
SJump 			= Jump