# ALWAYS_SEND_UNMAPPED_KEY
# Sky Gamblers: Rise of Glory

[Origin]

Author	= Harsh
Rating	= 4.2

[Keys]

Left	= Key Left
Right	= Key Right
Up	= Key Up
Down	= Key Down
A	= Tilt Absolute (0,-45) Return
S	= Tilt Absolute (0,45) Return
Space	= Tap (90,81)
D	= Tap (90,10)
Z	= Tap (66,4)

[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Shoot
Up	= Move Up
Down	= Move Down
A	= Turn Left
S	= Turn Right
Z	= Start / Stop
D	= Speed

[Gamepad]

LeftStick_Left	= Left
LeftStick_Up	= Up
LeftStick_Down	= Down
LeftStick_Right	= Right
 
Hat_Down	= Down
Hat_Left		= Left
Hat_Right		= Right
Hat_Up		= Up

LeftButton	= A
RightButton	= S
A		= Space
B		= D
