# ALWAYS_SEND_UNMAPPED_KEY
﻿# Fifa 14

[Origin]

Author	= Harsh
Rating	= 5.0

[Keys]

Left	= Tap (4,75)
Right	= Tap (13,75)
Up	= Tap (9,71)
Down	= Tap (9,85)
Space	= Tap (96,85)
Z	= Tap (95,84)
X	= Tap (89,90)
C	= Tap (88,86)

[Guidance]

Space	= Shoot
Z	= Sprint/ Tackle
X	= Call 2nd Defender/ Skill Move
C	= Pass / Switch
Left	= Move Left
Right	= Move Right
Up	= Move Up
Down	= Move Down