# ALWAYS_SEND_UNMAPPED_KEY
# DreamWorks Dash n Drop

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Space	= Tap
Z	= Tap 

[Guidance]

Space	= Hold to down

[Gamepad]

LeftButton	= Space
RightButton	= Space

Hat_Down	= Space
LeftStick_Down	= Space
A		= Space
B		= Space

[OpenSensor]

Mode	= TapA
A	= Space	SSpace

[Strings]

SSpace	= Hold To Down