# ALWAYS_SEND_UNMAPPED_KEY
# Super American Racing Lite

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (84,80)

[Guidance]

Left	= SLeft
Right	= SRight
Space	= SSpace

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right

A	= Space

[OpenSensor]

Mode	= TiltTapA
Tilt	= STilt
A	= Space	SSpace

[Strings]
STilt	= Tilt to move
SSpace	= Reverse
SLeft	= Move Left
SRight	= Move Right