# ALWAYS_SEND_UNMAPPED_KEY
﻿# Queen's Crown 2

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (7,73)
Right	= Tap (19,74)
Up	= Tap (13,62)
Down	= Tap (13,85)
Space	= Tap (89,79)
Z	= Tap (94,9)
X	= Tap (83,62)


[Guidance]

Left	= Move Back
Right	= Move Forward
Up	= Move Up
Down	= Move Down
Space	= Attack
Z	= Weapon
X	= Energy

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left		= Left
Hat_Right		= Right
Hat_Up		= Up
Hat_Down	= Down

A		= Space
B		= Z

LeftButton	= X
RightButton	= Z

[OpenSensor]

Mode	= Touch1TapC
Area1	= (4,57,18,34)	SArea1
A	= Space	SSpace
B	= Z	SZ
C	= X	SX

[Strings]

SArea1	= Tap to move
SSpace	= Attack
SZ	= Weapon
SX	= Energy
