# ALWAYS_SEND_UNMAPPED_KEY
# Night Moto Race-2014

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (3,66)



[Guidance]

Left	= SLeft
Right	= SRight
Space	= SSpace


[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right


A	= Space

[OpenSensor]

Mode	= TiltTapA
Tilt	= STilt
A	= Space	SSpace

[Strings]
SSpace	= Speed
STilt	= Tilt to Move
SLeft	= Move Left
SRight	= Move Right