# ALWAYS_SEND_UNMAPPED_KEY
﻿# Bad Roads

[Origin]
Author	= Samyak Ranjan
Rating	= 3.7

[Keys]
Left	= Tilt Absolute (0,20) Return
Right	= Tilt Absolute (0,-20) Return
Space	= Tap

[Guidance]
LeftStick	= SLean
Left		= SLeanLeft
Right		= SLeanRight
Space		= SGas

[GamePad]
Tilt_RollZero	= 0
Tilt_RollMax	= 35
LeftStick	= Tilt

Hat_Left	= Left
Hat_Right	= Right
A		= Space


[OpenSensor]
Mode	= TiltTapA
Tilt	= STilt
A	= Space		SGas

[Strings]
STilt		= Tilt to Lean
SLean		= Lean
SLeanLeft	= Lean Back
SLeanRight	= Lean Front
SGas		= Gas
