# ALWAYS_SEND_UNMAPPED_KEY
# Bike Tyke

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Up	= Tap (10,60)
Down	= Tap (80,60)


[Guidance]

Up	= SUp
Down	= SDown

[Gamepad]

LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up	= Up
Hat_Down	= Down

[OpenSensor]

Mode	= TapB
A	= Up	SUp
B	= Down	SDown

[Strings]
SUp	= Move Up
SDown	= Move Down
