# ALWAYS_SEND_UNMAPPED_KEY
﻿# SupeGNES

[Origin]
Author		= Aditya
Rating		= 4.2

[Keys]
Left		= Tap (4,24)
Right		= Tap (22,26)
Up		= Tap (14,8)
Down		= Tap (13,42)
Z		= Tap (95,75)
X		= Tap (79,75)
Space		= Tap (87,89)
C		= Tap (87,60)
V		= Tap (4,96)
B		= Tap (95,5)

[Gamepad]
Hat_Left	= Left
Hat_Right	= Right
Hat_Up		= Up
Hat_Down	= Down
LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down
A		= Space
B		= Z
X		= X
LeftButton	= C
RightButton	= V

[Guidance]
Left		= Left
Right		= Right
Up		= Up
Down		= Down
Z		= A
X		= Y
Space		= B
C		= X
V		= L
B		= R

[Opensensor]
Mode		= Touch1TapC
Area1		= (4,8,18,34)		Sarea
A		= Space			Sa
B		= Z			Sb
C		= X			Sc

[Strings]
Sarea		= Swipe to move
Sa		= A	
Sb		= B
Sc		= C