# ALWAYS_SEND_UNMAPPED_KEY
﻿# Death Assualt

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Up	= Tap (6,92)
Space	= Tap (92,92)
Right	= Tap (9,3)

[Guidance]

Up	= Jump
Space	= Shoot
Right	= Move fast/ Slow

[Gamepad]

LeftStick_Up	= Up
Hat_Up	= Up
LeftStick_Right	= Right
Hat_Right		= Right
LeftButton	= Up
RightButton	= Space

A		= Up
B		= Space

[OpenSensor]

Mode	= TapC
A	= Up	SUp
B	= Space	SSpace
C	= Right	SRight
[Strings]
SRight	= Move Fast/ Slow
SUp	= Jump
SSpace	= Shoot