# ALWAYS_SEND_UNMAPPED_KEY
# Earn to Die Lite

[Origin]

Author	= Harsh
Ratings	= 4.5

[Keys]

Space	= Tap (85,88)
Z	= Tap (94,76)
Left	= Tap (5,75)
Right 	= Tap (17,88)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left 	 = Left
Hat_Right = Right

A	 	= Z
B	 	= Space

[Guidance]

Z	= Boost
Space	= Speed
Left	= Flip Up
Right	= Flip Down

[OpenSensor]

Mode	= TapD
A	= Z	SZ
C	= Left	SLeft
B	= Space	SSpace
D	= Right	SRight

[Strings]

SZ	= Boost
SSpace	= Speed
SLeft	= Flip Up
SRight	= Flip Down