# ALWAYS_SEND_UNMAPPED_KEY
#
# Air Attack HD
#

[Origin]
Author = Harsh
Rating = 4.5

[Keys]
Space 	= Tap (3,94)

[Guidance]
Space 	= SMissile

[GamePad]

A 		= Space

[OpenSensor]

Mode = Touch1TapA
Area1 = (0,0,100,100)    	SArea
A = Space 	SMissile


[Strings]
SMissile		= Missile
SArea		= Swipe To Move

[Strings.zh_CN]
SMissile		= 发射导弹
SArea		= 滑动以移动
