# ALWAYS_SEND_UNMAPPED_KEY

#Balance Box

[Origin]
Author	= Adi
Rating	= 4.0

[Keys]
Down	= Tap (47,8)

[Guidance]
Down	= SDown

[GamePad]
A		= Down

[OpenSensor]
Mode	= TapA
A	= Down	SDown

[Strings]
SDown		= Drop

