# ALWAYS_SEND_UNMAPPED_KEY
# Real Car Racing Speed City
[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (13,75)
Right	= Tap (86,75)
Space	= Tap (92,34)
Z	= Tap (92,47)

[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Nitro
Z	= Power

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A	= Space
B	= Z