# ALWAYS_SEND_UNMAPPED_KEY
#
# Kung Fu Rabbit
#

[Keys]
Left	= Tap (5,85)
Right	= Tap (15,85)
A	= Tap (90,85)
B	= Tap (5,5)

[GamePad]
Hat_Left	= Left
Hat_Right	= Right
A		= A
B		= B

[OpenSensor]
Mode	= Touch1TapB
Area1	= (0,70,25,10)	SArea1
A	= A		SJump
B	= B		SItem

[Strings]
SArea1		= Touch to Move
SJump		= Jump
SItem		= Item
