# ALWAYS_SEND_UNMAPPED_KEY
# Run Alex Run Free

[Origin]

Author	= Harsh
Rating	= 4.2

[Keys]

Left	= Tilt Absolute (0,-25) Return
Right	= Tilt Absolute (0,25) Return
Space	= Tap (50,50)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

LeftButton	= Left
RightButton	= Right

A		= Space

[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Pause 


[OpenSensor]

Mode	= TiltTapA
Tilt	= STilt
A	= Space	SSpace

[Strings]

STilt	= Tilt to move
SSpace	= Pause