#
# Shine Runner
#

[Origin]
Author = Chirag
Rating = 4.5

[Keys]
Left 		= Tap (7,52)
Right 		= Tap (92,52)
Space 		= Tap (95,93)

[Guidance]

Left	 	= Move Left
Right 		= Move Right
Space 		= Restart

[GamePad]

LeftStick_Left = Left
LeftStick_Right = Right

Hat_Left = Left
Hat_Right = Right

LeftButton = Left
RightButton = Right

A 	= Space
B	= Space


[OpenSensor]

Mode 	= TapC
A 	= Space		SRestart
B 	= Right		SRight
C 	= Left		SLeft

[Strings]
SLeft 	= Left
SRight 	= Right
SRestart 	= Restart