# ALWAYS_SEND_UNMAPPED_KEY
# Ninja Quest

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (5,74)
Right	= Tap (25,75)
Up	= Tap (15,56)
Down	= Tap (15,90)

Space	= Tap (78,85)
Z	= Tap (92,61)
X	= Tap (92,48)
S	= Tap (92,85)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left		= Left
Hat_Down		= Down
Hat_Right		= Right
Hat_Up		= Up

A		= Space
B		= S
X		= Z
Y		= X

LeftButton	= Space
RightButton	= S

[Guidance]

Left	= Move Backward
Right	= Move Forward
Up	= Move up
Down	= Move Down
Space	= Stone
S	= Knife
Z	= Mp
X	= Hp
