# ALWAYS_SEND_UNMAPPED_KEY
#
# Magnetic Sports Soccer Lite
#

[Origin]
Author	= Samyak Ranjan
Rating	= 4

[Keys]
Left	= Tilt Absolute (0,-20)
Right	= Tilt Absolute (0,20)

[Guidance]
LeftStick	= STilt
Left		= STiltLeft
Right		= STiltRight

[GamePad]
Tilt_RollMax	= 25
LeftStick	= Tilt

Hat_Left	= Left
LeftButton	= Left

Hat_Right	= Right
RightButton	= Right

[OpenSensor]
Mode	= Tilt
Tilt	= STilt

[Strings]
STilt		= Tilt to Move
SSteer		= Move
SSteerLeft	= Move Left
SSteerRight	= Move Right
