# ALWAYS_SEND_UNMAPPED_KEY
# Mutant Roadkill

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Swipe Left
Right	= Swipe Right
Z	= Tilt Absolute (0,-20) Return
X	= Tilt Absolute (0,20) Return

[Guidance]

Left	= STurnLeft
Right	= STurnRight
Z	= SMoveLeft
X	= SMoveRight

[Gamepad]

LeftStick		= Tilt

Hat_Left		= Left
Hat_Right		= Right

LeftButton	= Z
RightButton	= X



[OpenSensor]

Mode	= TiltDGesture	
Tilt	= STilt
Left	= Left		SLeft
Right	= Right		SRight

[Strings]
STilt		= Tilt to Move Left/Right
STurnLeft		= Turn Left
STurnRight	= Turn Right
SMoveLeft	= Move Left
SMoveRight	= Move Right		