# ALWAYS_SEND_UNMAPPED_KEY
# Lunar Racer

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Right	 = Tilt Absolute (0,20) Return
Left	= Tilt Absolute (0,-20) Return
Space	= Tap (50,88)
Down	= Tap (10,70)
Up	= Tap (80,70)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right


Hat_Left		= Left
Hat_Right		= Right



A		= Down
B		= Up
X	= Space
[Guidance]

Down	= Pull Down
Up	= Speed
Left	= Flip Up
Right	= Flip Down
Space	= Power

[OpenSensor]

Mode	= TiltTapC
Tilt	= STilt
A	= Space	SSpace
B	= Up	SUp
C	= Down SDown	

[Strings]

SDown	= Brake
SUp	= Speed
SSpace	= Jump
STilt	= Tilt to lean