# ALWAYS_SEND_UNMAPPED_KEY
# Chundos + Turbo
[Origin]

Author 			= Harsh
Rating			= 4.5

[Keys]
Left			= Tilt Absolute (0,-25) Return
Right			= Tilt Absolute (0,25) Return
Down			= Tap (11,84)

[Gamepad]
LeftStick_Down		= Down
LeftStick_Left		= Left
LeftStick_Right		= Right

Hat_Left		= Left
Hat_Down		= Down
Hat_Right		= Right
LeftButton		= Left
RightButton		= Right
A			= Down
B			= Down

[Guidance]

Left			= Move Left
Right			= Move Right
Down			= Brake/Back

[OpenSensor]

Mode			= TiltTapA
Tilt			= STilt
A			= Down	SDown

[Strings]
STilt			= Tilt to move Right and Left
SDown			= Brake/Back

