# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# X-Man
#

[Origin]
Author 				= Aditya
Rating 				= 4.0

[Keys]
Left 				= Tap (2,85) 
Right 				= Tap (7,85) 
Up 				= Tap (4,81)
Down 				= Tap (4,89)
Space				= Tap (92,89)
Z	         			= Tap (97,89)
X				= Tap (97,79)

[Guidance]
Left	= Move Left
Right	= Move Right
Up	= Move Up
Down	= Move Down
Z	= Punch
Space	= Jump
X	= Power


[GamePad]
LeftStick_Left  		= Left
LeftStick_Right 		= Right
LeftStick_Up 			= Up
LeftStick_Down 			= Down

Hat_Left 			= Left
Hat_Right 			= Right 
Hat_Up 				= Up 
Hat_Down 			= Down
A 				= Space 
B				= Z
LeftButton			= X
RightButton			= X


[OpenSensor]
Mode 				= Touch1TapC
Area1 				= (2,84,6,6)		STouchArea
A 				= Space 			SSpace
B                               			= Z		SZ
C                               			= X		SX

[Strings]
STouchArea 			= Swipe To Move  
SSpace				= Jump
SZ				= Punch
SX				= Power
