# ALWAYS_SEND_UNMAPPED_KEY
# Punch Quest 

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (10,82)
Right	= Tap (90,82)

[Guidance]

Left	= Left Thumb
Right	= Dash Punch

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A		= Left
B		= Right

LeftButton	= Left
RightButton	= Right

[OpenSensor]

Mode	= TapB
A	= Left	SLeft
B	= Right	SRight

[Strings]

SLeft	= Left Thumb
SRight	= Dash Punch