# ALWAYS_SEND_UNMAPPED_KEY
# Super Goalkeeper - Soccer Game

[Origin]

Author	= Harsh
Rating	= 3.9

[OpenSensor]

Mode	= Touch1
Area1	= (0,0,100,100)	SArea1

[Strings]

SArea1	= Touch to move gloves