# ALWAYS_SEND_UNMAPPED_KEY
# Mountain Climb Race 2

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Up	= Tap (91,83)
Down	= Tap (8,83)

[Guidance]

Up	= Gas
Down	= Brake

[Gamepad]

A	= Down	
B	= Up

[OpenSensor]

Mode	= TapB
A	= Up	SUp
B	= Down	SDown

[Strings]
SUp	= Gas
SDown	= Brake