# ALWAYS_SEND_UNMAPPED_KEY
# Extreme Moto Mania - Race Game

[Origin]

Author	= Harsh
Rating	= 3.5

[Keys]

Space	= Tap (87,83)
Down	= Tap (16,83)

[Guidance]

Space	= Speed
Down	= Brake

[Gamepad]

A	= Down
B	= Space
[OpenSensor]
Mode	= TapB
A	= Down	SDown
B	= Space	SSpace

[Strings]
SDown	= Brake
SSpace	= Speed