# ALWAYS_SEND_UNMAPPED_KEY

# SpeedBoat Shooting

[Origin]

Author	= Harsh
Rating	= 3.8
Build	= 1.0.65
Version	= 1.9
[Keys]

Space	= Tap (94,10)
Z	= Tap (94,89)
X	= Tap (94,38)
[Guidance]

Space	= SSpace
Z	= SZ
X	= SX
[Gamepad]
A	= Space
B	= Z

[OpenSensor]

Mode	= TapC
A	= Space	SSpace
B	= Z	SZ
C	= X	SX

[Strings]
SSpace	= Bomb
SZ	= Reload
SX	= Net