# ALWAYS_SEND_UNMAPPED_KEY
﻿# Super Stickman golf

[Origin]
Author					= Aditya Singh
Rating					= 4.8

[Keys]
Left					= Tap (9,92)
Right					= Tap (25,92)
Space					= Tap (93,93)
X = Swipe Up (20,80); Swipe Down (30,90)
Z  = Swipe Down (20,80); Swipe Up (30,90)

[Gamepad]
LeftStick_Left 				= Left
LeftStick_Right 				= Right
A					= Space
Hat_Left					= Left
Hat_Right					= Right
LeftStick_Up	= X
LeftStick_Down	= Z

Hat_Up	= X
Hat_Down	= Z


[Guidance]
Left					= Left Angle
Right					= Right Angle
Space					= Shoot
X	= Zoom Out
Z	= Zoom In

[OpenSensor]
Mode					= TapC
C					= Left				Stap
B					= Right				Stap1
A					= Space				Stap2

[Strings]
Stap					= Left
Stap1					= Right
Stap2					= Shoot


