# ALWAYS_SEND_UNMAPPED_KEY
# Darkness Reborn

[Origin]
Author	= Adi
Rating	= 4.0

[Keys]
W	= SwipeHold Up (12,70)
A	= SwipeHold Left (12,70)
S	= SwipeHold Down (12,70)
D	= SwipeHold Right (12,70)
Space	= Tap (93,87)
Up	= Tap (79,77)
Down	= Tap (86,66)
Left	= Tap (78,92)
Right	= Tap (95,62)

[Guidance]
W = SUp
A = SLeft
S = SDown
D = SRight
Space = SSpace
Up = SAt
Down	= SAtt
Left	= SAtta
Right	= SAttack

[Strings]
SUp = Move Up
SDown = Move Down
SLeft = Move Left
SRight = Move Right
SSpace	= Attack
SAt	= Attack 2
SAtt	= Attack 3
SAtta	= Attack 4
SAttack	= Attack 5
