# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Zombie Mission


[Origin]
Author	= Samyak Ranjan
Rating	= 3.5

[Keys]
A	= Tap (4,79
D	= Tap (22,78)
W	= Tap (13,62)
S	= Tap (13,92)
E	= Tap (21,64)
Q	= Tap (5,64)

Space	= Tap (91,88)	#Shoot
Enter	= Tap (79,91)	#Grenade
L	= Tap (96,71)	#Rocket

[Guidance]
A	= SLeft
D	= SRight
W	= SJump
S	= SDown
E	= SDRight
Q	= SDLeft

Enter	= SGrenade
Space	= SShoot
L	= SRocket

[GamePad]
LeftButton	= Q
RightButton	= E

A		= Space
B		= L
X		= Enter

Hat_Left	= Left
Hat_Right	= Right
Hat_Up		= Up
Hat_Down	= Down

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

[OpenSensor]
Mode	= TapI
A	= A		SLeft
B	= W		SJump
C	= D		SRight
D	= S		SDown
E	= E		SDRight
F	= Q		SDLeft
G	= Space		SShoot
H	= Enter		SGrenade
I	= L		SRocket

[Strings]
SRight	= Move Right
SShoot	= Shoot
SJump	= Jump
SDRight	= Move Diagonally Right
SDLeft	= Move Diagonally Left
SLeft	= Move Left
SDown	= Duck
SShoot	= Shoot
SGrenade= Throw Grenade
SRocket	= Shoot Rocket