# ALWAYS_SEND_UNMAPPED_KEY
#
# Crazy Jack - The Street Runner
#

[Origin]
Author 			= Harsh
Rating 			= 4.0

[Keys]
Up 			= Tap (10,60)
Down 			= Tap (80,60)

[Guidance]
Up 			= Jump
Down 			= Slide


[GamePad]
A 			= Down
B 			= Up

[OpenSensor]
Mode 			= TapB
A 			= Down		SSlide
B 			= Up		SJump

[Strings]
SSlide 			= Slide
SJump 			= Jump