# ALWAYS_SEND_UNMAPPED_KEY
# Zombie Safari

[Origin]

Author	= Harsh
Rating	= 3.7

[Keys]
Up	= Tap (85,61)
Space	= Tap (7,59)
X	= Tap (90,80)
Z	= Tap (81,80)
Left	= Tap (8,81)
Right	= Tap (21,81)

[Guidance]
Up	= Jump
Space	= Bomb
Z	= Left Shoot
X	= Right Shoot
Left	= Move Left
Right	= Move Right
A	= Health

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
Hat_Up	= Up
Hat_Left		= Left
Hat_Right		= Right
B		= X
A		= Space
X	= Z
Y	= A