# ALWAYS_SEND_UNMAPPED_KEY
# Joe Dever's Lone Wolf

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]
Left = Tilt Absolute (0,-20) Return
Right = Tilt Absolute (0,20) Return
[Gamepad]


LeftStick		= Tilt

Hat_Left		= Left
Hat_Right		= Right

[Guidance]
Left	= Turn Left
Right	= Turn Right

[OpenSensor]

Mode	= Tilt
Tilt	= STilt

[Strings]
STilt = Tilt To Flip
