# ALWAYS_SEND_UNMAPPED_KEY
# Axel Stunt Driver City Streets

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap

[Guidance]

Left	= SLeft
Right	= SRight
Space	= Boost

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right

A	= Space

[OpenSensor]
Mode	= TiltTapA
Tilt	= STilt
A	= Space	SSpace

[Strings]
STilt	= Tilt to move
SLeft	= Move Left
SRight	= Move Right
SSpace	= Boost