# ALWAYS_SEND_UNMAPPED_KEY
# Floppy Pipe

[Origin]

Author	= Harsh
Rating	= 3.6

[Keys]

Space	= Tap

[Guidance]

Space	= Fly

[Gamepad]

A	= Space

[OpenSensor]

Mode	= TapA
A	= Space	SSpace

[Strings]

SSpace	= Fly