# ALWAYS_SEND_UNMAPPED_KEY
# Contract Killer Zombies

[Origin]

Author	 = Harsh
Rating	 = 4.0

[Keys]

Space	= Tap (94,88)
Z	= Tap (95,64)
X	= Tap (4,91)

[OpenSensor]

Mode	= Touch1TapC
Area1	= (0,0,100,100)	SArea1
A	= Space		SSpace
B	= Z		SZ
C	= X		SX

[Strings]

SSpace		= Shoot
SZ		= Change the gun
SX		= Zoom
SArea1		= Touch to move