# ALWAYS_SEND_UNMAPPED_KEY
#
# Call Of Mini : Double Shot
#

[Origin]
Author 			= Chirag
Rating 			= 4.5

[Keys]


[OpenSensor]

Mode			= Touch2
Area1			= (1,57,76,39)		SMove
Area2			= (75,54,22,39) 	SArea


[Strings]

SMove			= Touch to Move
SArea			= Touch to Shoot

