# ALWAYS_SEND_UNMAPPED_KEY
#Miss pacman 3000

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]
Left	= Swipe Left
Right	= Swipe Right
Up	= Swipe Up
Down	= Swipe Down

[Guidance]
Left	= Move Left
Right	= Move Right
Up	= Move Up
Down	= Move Down

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up	= Up
Hat_Down	= Down
Hat_Right		= Right
Hat_Left		= Left

[OpenSensor]
Mode	= Touch1
Area1	= (0,33,100,33)	SArea

[Strings]
SArea	= Touch to move