# ALWAYS_SEND_UNMAPPED_KEY
#
# Real Trucker LM 3D
#

[Origin]
Author 			= Kunal
Rating 			= 4.0

[Keys]
Left 			= Tap (7,89)
Right 			= Tap (19,89)
Up 			= Tap (94,89)
Down 			= Tap (83,89)
Enter 			= Tap (52,98)
Space 			= Tap (47,98)
Z 			= Tap (2,40)
X 			= Tap (97,41)

[Guidance]
Left 			= SLeft
Right 			= SRight
Up 			= SUp
Down 			= SDown
Space 			= SLight
Enter 			= SStart
Z 			= SReverse
X 			= SCamera



[GamePad]
LeftStick_Left 		= Left
LeftStick_Right 	= Right
LeftStick_Up 		= Up
LeftStick_Down 		= Down
Hat_Left 		= Left
Hat_Right 		= Right
Hat_Up 			= Up
Hat_Down 		= Down
LeftButton 		= Enter
RightButton		= Space

A 			= Z
B 			= X


[OpenSensor]
Mode = TapD
A	= Left		SLeft
B	= Right		SRight
C	= Up		SUp
D	= Down		SDown


[Strings]
SLeft 			= Move Left
SRight 			= Move Right
SUp 			= Speed
SDown 			= Brake
SLight 			= Head Lights
SStart 			= Start Engine
SReverse 		= Reverse Gear
SCamera 		= Camera
