# ALWAYS_SEND_UNMAPPED_KEY
#
# skate gliding  


[Origin]


Author 		= Kunal
Rating		= 3.7

[Keys]
Up			= Swipe Up
Down			= Swipe Down
Z			= Swipe Up
Space			= Swipe Down

[Guidance]

Up			= SUp
Down			= SDown

[GamePad]

LeftStick_Up 		= Up
LeftStick_Down 		= Down

Hat_Up 			= Up
Hat_Down 		= Down

LeftButton 		= Up
RightButton 		= Down

B	 		= Up
A 			= Down

[OpenSensor]

Mode 			= TapB
A			= Up		SUp
B			= Down		SDown


[Strings]


SUp		= Move Up
SDown		= Move Down
