# ALWAYS_SEND_UNMAPPED_KEY
# Bike Race HD

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Down	= Swipe Right
Space	= Tap (27,73)
Up	= Tap (27,73)

[Gamepad]

LeftStick_Down	= Down
LeftStick_Up	= Up

Hat_Down		= Down
Hat_Up		= Up

A		= Up
B		= Down
LeftButton	= Up
RightButton	= Down

[Guidance]

Up	= Jump
Down	= Bend Down

[OpenSensor]

Mode	= TapB
A	= Up	SUp
B	= Down	SDown

[Strings]

SUp	= Jump
SDown	= Tap to down

