# ALWAYS_SEND_UNMAPPED_KEY
# 3D Boat Race

[Origin]

Author	= Harsh
Rating	= 3.7

[Keys]
Left	= Tilt Absolute (-45,0) Return
Right	= Tilt Absolute (45,0) Return


[Guidance]
Left	= Move Left
Right	= Move Right

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right