# ALWAYS_SEND_UNMAPPED_KEY
# My Paper Planet 2 (3D) 

[Origin]

Author	= Harsh
Ratings	= 4.3

[Keys]
Down	= Tilt Relative (-10,0)   
Up	= Tilt Relative (10,0) 
Left	= Tilt Relative (0,-20) 
Right	= Tilt Relative (0,20)  

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left		= Left
Hat_Down		= Down
Hat_Up		= Up
Hat_Right		= Right
LeftButton	= Left
RightButton	= Right

[Guidance]

Left	= Move Left
Right	= Move Right
Up	= Move Up
Down	= Move Down

[OpenSensor]
Mode	= Tilt
Tilt	= STilt

[Strings]
STilt	= Tilt to move left, right, up & down
