# ALWAYS_SEND_UNMAPPED_KEY
# Cat Vs Dog

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Space	= Tap

[Guidance]

Space	= Hold to Attack

[Gamepad]

A	= Space

[OpenSensor]

Mode	= TapA
A	= Space	SSpace

[Strings]

SSpace	= Attack
