# ALWAYS_SEND_UNMAPPED_KEY
# Offroad Legends 2

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Down	= Tap (74,87)
Up	= Tap (90,80)
Left	= Tap (5,80)
Right	= Tap (20,82)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right		= Right

A		= Down
B		= Up

[Guidance]

Down	= Brake/Back
Up	= Speed
Right	= Flip Down
Left	= Flip Up

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Up	SUp
D	= Down	SDown

[Strings]

SDown	= Brake/Back
SUp	= Speed
SRight	= Flip Down
SLeft	= Flip Back