# ALWAYS_SEND_UNMAPPED_KEY
# Stick Cricket Premier League

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (14,71)
Right	= Tap (85,71)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
Hat_Left		= Left
Hat_Right		= Right
LeftButton	= Left
RightButton	= Right

A		= Left
B		= Right

[Guidance]

Left	= Leg Side 
Right	= Off Side 


[OpenSensor]

Mode	= TapB
A	= Left	SLeft
B	= Right	SRight

[Strings]

SLeft	= Leg Side 
SRight	= Off Side 





