# ALWAYS_SEND_UNMAPPED_KEY
# FF legacy

[Keys]
Left = Tap (29,48)
Right = Tap (79,49)
N = Tap (8,85)
Up = Tap (92,76)
Space = Tap (8,62)

[Guidance]
Left	= Sleft
Right	= Sright
Up	= Sup
N	= Sn
Space	= Sspace

[Strings]
Sleft = Move Left
Sright = Move Right
Sn = Nitrous
Sup = Accelerate
Sspace	= Launch


[Strings.nb_NO]
SLean = Lene
STilt = Vippe å Lene
SSwipeTap = Dra for å Flytte / Hoppe, Trykk for å Skyte
SJump = Hoppe
SSlide = Skyv
SShoot = Skyte

