# ALWAYS_SEND_UNMAPPED_KEY
# High Speed Car HD

[Origin]

Author	= Mapping Manager
Rating	= 3.6

[Keys]

Up	= Tap (88,76)
Space	= Tap (8,84)
Down	= Tap (8,56)
Right	= Tilt Absolute (0,20) Return
Left	= Tilt Absolute (0,-20) Return

[Guidance]

Up	= SUp
Space	= SSpace
Down	= SDown
Right	= SRight
Left	= SLeft

[Gamepad]

B	= Up
A	= Space
Hat_Down	= Down
LeftStick	= Tilt
Hat_Right	= Right
Hat_Left	= Left

[Strings]

SUp	= Speed
SSpace	= Reverse
SDown	= Brake
SRight	= Move Right
SLeft	= Move Left
