# ALWAYS_SEND_UNMAPPED_KEY
# Angelo's World

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (3,80)
Right	= Tap (19,80)
Up	= Tap (11,64)
Down	= Tap (11,89)
Space	= Tap (93,86)
Z	= Tap (93,66)

[Guidance]

Left	= Move Back
Right	= Move Forward
Up	= Move Up
Down	= Move Down
Space	= Jump
Z	= Shoot

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left	= Left
Hat_Right	 = Right
Hat_Up	= Up
Hat_Down	= Down

A	= Z
B	= Space
