# ALWAYS_SEND_UNMAPPED_KEY
# Stick BMX

[Origin]

Author	= Harsh
Rating	= 4.5

[Keys]

Right	= Tap (11,86)
Up	= Tap (87,86)
Space	= Tap (87,86)

[Gamepad]


A		= Right	
B		= Up


[Guidance]

Right	= Speed
Up	= Jump

[OpenSensor]

Mode	= TapB
A	= Right	SRight
B	= Up	SUp

[Strings]

SRight	= Speed
SUp	= Jump 



