# ALWAYS_SEND_UNMAPPED_KEY
# Babylonian Twins Premium

[Origin]

Author	= Harsh
Rating	= 4.2

[Keys]

Left	= Tap (4,75)
Right	= Tap (21,69)
Up	= Tap (11,59)
Down	= Tap (11,87)
Space	= Tap (87,89)
Z	= Tap (93,66)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left		= Left
Hat_Down		= Down
Hat_Right		= Right
Hat_Up		= Up

A		= Space
B		= Z

LeftButton	= Space
RightButton	= Z

[OpenSensor]

Mode	= Touch1TapB
Area1	= (4,59,17,10) 	SArea1
A	= Space	SSpace
B	= Z	SZ

[Strings]

SArea1	= Touch to move
SSpace	= Shoot
SZ	= Jump