# ALWAYS_SEND_UNMAPPED_KEY
#
# Sky Riders
#

[Origin]
Author 			= Chirag
Rating 			= 4.4


[Keys]
Left 			= Tap (5,86)
Right 			= Tap (17,86)
Up 			= Tap (94,86)
Space			= Tap (94,86)


[Guidance]	
Left 			= SLeft
Right			= SRight
Up 			= SJump
Space 			= SJump

[GamePad]
LeftStick_Left 		= Left
LeftStick_Right 	= Right
Hat_Left 		= Left
Hat_Right 		= Right

A 			= Up
[OpenSensor]
Mode = TapC
A 			= Up		SJump
B 			= Right		SRight
C 			= Left		SLeft

[Strings]
SLeft 			= Move Left
SJump 			= Jump
SRight 			=  Move Right

