# ALWAYS_SEND_UNMAPPED_KEY
﻿# Despicable Me

[Origin]
Author	= Harsh
Rating	= 4.5

[Keys]
Up	= Swipe Up
Down	= Swipe Down
Left	= Swipe Left
Right	= Swipe Right
Z	= Tilt Absolute (0,-45) Return
X	= Tilt Absolute (0,45) Return

[Guidance]
Up	= SJump
Down	= SSlide
Left	= STurnLeft
Right	= STurnRight
Z	= SMoveLeft
X	= SMoveRight

[GamePad]
LeftStick_Left		= Left
LeftStick_Right		= Right
Hat_Left		= Left
Hat_Right		= Right

LeftButton	= Z
RightButton	= X

A			= Down
B			= Up

[OpenSensor]
Mode	= TiltTouch1	
Tilt	= STilt
Area1	= (0,33,100,33)		SArea1

[Strings]
STilt		= Tilt to Move Left/Right
SArea1		= Swipe to Turn/Jump/Slide
SJump		= Jump
SSlide		= Slide
STurnLeft	= Turn Left
STurnRight	= Turn Right
SMoveLeft	= Move Left
SMoveRight	= Move Right

[Strings.nb_NO]
STilt		= Vippe å Gå til Venstre / Høyre
SArea1		= Dra for å Slå / Hoppe / Skyv
SJump		= Hoppe
SSlide		= Skyv
STurnLeft	= Ta til Venstre
STurnRight	= Ta til Høyre
SMoveLeft	= Flytte til Venstre
SMoveRight	= Flytte til Høyre
