# ALWAYS_SEND_UNMAPPED_KEY
#
# Crazy Swing
#

[Origin]
Author 				= Chirag
Rating 				= 4.0

[Keys]
Space 				= Tap (70,82)
Right 				= Tap (70,82)
Left 				= Tap (20,83)

[Guidance]
Space 				= SRope
Right 				= SRope
Left 				= SOpprotate

[GamePad]
A 				= Space
LeftButton 			= Left
RightButton 			= Right
X 				= Left
B 				= Right

[OpenSensor]
Mode 				= TapB
A 				= Left		SOpprotate
B 				= Right		SRope

[Strings]
SRope 				= Throw Rope
SOpprotate 			= Rotate Opposite
