# ALWAYS_SEND_UNMAPPED_KEY
# Formula Unlimited Championship

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tap (8,82)
Right	= Tap (29,82)
Up	= Tap (91,52)
Down	= Tap (91,83)
Space	= Tap (91,52)
Z	= Tap (91,83)


[Guidance]

Left	= Move Left
Right	= Move Right
Down	= Speed Down
Up	= Speed Up


[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left		= Left
Hat_Right		= Right
Hat_Down		= Down
Hat_Up		= Up

LeftButton	= Left
RightButton	= Right

A		= Up
B		= Down

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Up	SUp
D	= Down	SDown

[Strings]

SLeft	= Left
SRight	= Right
SUp	= Speed Up
SDown	= Speed Down
