# ALWAYS_SEND_UNMAPPED_KEY
# Oh My Heroes

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (17,83)
Right	= Tap (33,83)
Up	= Tap (70,89)
Space	= Tap (84,87)

[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Space	= SSpace

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	 = Left
Hat_Right		= Right

A	= Space
B	= Up

[OpenSensor]

Mode	= TapD
A	 = Left	SLeft
B	= Up	SUp
C	= Right	SRight
D	= Space	SSpace

[Strings]
SLeft	= Move Back
SRight	= Move Forward
SSpace	= Attack
SUp	= Jump