# ALWAYS_SEND_UNMAPPED_KEY
﻿# Deathtrack

[Origin]
Author 	= Kunal
Rating	= 4.5


[Keys]
Left		= Tap (13,83)
Right		= Tap (86,83)
Space		= Tap (12,63)
Z		= Tap (12,63)
X		= Tap (87,62)
A		= Tap (88,46)


[GamePad]

LeftStick_Left 			= Left
LeftStick_Right 			= Right

Hat_Left  				= Left
Hat_Right 			= Right

LeftButton			= Space
RightButton			= Space

A				= Z
B				= X
X				= A

[Guidance]

Left 				= Turn Left
Right 				= Turn Right
Z				= Move Slow 
X				= NOS
Space				= Reverse
A				= Ghost				