# ALWAYS_SEND_UNMAPPED_KEY
#Majesty

[Origin]

Author	= Harsh
Rating	= 4.5

[Keys]

A	= Tap (3,5)
S	= Tap (3,92)
Z	= Tap (96,93)
X	= Tap (95,5)

[Gamepad]
A	= Z
B	= A
X	= S
Y	= X

[Guidance]
A	= Help1
S	= Help2
Z	= Castle
X	= Pause

[OpenSensor]

Mode	= TapD
A	= Z	SZ
B	= A	SA	
C	= S	SS
D	= X	SX

[Strings]
SZ	= Castle
SA	= Help1
SS	= Help2
SX	= Pause