# ALWAYS_SEND_UNMAPPED_KEY
# Wind-up Knight 

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Up	= Tap (91,81)
Space	= Tap (74,85)
Down	= Tap (26,86)
Z	= Tap (10,81)
[Guidance]

Up	= SUp
Space	= SSpace
Down	= SDown
Z	= SZ
[Gamepad]

LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up	= Up
Hat_Down	= Down

A	= Space
B	= Up
X	= Z

[OpenSensor]

Mode	= TapD
A	= Up	SUp
B	= Down	SDown
C	= Z	SZ
D	= Space	SSpace


[Strings]
SUp	= Jump
SDown	= Roll
SZ	= Shield
SSpace	= Attack