# ALWAYS_SEND_UNMAPPED_KEY
#
# Oven Break
#

[Origin]
Author 			= Chirag
Rating 			= 4.5

[Keys]
Up 			= Tap (17,88)
Down 			= Tap (82,88)

[Guidance]
Up 			= SUp
Down		= SDown

[GamePad]
A 			= Down
B 			= Up

[OpenSensor]

Mode = TapB
A 			= Up		SUp
B 			= Down	SDown

[Strings]

SUp	= Jump
SDown	= Slide/Hook
