# ALWAYS_SEND_UNMAPPED_KEY
# Bunnies & Blades

[Origin]

Author	= Harsh
Rating	= 3.7

[Keys]

Up	= Swipe Up

[Guidance]

Up	= SUp

[Gamepad]

A	= Up

[OpenSensor]

Mode	= TapA
A	= Up	SUp

[Strings]
SUp	= Jump