# ALWAYS_SEND_UNMAPPED_KEY
# Extreme Car Driving 3D

[Origin]

Author	= Harsh
Rating	= 3.6

[Keys]

Left	= Tilt Absolute (0,-45) Return
Right	= Tilt Absolute (0,45) Return
Up	= Tap (89,77)
Down	= Tap (11,82)
Z	= Tap (3,18)

[Guidance]

Left	= SLeft
Right	= SRight
Up	= SUp
Down	= SDown
Z	= SZ

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right

A	= Down
B	 = Up
X	= Z
[OpenSensor]

Mode	= TiltTapC
Tilt	= STilt
C	= Up	SUp
B	= Down	SDown
A	= Z	SZ
[Strings]
SUp	= Speed
SDown	= Reverse
STilt	= Tilt to move
SLeft	= Move Left
SRight	= Move Right
SZ	= Restart
