# ALWAYS_SEND_UNMAPPED_KEY
#
# Vector Full
#

[Origin]
Author 			= Aditya
Rating 			= 4.3

[Keys]
Up 			= Swipe Up
Down 			= Swipe Down
Right 			= Swipe Right

[Guidance]
Up 			= SJump
Down 			= SLean
Right 			= SAcc

[GamePad]
Hat_Up 			= Up
Hat_Down 		= Down
A			= Up
B			= Right

[OpenSensor]
Mode 			= Touch1
Area1 			= (0,33,100,33)             STouchArea

[Strings]
STouchArea 		= Swipe For Jump/Lean/Accelerate
SJump 			= Jump
SLean 			= Lean Down
SAcc 			=  Speed