# ALWAYS_SEND_UNMAPPED_KEY
# Orion

[Origin]

Author	= Mapping Manager
Rating	= 3.2

[Keys]

B	= Tap (94,91)
A	= Tap (94,73)
Right	= Tilt Absolute (0,20) Return
Left	= Tilt Absolute (0,-20) Return

[Guidance]

B	= SB
A	= SA
Right	= SRight
Left	= SLeft

[Gamepad]

B	= B
A	= A
Hat_Right	= Right
Hat_Left	= Left
LeftStick	= Tilt

[Strings]

SB	= Shoot
SA	= Missile
SRight	= Move Right
SLeft	= Move Left
