# ALWAYS_SEND_UNMAPPED_KEY
# Furious Driving

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Right 	= Tilt Absolute (0,20) Return
Left	= Tilt Absolute (0,-20) Return
Space	= Tap (7,74)
Down	= Tap (92,74)

[Gamepad]
LeftStick		= Tilt
Hat_Left		= Left
Hat_Right		= Right
A		= Down
B		= Space
[Guidance]

Down	= Brake

Left	= Move Left
Right	= Move Right
Space	= Restart

[OpenSensor]

Mode	= TiltTapB
Tilt	= STilt
A	= Space	SSpace
B	= Down	SDown	

[Strings]

SDown	= Brake
SSpace	= Restart
STilt	= Tilt to lean