# ALWAYS_SEND_UNMAPPED_KEY
﻿# Turbo Cricket

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Space	= Tap (86,91)
Z	= Tap (86,91)

[Guidance]

Space	= Shot

[Gamepad]

LeftButton	= Space
RightButton	= Space

A		= Space
B		= Space
X		= Space

[OpenSensor]
Mode	= TapA
A	= Space	SSpace

[Strings]
SSpace	= Tap To shot