# ALWAYS_SEND_UNMAPPED_KEY
#
# Dodo Fly
#

[Origin]
Author 			= Chirag
Rating 			= 4.0

[Keys]
Up 			= Tap
Right 			= Tap (85,87)
Space 			= Tap


[Guidance]
Space 			= SJump
Up 			= SJump
Right 			= SBoost


[GamePad]
LeftStick_Up 		= Up
LeftStick_Right 	= Right
Hat_Up 			= Up
Hat_Right 		= Right
A 			= Up
B 			= Right
LeftButton		= Up
RightButton 		= Right

[OpenSensor]
Mode 			= TapB
A 			= Up			SJump
B 			= Right 		SBoost

[Strings]
SJump 			= Jump
SBoost 			= Boost