# ALWAYS_SEND_UNMAPPED_KEY
#
# Run Run Run
#

[Origin]
Author 			= Harsh
Rating 			= 4.0

[Keys]
Up 			= Tap (15,85)
Down 			= Tap (84,85)
Space		= Tap (49,90)
[Guidance]
Up 			= SUp
Down		= SDown
Space		= SSpace
[GamePad]
A 			= Down
B 			= Up
X			= Space
[OpenSensor]

Mode = TapC
A 			= Up		SUp
B 			= Down	SDown
C			= Space	SSpace
[Strings]
SSpace	= Fever
SUp	= Jump
SDown	= Slide
