# ALWAYS_SEND_UNMAPPED_KEY
﻿# Flappy Whale

[Origin]

Author      	= Harsh
Rating		= 3.6

[Keys]

Space		= Tap

[Gamepad]

A		= Space

[Guidance]

Space		= Fly

[OpenSensor]

Mode		= TapA
A		= Space	SArea1

[Strings]

SArea1		= Fly