# ALWAYS_SEND_UNMAPPED_KEY
# Racing Rivals

[Origin]
Author	= Aditya
Rating	= 4.0

[Keys]
Space 	= Tap (7,57)
Down 	= Tap (15,70)
Up 	= Tap (85,71)
Z 	= Tap (95,58)
Right	= Tap (93,26)

[Guidance]

Space 	= Launch
Up 	= Shift Up
Down	= Shift Down
Z	= Accelerate
Right	= Nitro


