# ALWAYS_SEND_UNMAPPED_KEY
#
# Earn to Die
#

[Origin]

Author	= Harsh
Ratings	= 4.5

[Keys]

Up	= Swipe Up
Left	= Tap (13,82)
Right	= Tap (87,82)

[Gamepad]

LeftStick_Right	= Right
LeftStick_Left	= Left
Hat_Left		= Left
Hat_Right		= Right
A		= Up

[Guidance]

Right	= Flip Front
Up	= Jump
Left	= Flip Back

[OpenSensor]

Mode	= TapC
A	= Left	SLeft
B	= Right	SRight
C	= Up	SUp 

[Strings]

SUp	= Jump
SRight	= Flip Front
SLeft	= Flip Back
