# ALWAYS_SEND_UNMAPPED_KEY
﻿# Penombre

[Origin]
Author      	= Harsh
Rating		= 4.5

[Keys]

Space		= Tap
Z		= Tap (18,91)
[Gamepad]

A		= Z
B		= Space
[Guidance]

Space		= Jump
Z		= Health
[OpenSensor]

Mode		= TapB
A		= Space	SArea1
B		= Z	SZ

[Strings]

SArea1		= Jump
SZ		= Health