# ALWAYS_SEND_UNMAPPED_KEY
#
# Ninja Marathon 

[Origin]

Author 	= Kunal
Rating	= 4.5

[Keys]

Up = Tap (95,90)
Space = Tap (4,90)

[Guidance]

Up = SJump
Space = SShoot

[GamePad]

LeftStick_Up = Up
Hat_Up = Up
Hat_Right		= Space
LeftButton = Up
RightButton = Space
A = Space
B	= Up

[OpenSensor]

Mode = TapB
A = Up	 		SJump
B = Space		SShoot

[Strings]
SJump = Jump
SShoot = Shoot
