# ALWAYS_SEND_UNMAPPED_KEY
﻿# Rush Crush

[Origin]

Author	= Harsh
Rating	= 3.8
Version	= 1.0.11
Build	= 1.0.65
[Keys]

Left	= Tap (9,53)
Right	= Tap (91,53)

[Guidance]

Left	= SLeft
Right	= SRight

[Gamepad]

Hat_Left	= Left
Hat_Right	= Right
LeftStick_Left	= Left
LeftStick_Right	= Right

[OpenSensor]
Mode	= TapB
A	= Left	SLeft
B	= Right	SRight

[Strings]

SLeft	= Move Left
SRight	= Move Right
