# ALWAYS_SEND_UNMAPPED_KEY

# Space Racing 3D

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (94,77)
Z	= Tap (94,62)
X	= Tap (94,44)
C	= Tap (94,27)
A	= Tap (84,27)

[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Shoot
Z	= Shield
X	= Rocket
C	= Flying
A	= Power

[Gamepad]

LeftStick	= Tilt

Hat_Left	= Left
Hat_Right		= Right
Hat_Up	= A

A	= C
B	= Space
X	= X
Y	= Z

[OpenSensor]
Mode	= TiltTapD
Tilt	= STilt
A	= C	SC
B	= Z	SZ
C	= Space	SSpace
D	= X	SX

[Strings]
SSpace	= Shoot
SZ	= Shield
SC	= Flying
SX	= Rocket
STilt	= Tilt to move