# ALWAYS_SEND_UNMAPPED_KEY
# Slam King

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Space	= Tap (94,79)
Z	= Tap (85,88)
X	= Tap (75,89)

[Guidance]

Space	= Attack
Z	= Jump
X	= Smash

[OpenSensor]

Mode	= Touch1TapC
Area1	= (4,64,28,27)	SArea1
A	= Space	SSpace
B	= Z	SZ
C	= X	SX

[Strings]

SArea1	= Touch to move
SSpace	= Attack
SZ	= Jump
SX	= Smash