# ALWAYS_SEND_UNMAPPED_KEY
# Fario VS Watario

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (6,72)
Right	= Tap (18,72)
Up	= Tap (93,72)
Space	= Tap (82,72)

[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Change player
Up	= Jump

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right		= Right

A		= Space
B		= Up

[OpenSensor]
Mode	= TapD
A	= Left	SLeft
B	= Space	SSpace
C	= Right	SRight
D	= Up	SUp

[Strings]
SLeft	= Move Left
SRight	= Move Right
SUp	= Jump
SSpace	= Change Player
