# ALWAYS_SEND_UNMAPPED_KEY
# Panda Jump

[origin]
Author	= Darek

[keys]
Space	= Tap

[guidance]
Space	= SJump

[opensensor]
Mode	= TapA
A	= Space 	SJump

[GamePad]
A		= Space
B               = Space
X               = Space
Y               = Space  

[Strings]
SJump	= Jump