# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Kingdoms + Dragons 
#

[Origin]
Author = Chirag
Rating = 4.5

[Keys]
Space = Tap (92,86)
Z = Tap (80,89)


[Guidance]
Space = SHit
Z = SSpecial

[GamePad]


[OpenSensor]
Mode = Touch1TapB
Area1 = (3,61,18,32)	SMove
A = Z		SSpecial
B = Space	SHit

[Strings]
SSpecial = Special Hit
SHit = Hit