# ALWAYS_SEND_UNMAPPED_KEY
#
# Bunny Skater
#

[Origin]
Author = Chirag
Rating = 4.0


[Keys]
Right = Tap (13,78)
Up = Tap (84,78)


[Guidance]
Right = SRight
Up = SJump

[GamePad]
Hat_Right = Right
Hat_Up = Up
LeftStick_Right = Right
LeftStick_Up = Up
A = Right
B = Up

[OpenSensor]
Mode = TapB
A = Right	SRight
B = Up		SJump

[Strings]
SRight = Sprint
SJump = Jump