# ALWAYS_SEND_UNMAPPED_KEY
# Fail Hard

[Origin]
Author	= Harsh
Ratings	= 4.0

[Keys]
Right	= Tap (95,76)
Down	= Tap (4,76)
Space	= Tap (14,58)

[Guidance]
Right	= Speed
Down	= Brake
Space	= Jump

[Gamepad]
LeftStick_Up	= Space

Hat_Up	= Space

A		= Down
B		= Right

[OpenSensor]
Mode	= TapC
A	= Space	SSpace
B	= Right	SRight
C	= Down	SDown

[Strings]
SSpace	= Jump
SRight	= Speed
SDown	= Brake