# ALWAYS_SEND_UNMAPPED_KEY
# Death Worm


[Keys]

A	= Tap (80,85)
B	= Tap (95,85)
Left	= Key Left
Right	= Key Right
Up	= Key Up
Down	= Key Down

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left		= Left
Hat_Right		= Right
Hat_Up		= Up
Hat_Down	= Down

A		= A
B		= B

[OpenSensor]

Mode	= Touch1TapB
Area1	= (3,47,65,50)	SArea1
A	= A		SShoot
B	= B		Sprint

[Strings]

SArea1		= Touch to Move
SShoot		= Shoot
Sprint		= Speed
