# ALWAYS_SEND_UNMAPPED_KEY
﻿#  kill shot
[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Tap (3,37)
Right	= Tap (96,37)
Space	= Tap (8,79)
Z	= Tap (91,79)
X	= Tap (78,87)
C	= Tap (95,5)
[Guidance]
Left	= SLeft
Right	= SRight
Space	= SSpace
Z	= SZ
X	= SX
C	= SC
[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left		= Left
Hat_Right	 	= Right

A	= Space
B	= Z
X	= X
Y	= C
[Strings]

SLeft	= Move Left
SRight	= Move Right
SSpace	= Shoot
SZ	= Zoom
SX	= Reload
SC	= Change gun