# ALWAYS_SEND_UNMAPPED_KEY
# Rapper Run-Parkour Game

[Origin]
Author	= Harsh
Rating	= 3.5

[Keys]
Up	= Swipe Up
Down	= Swipe Down
Left	= Swipe Left
Right	= Swipe Right

[Guidance]
Up	= SJump
Down	= SSlide
Left	= STurnLeft
Right	= STurnRight

[GamePad]
Hat_Up			= Up
Hat_Down		= Down
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Up		= Up
LeftStick_Down		= Down
LeftStick_Left		= Left
LeftStick_Right		= Right


[OpenSensor]

Mode	= Touch1	
Area1	= (0,33,100,33)		SArea1

[Strings]

SArea1		= Swipe to Turn/Jump/Slide
SJump		= Jump
SSlide		= Slide
STurnLeft		= Turn Left
STurnRight	= Turn Right
