# ALWAYS_SEND_UNMAPPED_KEY
# Stickman Downhill

[Origin]
Author	= Harsh
Rating	= 4.0

[Keys]
Down	= Tap (15,50)
Up	= Tap (85,50)
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return

[Guidance]
Down	= Brake
Up	= Speed
Left	= Flip Up
Right	= Flip Down

[GamePad]
LeftStick		= Tilt

Hat_Left		= Left
Hat_Right		= Right

A		= Down
B		= Up

[OpenSensor]
Mode	= TiltTapB
Tilt	= STilt
A	= Up		SBrake
B	= Down		SGas

[Strings]
STilt			= Tilt to Flip
SGas			= Gas
SBrake			= Brake
