# ALWAYS_SEND_UNMAPPED_KEY
﻿# South Surfers

[Origin]
Author	= Samyak Ranjan
Rating	= 3.5

[Keys]
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (50,50)

[Guidance]
LeftStick	= SSteer
Left		= SSteerLeft
Right		= SSteerRight
Space		= SJump

[GamePad]
Tilt_RollMax	= 25
LeftStick	= Tilt

Hat_Left	= Left
LeftButton	= Left

Hat_Right	= Right
RightButton	= Right

A		= Space
X		= Space

[OpenSensor]
Mode	= TiltTapA
Tilt	= STilt
A	= Space		SJump

[Strings]
STilt		= Tilt to Steer
SSteer		= Steer
SSteerLeft	= Steer Left
SSteerRight	= Steer Right
SJump		= Jump
