# ALWAYS_SEND_UNMAPPED_KEY
# Zombie Highway

[Origin]
Author	= Samyak Ranjan
Rating	= 3

[Keys]
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (13,64)
Z	= Tap (90,64)


[Guidance]
Left		= SSteerLeft
Right		= SSteerRight
Space		= SSpace
Z		= SZ

[GamePad]
Tilt_RollMax	= 20
LeftStick	= Tilt

Hat_Left	= Left
LeftButton	= Left

Hat_Right	= Right
RightButton	= Right

A		= Space
B		= Z


[OpenSensor]
Mode	= TiltTapA
Tilt	= STilt
A	= Space	SSpace
B	= Z	SZ

[Strings]
STilt		= Move Left/Right
SSteerLeft	= Move Left
SSteerRight	= Move Right
SSpace		= Left Shoot
SZ		= Right Shoot