# ALWAYS_SEND_UNMAPPED_KEY
# God Of Blades

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Left	= Swipe Left
Right	= Swipe Right
Up	= Swipe Up
Down	= Swipe Down
Space	= Tap (91,88)

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left		 = Left
Hat_Down	= Down
Hat_Right		= Right
Hat_Up		= Up

LeftButton	= Space
RightButton	= Space

A		= Space
B		= Space

[OpenSensor]

Mode	= Touch1TapA
Area1	= (0,33,100,33)	SArea1
A	= Space		SSpace

[Strings]

SArea1	= Touch to Attack
SSpace	= Power