# ALWAYS_SEND_UNMAPPED_KEY
# Age of wind 2 Free

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (86,85)
Z	= Tap (69,89)
X	= Tap (49,96)
[Guidance]

Left	= Move Left
Right	= Move Right
Space	= Shoot
Z	= Zoom
X	= Map

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right

LeftButton	= Left
RightButton	= Right

Hat_Left		= Left
Hat_Right		= Right

A		= Space
B		= Z
X		= X

[OpenSensor]

Mode	= TiltTapC
Tilt	= STilt
A	= Space	SSpace
B	= Z	SZ
C	= X	SX

[Strings]
STilt	= Tilt to move
SSpace	= Shoot
SZ	= Zoom
SX	= Map