# ALWAYS_SEND_UNMAPPED_KEY
#
# Attack Run:Attack on Titan
#

[Origin]
Author 			= Harsh
Rating 			= 4.5

[Keys]
Up 			= Tap (90,80)
Space 			= Tap (10,80)

[Guidance]
Up 			= SUp
Space 			= SSpace

[GamePad]
A 			= Space
B 			= Up

[OpenSensor]

Mode = TapB
A 			= Up		SUp
B 			= Space	SSpace

[Strings]

SUp	= Jump
SSpace	= Attack
