# ALWAYS_SEND_UNMAPPED_KEY
﻿# Devil Ninja2

[Origin]

Author	= Harsh
Rating	= 5.0

[Keys]

Up	= Tap (4,90)
Space	= Tap (95,87)
Z	= Tap (23,92)

[Guidance]


Up	= SUp
Space	= SSpace
Z	= SZ

[GamePad]


B		= Up
A		= Space
X		= Z

[OpenSensor]
Mode	= TapC
A	= Up		SUp
B	= Space 		SSpace
C	= Z		SZ

[Strings]
SUp	= Jump
SSpace	= Attack
SZ	= Power