# ALWAYS_SEND_UNMAPPED_KEY
# Soul craft

[Origin]

Author	= Kunal
Rating	= 3.9

[Keys]

Space	= Tap (94,70)
Z	= Tap (90,51)
X	= Tap (89,88)

[Guidance]

Space	= Attack
Z	= Jump
X	= Smash

[OpenSensor]

Mode	= Touch1TapC
Area1	= (2,48,16,32)	SArea1
A	= Space	SSpace
B	= Z	SZ
C	= X	SX

[Strings]

SArea1	= Touch to move
SSpace	= Attack
SZ	= Power
SX	= Invisible