# ALWAYS_SEND_UNMAPPED_KEY

# ATV & DirtBike 3D Racing

[Origin]
Author	= Samyak Ranjan
Rating	= 4.0

[Keys]
Up	= Tap (92,67)
Down	= Tap (72,81)
Left	= Tap (8,96)
Right	= Tap (41,96)
Z	= Tap (93,60)


[Guidance]
Up	= SUp
Down	= SBrake
Left	= SLeft
Right	= SRight
Z	= SRev

[GamePad]
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Left		= Left
LeftStick_Right		= Right

A			= Down
B			= Up
X			= Z

[Strings]
SUp		= Accelerate
SBrake		= Brakes
SLeft		= Turn Left
SRight		= Turn Right
SRev		= Reverse