# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Cycle Boy 3D
#

[Origin]
Author 				= Aditya
Rating 				= 3.6

[Keys]
Up				= Tap (13,86)
Right				= Tap (76,85)
Space				= Tap (13,86)


[GamePad]
A 				= Up
B 				= Right
LeftButton 			= Up
RightButton 			= Right
Hat_Left 			= Up
Hat_Right 			= Right
LeftStick_Left 			= Up
LeftStick_Right 		= Right

[Guidance]
Up				= Jump
Right				= Move

[OpenSensor]
Mode 				= TapB
A 				= Left			STap1
B 				= Right			STap2


[Strings]
STap1 				= Jump
STap2 				= Move
	
