# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Animal Transformer Run 3D
#

[Origin]
Author 				= Aditya
Rating 				= 4.1

[Keys]
Left 				= Tap (10,84)
Right 				= Tap (85,84)
Up 				= Tap
Down 				= Tap (45,84)
Space				= Tap

[GamePad]
LeftStick_Left 			= Left
LeftStick_Right 		= Right 
LeftStick_Up 			= Up 
LeftStick_Down 			= Down 
A				= Down
Hat_Left 			= Left
Hat_Right 			= Right 
Hat_Up 				= Up 
Hat_Down 			= Down
Y 				= Up 
X 				= Left 
B 				= Right

[Guidance]
Left				= Squirrel
Right				= Rhino
Down				= Deer
Up				= Action
Space				= Action

[OpenSensor]
Mode 				= TapD
A 				= Left   	SLeft
B 				= Right 	SRight
C 				= Up		SUp
D 				= Down		SDown

[Strings]
SLeft 				= Squirrel
SRight 				= Rhino
SUp 				= Action
SDown 				= Deer


