# ALWAYS_SEND_UNMAPPED_KEY
#
# Canabalt HD
#

[Origin]
Author 			= Harsh
Rating 			= 4.0

[Keys]
Space 			= Tap

[Guidance]
Space 			= SSpace

[GamePad]
A 			= Space

[OpenSensor]	
Mode 			= TapA
A 			= Space		SSpace

[Strings]
SSpace			= Jump

