# ALWAYS_SEND_UNMAPPED_KEY
# Speed Car II
[Origin]
Author	= Samyak Ranjan
Rating	= 3.6

[Keys]
Left	= Tilt Absolute (0,-5) Return
Right	= Tilt Absolute (0,5) Return
Space	= Tap

[Guidance]
LeftStick	= SLean
Left		= SLeanRight
Right		= SLeanLeft
Space		= SAccelerate

[GamePad]
Tilt_RollMax	= -5
LeftStick	= Tilt

Hat_Left	= Left
LeftButton	= Left

Hat_Right	= Right
RightButton	= Right

A		= Space
B		= Space

[OpenSensor]
Mode	= TiltTapA
Tilt	= STilt
A	= Space		SAccelerate

[Strings]
STilt		= Tilt to Lean
SLean		= Lean
SLeanLeft	= Lean Left
SLeanRight	= Lean Right
SAccelerate	= Accelerate