# ALWAYS_SEND_UNMAPPED_KEY
# Speed Moto

[Origin]

Author 	= Harsh
Rating	= 4.5

[Keys]

Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Space
Hat_Left		= Left
Hat_Right		= Right
Hat_Up		= Space
A		= Space
B		= Space

LeftButton	= Left
RightButton	= Right

[Guidance]

Left	= Move left
Right	= Move right

[OpenSensor]

Mode	= TiltTapA
Tilt	= STilt
A	= Space	SSpace

[Strings]

STilt	= Tilt to move left & right
SSpace	= Speed

