# ALWAYS_SEND_UNMAPPED_KEY
# NIGHTBIRD TRIGGER X

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Space	= Tap

[Guidance]

Space	= Shoot

[Gamepad]

A	= Space

[OpenSensor]

Mode	= TapA
A	= Space	SSpace

[Strings]

SSpace	= Shoot