# ALWAYS_SEND_UNMAPPED_KEY
# Dark Knight Story SD

[Origin]
Author	= Aditya
Rating	= 4.0

[Keys]
Up	= Tap (66,90)
Right	= Tap (31,90)
Left	= Tap (18,90)
Space	= Tap (84,90)


[Guidance]
Right	= Move Right
Up	= Sheild
Left	= Move Left
Space	= Attack


[Gamepad]
Hat_Right		= Right
Hat_Left		= Left
Hat_Up			= Up
B			= Space
A			= Up


