# ALWAYS_SEND_UNMAPPED_KEY
# The skewer of Takumi

[Origin]
Author	= Aditya
Rating	= 4.0

[Keys]
Up	= Tap (10,50)
Right	= Tap (10,50)

[Guidance]
Right	= Skew
Up	= Skew


[Gamepad]
Hat_Right		= Right
Hat_Up			= Up
B			= Up


