# ALWAYS_SEND_UNMAPPED_KEY
﻿# Gachinko Tennis

[Origin]

Author	= Harsh
Rating	= 3.8

[Keys]

Left	= Tap (7,76)
Right	= Tap (20,76)
Up	= Tap (14,64)
Down	= Tap (14,87)
Space	= Tap (89,66)
Z	= Tap (88,90)


[Guidance]

Left	= Left
Right	= Right
Up	= Up
Down	= Down
Space	= Shoot
Z	= Slice

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left	= Left
Hat_Right	= Right
Hat_Down	 = Down
Hat_Up	= Up

A	= Space
B	= Z

LeftButton	= Z
RightButton	= Space
