# ALWAYS_SEND_UNMAPPED_KEY
﻿# Rescue Ray

[Origin]
Author      		= Harsh
Rating		= 3.8

[Keys]

Space		= Tap (91,20)

[Gamepad]

A		= Space

[Guidance]

Space		= Bomb

[OpenSensor]

Mode		= TapA
A		= Space	SArea1

[Strings]

SArea1		= Bomb