# ALWAYS_SEND_UNMAPPED_KEY
#
# Neon Rider
#

[Origin]
Author 			= Harsh
Rating 			= 3.5

[Keys]
Up 			= Tap (17,88)
Down 			= Tap (82,88)

[Guidance]
Up 			= SUp
Down		= SDown

[GamePad]
A 			= Down
B 			= Up

[OpenSensor]

Mode = TapB
A 			= Up		SUp
B 			= Down	SDown

[Strings]

SUp	= Speed
SDown	= Brake