# ALWAYS_SEND_UNMAPPED_KEY
﻿# Minigore 2

[Origin]
Author      	= Harsh
Rating		= 4.0

[Keys]

Space		= Tap (88,75)

[Gamepad]

A		= Space

[Guidance]

Space		= SSpace

[OpenSensor]

Mode		= TapA
A		= Space	SSpace

[Strings]

SSpace	= Shoot