# ALWAYS_SEND_UNMAPPED_KEY
    # Fun Run

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]
Space		= Tap (5,93)
Up		= Tap (95,93)

[Guidance]
Space		= Item
Up		= Jump

[GamePad]

LeftButton	= Up
RightButton	= Space
LeftStick_Up	= Up
Hat_Up		= Up
A		= Up
B		= Space

[OpenSensor]

Mode	= TapB
A	= Space		SSpace
B	= Up		SJump

[Strings]
SSpace	= Use Item
SJump	= Jump
