# ALWAYS_SEND_UNMAPPED_KEY
#
# Dash Out
#

[Origin]
Author 			= Chirag
Rating 			= 4.5

[Keys]
Up 			= Tap (90,83)
Space 			= Tap (10,83)

[Guidance]
Up 			= SUp
Space 			= SSpace

[GamePad]
A 			= Space
B 			= Up

[OpenSensor]

Mode = TapB
A 			= Up		SUp
B 			= Space	SSpace

[Strings]

SUp	= Jump
SSpace	= Attack
