# ALWAYS_SEND_UNMAPPED_KEY
﻿#
# Atomic Bomber Full
#

[Origin]
Author 			= Chirag
Rating 			= 4.0

[Keys]
Left 			= Swipe Left
Right 			= Swipe Right
Up 			= Swipe Up
Down 			= Swipe Down
Space 			= Tap (5,87)

[Guidance]
Left 			= Left
Right 			= Right
Up 			= Up
Down 			= Down
Space 			= Shoot

[GamePad]
LeftStick_Left 		= Left
LeftStick_Right 	= Right
LeftStick_Up 		= Up
LeftStick_Down 		= Down
Hat_Left 		= Left
Hat_Right 		= Right
Hat_Up 			= Up
Hat_Down 		= Down
A 			= Space

[OpenSensor]
Mode 			= Touch1TapA
Area1 			= (0,33,100,33)		SArea
A 			= Space			SShoot

[Strings]
SArea 			= Touch To Move
SShoot 			=  Missile




