# ALWAYS_SEND_UNMAPPED_KEY
﻿# Glu Hockey 3D

[Origin]

Author	= Harsh
Rating	= 3.8


[Keys]

Left	= Tap (7,80)
Right	= Tap (91,80)

[Guidance]

Left	= Move Left
Right	= Move Right

[Gamepad]


LeftStick_Left	= Left
LeftStick_Right	= Right

Hat_Left	= Left
Hat_Right	= Right


[OpenSensor]

Mode	= TapB
A	= Left	SLeft
B	= Right	SRight

[Strings]

SLeft	= Left
SRight	= Right