# ALWAYS_SEND_UNMAPPED_KEY

# Flashout 2

[Origin]
Author	= Samyak Ranjan
Rating	= 4.0

[Keys]
Left	= Tilt Absolute (0,-20) Return
Right	= Tilt Absolute (0,20) Return
Space	= Tap (93,77)

[Guidance]

Left	= SLeft
Right	= SRight
Space	= SAttack

[GamePad]
Hat_Left		= Left
Hat_Right		= Right

LeftStick		= Tilt
A			= Space

[OpenSensor]
Mode	= TiltTapA	
A	= Space	SAttack
Tilt	= STilt
[Strings]
SLeft		= Move Left
SRight		= Move Right
SAttack		= Shoot Bullets
STilt	= Tilt to move