# ALWAYS_SEND_UNMAPPED_KEY
# Sky Aces Free

[Origin]

Author	= Harsh
Rating	= 3.9

[Keys]

Up	= Tap (8,54)
Down	= Tap (8,85)
Space	= Tap (91,85)
Z	= Tap (91,55)

[Guidance]

Up	= Move Up
Down	= Move Down
Space	= Shoot
Z	= Bomb

[Gamepad]

LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Up	= Up
Hat_Down	= Down

A	= Space
B	= Z

[OpenSensor]

Mode	= TapD
A	= Up	SUp
B	= Space	SSpace
C	= Down	SDown
D	= Z	SZ

[Strings]
SUp	= Move Up
SDown	= Move Down
SSpace	= Shoot
SZ	= Bomb