# ALWAYS_SEND_UNMAPPED_KEY
# Baja Trophy Truck Racing

[Origin]

Author	= Harsh
Rating	= 4.1

[Keys]

Down	= Tap (10,83)
Up	= Tap (89,83)
Right	= Tap (89,49)
Left	= Tap (7,40)

[Guidance]

Left	= Flip Back
Right	= Flip Front
Up	= Gas
Down	= Brake

[Gamepad]

LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up
LeftStick_Down	= Down

Hat_Left	= Left
Hat_Down	= Down
Hat_Up	 	= Up
Hat_Right	= Right

A	= Up
B	= Down
LeftButton = Left
RightButton = Right

[OpenSensor]

Mode	= TapD
A	= Left	SLeft
B	= Right	SRight
C	= Up	SUp
D	= Down	SDown

[Strings]

SRight	= Flip Front
SLeft	= Flip Back
SUp	= Gas
SDown	= Brake