# ALWAYS_SEND_UNMAPPED_KEY
#
# Dark Legends
#

[Origin]
Author 			= Chirag
Rating 			= 4.7

[Keys]
Space 			= Tap (94,88)
Z 			= Tap (94,88)

[OpenSensor]
Mode 			= Touch1TapA
Area1 			= (5,65,15,27)		SArea
A 			= Space			SShoot

[Strings]
SArea			= Touch To Move
SShoot			= Shoot

