# ALWAYS_SEND_UNMAPPED_KEY
# GamePop Home App
# MODE = CURSOR

[Guidance]
Up	= SUp
Down	= SDown
Left	= SLeft
Right	= SRight
Enter	= SSelect

[GamePad]
Hat_Up			= Up
Hat_Down		= Down
Hat_Left		= Left
Hat_Right		= Right

LeftStick_Up		= Up
LeftStick_Down		= Down
LeftStick_Left		= Left
LeftStick_Right		= Right

A			= Enter

[OpenSensor]
Mode		= Swipe
SwipeTap	= SSwipeTap
Up		= Up		SUp
Down		= Down		SDown
Left		= Left		SLeft
Right		= Right		SRight
A		= Enter		SSelect

[Strings]
SUp		= Up
SDown		= Down
SLeft		= Left
SRight		= Right
SSelect		= Select
SSwipeTap	= Swipe to Change, Tap to Select

[Strings.nb_NO]
SUp		= Opp
SDown		= Ned
SLeft		= Venstre
SRight		= Høyre
SSelect		= Velg
SSwipeTap	= Dra for å Endre, Trykker Du for å Velge
