# ALWAYS_SEND_UNMAPPED_KEY
# Spido Mario

[Origin]

Author	= Harsh
Rating	= 4.0

[Keys]

Left	= Tap (19,80)
Right	= Tap (34,80)
Up	= Tap (84,80)
Space	= Tap (84,80)

[Guidance]

Left	= Move Left
Right	= Move Right
Up	= Jump
Space	= Jump

[Gamepad]
LeftStick_Left	= Left
LeftStick_Right	= Right
LeftStick_Up	= Up

Hat_Up	= Up
Hat_Left	= Left
Hat_Right		= Right

A		= Space
B		= Space

LeftButton	= Left
RightButton	= Right

[OpenSensor]

Mode	= TapC
A	= Space	SSpace
B	= Left	SLeft
C	= Right	SRight

[Strings]

SSpace	= Jump
SLeft	= Move Left
SRight	= Move Right