
<br>
<br>
<br>
<br>
<br>
<br>

<h1>수정 페이지</h1>
<%= form_tag("/freeboard/update", method: "post") do %>
    
      <p> 작성자 : <%= @one_fb.fb_name %></p> 
    <br>
        <input type="text" name="md_title" placeholder="Title">
    <br>
    <br>
        <textarea type="text" name="md_content"  placeholder="Content"></textarea>
    <br>
        <p><input type="password" name="md_passowrd" placeholder="Pw"> 비밀번호 입력해 </p>
    <br>
        <input type="submit" value="확인">
        <input type='hidden' name='id' value='<%= @id %>'>
    
<% end %>