font1{
          font-family: 'Jeju Gothic', serif;
      }
font2{
          font-family: 'Hanna', serif;
      }

      
body {
              padding:0;
              margin:0;
 
              background-image: url('http://www.ucorean.com/files/attach/images/3959561/691/787/008/peaceful_summer_day-1920x1080.jpg');
              width: 100%; 
              height: 100%; 
              overflow: hidden; 
              background-position: 0 0; 
              background-repeat: no-repeat; 
              background-attachment: fixed; 
              background-size: cover;
              position: relative;
              overflow-y: auto; 
          }

