<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/hanna.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
    <link rel="stylesheet" type="text/css" href="/css/fbstylesheet.css">

<style>

.jumbotron
{ min-height: 200px;
  width: 400px;
  color:black;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.5);
  }
  
  .jumbotron2
{ min-height: 100px;
  width: 300px;
  color:black;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.5);
  }
 
</style>
<center>
<body>
 <%=render :partial =>"game_page/fixed_bar" %><br><br><br><br><br><br><br><br><br><br><br><br>
 <div class="jumbotron">
 <div class="jumbotron2">
      <form id="form1">
        <table class="table table-condensed" id="table" style="padding-top:1px; padding-bottom:1px; background:rgba(255,255,255,0.6); align:center">
        <font1><font size="6px;" color="#59606E"><font1>로그인 하러가기</font1></font></font1>
        
          <tr>
          
            <th style="text-align: center"><a href="/users/sign_in"><font size="10px">sign_in</font></a> </th>
            
          </tr>
         
        </table>
       
       
      </form>
    </div>
</div>
</body>
</center>