<<<<<<< HEAD
<style>
.jumbotron
{ min-height: 300px;
  width: 400px;
  color:black;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.5);
  }
 
</style>
<center>
<body style="background-image:url('http://www.ucorean.com/files/attach/images/3959561/691/787/008/peaceful_summer_day-1920x1080.jpg'); background-size:cover;">
 <br><br><br><br>
 

<div class="container">
<div class="jumbotron">





<p>Hello <%= @resource.email %>!</p>
=======
<p>안녕하세요? <%= @resource.name %>님!</p><br>
>>>>>>> d4b0f7621b117f0e16de01f91588e41dffd3a41c

<p>비밀번호를 바꾸시려면 아래 링크를 클릭하세요.</p><br>

<p><%= link_to '비밀번호 바꾸기', edit_password_url(@resource, reset_password_token: @token) %></p><br>

<<<<<<< HEAD
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>




</div>
</div>
</body>
</center>

=======
<p>비밀번호 변경을 원하시지 않는다면 이 메일을 무시하세요.</p><br>
<p>이용해주셔서 감사합니다.</p><br>
>>>>>>> d4b0f7621b117f0e16de01f91588e41dffd3a41c
